# Books – Data Collection and Integration Plan

## Information Integration and Analytic Data Processing – Project Phase I

<div style="text-align: left; margin: 0;">
  <table style="margin-left: 0;">
    <tr>
      <th>Clara Saldanha</th>
      <th>Daniel João</th>
      <th>Diogo Antunes</th>
      <th>Mariana Tomás</th>
    </tr>
    <tr>
      <td><code>fc64501@alunos.fc.ul.pt</code></td>
      <td><code>fc56455@alunos.fc.ul.pt</code></td>
      <td><code>fc64337@alunos.fc.ul.pt</code></td>
      <td><code>fc60421@alunos.fc.ul.pt</code></td>
    </tr>
  </table>
</div>

**Group:** 12

**Professor:** Assistant Professor **André Rodrigues** from the Informatics Department

In [1]:
import sys
import importlib.metadata as metadata

# Add whenever you use more bruh
packages = {
    "pandas": "pandas",
    "numpy": "numpy",
    "matplotlib": "matplotlib",
    "seaborn": "seaborn",
    "rapidfuzz": "rapidfuzz"
}

print("Python version:", sys.version)

for pkg_name, pkg_identifier in packages.items():
    try:
        version = metadata.version(pkg_identifier)
        print(f"{pkg_name} version: {version}")
    except metadata.PackageNotFoundError:
        print(f"{pkg_name} is not installed.")

Python version: 3.12.2 | packaged by conda-forge | (main, Feb 16 2024, 20:54:21) [Clang 16.0.6 ]
pandas version: 2.2.3
numpy version: 1.26.4
matplotlib version: 3.9.2
seaborn version: 0.13.2
rapidfuzz version: 3.13.0

In [ ]:
import os
import re 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import csv
from rapidfuzz import process, fuzz
from dateutil import parser


# working directory just to make sure
cwd = os.getcwd()
print("Current working directory:", cwd)

In [48]:
# if you want to see full entry values in pandas, regardless of their size
pd.set_option('display.max_colwidth', None)

In [55]:
# set it back column to have a limit
pd.set_option('display.max_colwidth', 100)

In [49]:
# see all columns
pd.set_option('display.max_columns', None)

## 1. Datasets Overview

### 1.1. Amazon Reviews’23 - Books
https://amazon-reviews-2023.github.io/

The **Amazon Reviews’23** dataset is a large-scale collection of Amazon product reviews assembled by the McAuley Lab in 2023. It comprises over 571 million **reviews**, with user feedback that includes ratings, review texts, and helpfulness votes. 

In addition, it provides detailed **item metadata** such as product descriptions, prices, and raw images, alongside relational data like user-item interaction graphs and bought-together links. 

Covering interactions (reviews) from May 1996 to September 2023, the dataset features fine-grained timestamps, cleaner preprocessed review datasets, and standardized data splits. Its mostly used for benchmarking recommendation systems.

We selected the a pre-made subset specific to items categorized has "Books", emcompasing both physical books and *ebooks*. We took two files from it, both came zipped to accomodate better data transfer.

- **Books.jsonl.gz** - Preprocessed with the rewiews data
- **meta_books.jsonl.gz** - File with the metadata of items (descriptions, price, rating, etc.) catagorized as Books in amazon.

### 1.2. Goodreads - 2017
https://cseweb.ucsd.edu/~jmcauley/datasets/goodreads.html#datasets

This dataset was collected from goodreads.com in late 2017, focusing on user‑submitted public shelves that do not require login to view. All user and review identifiers have been anonymized. It covers approximately 2.36 million books (including works, book series, and authors), 876,000 users, and over 228 million user‑book interactions (ratings, reads, and other shelf statuses).

It also includes **detailed metadata about books**, authors, works, and series, as well as comprehensive review data. Subsets organized by genre (e.g., Children’s, Fantasy, Romance) are provided for more manageable exploration.

(1) meta-data of the books, (2) user-book interactions (users' public shelves) and (3) users' detailed book reviews. These datasets can be merged together by joining on book/user/review ids.

### 1.3. Goodreads - 2019
https://www.kaggle.com/datasets/jealousleopard/goodreadsbooks/data

This kaggle dataset is a curated, clean collection of book information compiled using the **Goodreads API**.

Its creator built it to overcome common issues in other book datasets—such as **missing key columns** and **unclean data** and **focused on including reliable numerical data** (like ratings and counts) along with important details such as **publisher information, publication dates, and properly formatted author names (with multiple authors delimited by '/')**. Unlike the prior goodreads dataset (2017), this one has only has one table with the book metadata information.

It was **initiated in May 2019** and saw **updates until December 2020**, when <ins>changes to the Goodreads API led to its discontinuation</ins>.

### 1.4. Book‑Crossing Community
https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset

A kaggle dataset that was collected from the Book‑Crossing community by Cai‑Nicolas Ziegler over a four‑week crawl in August/September 2004. It has been preprocessed and cleaned to remove invalid entries, with user IDs anonymized. 

The Book‑Crossing community is a global network of readers who share and track books through the website bookcrossing.com. Members register each book online, then “release” it—either in public places for anyone to find (wild releases) or directly to other participants (controlled releases)—and record its journey on the site. By encouraging people to pass books along rather than keep them, Book‑Crossing aspires to transform the whole world into a library. Over time, this community has grown to include forums, meetups, and conventions, with more than 1.9 million members worldwide.

In total, it covers:

- **278,858 users** (with possible demographic information such as location and age),  
- **271,379 unique books** (identified by valid ISBNs and accompanied by metadata like title, author, publication year, publisher, and Amazon cover image links),  
- **1,149,780 ratings**, which may be explicit (on a 1–10 scale) or implicit (denoted by 0).

The data is organized into three main files: **Users**, **Books**, and **Ratings**. This structure **allows us to link user demographics to specific book records and the corresponding rating behavior**. 

--> The dataset is particularly useful for exploring or benchmarking recommendation systems and other data‑intensive analyses within the realm of reading preferences and user behavior.

### 1.5. Books Sales and Ratings
https://www.kaggle.com/datasets/thedevastator/books-sales-and-ratings/data

This is dataset featuring various attributes about books from nine different publishers, with **publishing years ranging from 1600s to 2016**. Included in the data is attributes reagarding sales, ratings and book identities. 

The data was sourced on the linked kaggle dataset but <ins>it was orginally published by Josh Murrey on data.world under the name Books</ins> (https://data.world/josh-nbu).

### 1.6. Amazon Kindle Books Dataset 2023 (130K Books) 
https://www.kaggle.com/datasets/asaniczka/amazon-kindle-books-dataset-2023-130k-books

This kaggle dataset comprises data on **130,000 Kindle e-books**, scraped from **publicly available information on Amazon’s Kindle Books webpage in October 2023**.

The data were systematically collected by navigating through the Kindle book category pages on amazon.com/kindle-books, capturing a range of book details and sales information.

### 1.7. Wonderbook 
https://www.kaggle.com/datasets/elvinrustam/books-dataset


This kaggle dataset is derived from **wonderbk.com** (an amazon competitor), a popular online bookstore, using a **Python-based web scraping approach**. The data acquisition process employed libraries such as requests, Beautiful Soup (bs4), and Selenium, with two primary functions defined: one to gather URLs for individual books, and another to extract pertinent details including title, authors, description, category, publisher, starting price, and publication dates.

## 2. Data Profiling

**Data profiling** is the process of examining, analyzing, and summarizing data to gain informaiton into its structure, quality, and content

## 2.1 Structure Analysis 

In this section, we determine the data types present (i.e: numerical, categorical, text) and how the data is in files/ tables.

### a) Amazon Reviews’23 - Books

A gzipped JSON Lines (*jsonl.gz*) file and a gzipped CSV file were downloaded from this dataset's website

- a detailed book graph encompassing the metadata (**meta_Books.jsonl.gz *~4.6 GB***,
- book reviews simplified and de-duplicated (user_id, parent_asin, rating, timestamp) to have a lighter load and no repeated entries when compared to the raw book review dataset  (**Books.csv.gz *~574MB***)
    - <ins>pros</ins>: Comprehensive data still with maximum diversity.
    - <ins>cons</ins>: Still has imbalance reviews per book.
 
Each line in a JSONL file is a valid JSON object, and records are delimited by newline characters, making it helpful to parse the file line by line without loading the entire dataset into memory.


To lighten the computational power needed to run this dataset, specifically on our RAM (even with 16GB we were having issues opening the data on pandas) we decided to subset the data sets by removing less relevant books (low rating) in Google's cloud base tool **Google BigQuery**. We uploaded our files into Google storage buckets, imported the files into tables and then queried new subsetted tables that took up less storage. 

##### **Data Subsetting on Google's BigQuery**:
 - **meta_Books.jsonl**
     - Removed entries with a value on "rating_number" null or lower than 1000.
     - **transformed JSONL format (meta_Books.jsonl) into a CSV format**
 - **Books.csv**
     - Removed entries that had no "parent_asin" correspondence to the meta_Books "parent_asin" table.
     - Keeping review proportions for each book, reduced the overall number of the dataset entries by 70%.

After subsetting and transformation, the following <ins>files unzipped</ins> were produced:
 - **amazon_meta_books.csv (1.3GB)**
 - **amazon_reviews_filtered.csv (570.5MB)**

#### a) i) Amazon Metadata Books

Amazon books metadata.

In [61]:
file_path = './Datasets/1_amazon/amazon_meta_books.csv'

df = pd.read_csv(file_path)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280338 entries, 0 to 280337
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   main_category    280155 non-null  object
 1   title            280338 non-null  object
 2   subtitle         223708 non-null  object
 3   author           230008 non-null  object
 4   average_rating   280338 non-null  float64
 5   rating_number    280338 non-null  int64
 6   features         280338 non-null  object
 7   description      280338 non-null  object
 8   price            197032 non-null  float64
 9   images           280338 non-null  object
 10  videos           280338 non-null  object
 11  store            270276 non-null  object
 12  categories       280338 non-null  object
 13  details          280338 non-null  object
 14  parent_asin      280338 non-null  object
 15  bought_together  0 non-null       float64
dtypes: float64(3), int64(1), object(12)
memory usage: 34.2+ MB

In [63]:
df.head(1)

,main_category,title,subtitle,author,average_rating,rating_number,features,description,price,images,videos,store,categories,details,parent_asin,bought_together
0,Books,The Swan Thieves,"Audio CD – Bargain Price, November 3, 2010","{""name"":""Elizabeth Kostova"",""about"":[""Elizabeth Kostova's engrossing debut novel is the culminat...",4.2,1559,"[""Psychiatrist Andrew Marlowe has a perfectly ordered life--solitary, perhaps, but full of devot...",[],NaN,[],[],"Elizabeth Kostova (Author), Treat Williams (Reader), Anne Heche (Reader), Erin Cottrell (Read...","[""Books"",""Literature & Fiction"",""Genre Fiction""]","{""Language"":""English"",""Dimensions"":""5.5 x 2.15 x 5.75 inches"",""Publisher"":""Hachette Audio; Una R...",B0062GL89I,NaN

**Due to the hierarchical nature of JSON files, some columns have nested columns within them**. Some of these have to be extracted, specifically on "author" and "details".

Keeping "features" unflattened and "details" only partially, due to them producing a massive set of columns with high NaN/null content as we will see ahead.

In [64]:
# Converting author, details 
df['author'] = df['author'].apply(lambda x: json.loads(x) if isinstance(x, str) else x)

In [65]:
author_df = pd.json_normalize(df['author'])
df = df.join(author_df)

In [66]:
#dropping "author" column just because we already split it into its inner elements
df.drop('author', axis=1, inplace=True)

In [67]:
# renaming some of the columns quickly
df = df.rename(columns={'name': 'author_name', 'avatar': 'author_avatar', 'about': 'author_about'})

In [69]:
df.head()

,main_category,title,subtitle,average_rating,rating_number,features,description,price,images,videos,store,categories,details,parent_asin,bought_together,author_name,author_about,author_avatar
0,Books,The Swan Thieves,"Audio CD – Bargain Price, November 3, 2010",4.2,1559,"[""Psychiatrist Andrew Marlowe has a perfectly ordered life--solitary, perhaps, but full of devot...",[],NaN,[],[],"Elizabeth Kostova (Author), Treat Williams (Reader), Anne Heche (Reader), Erin Cottrell (Read...","[""Books"",""Literature & Fiction"",""Genre Fiction""]","{""Language"":""English"",""Dimensions"":""5.5 x 2.15 x 5.75 inches"",""Publisher"":""Hachette Audio; Una R...",B0062GL89I,NaN,Elizabeth Kostova,[Elizabeth Kostova's engrossing debut novel is the culmination of ten years of research and a li...,https://m.media-amazon.com/images/I/31E3SMTce5L._SY600_.jpg
1,Audible Audiobooks,Death in a White Tie,NaN,4.5,1033,[],[],NaN,[],[],"Ngaio Marsh (Author), Benedict Cumberbatch (Narrator), Hachette Audio UK (Publisher) ...","[""Books"",""Mystery, Thriller & Suspense"",""Mystery"",""Traditional Detectives""]",{},B001F1ZPDK,NaN,NaN,NaN,NaN
2,Books,Reunion Pass (Thorndike Romance),"Hardcover – Large Print, May 18, 2016",4.6,1140,"[""A New York Times Bestselling Author An Eternity Springs Novel Six years ago, Chase Timberlake ...",[],12.00,[],[],Emily March (Author),"[""Books"",""Large Print"",""Literature & Fiction""]","{""ISBN 13"":""978-1410490117"",""Language"":""English"",""ISBN 10"":""9781410490117"",""Dimensions"":""6 x 1 x...",1410490114,NaN,Emily March,"[Emily March is the New York Times, Publishers Weekly, and USA Today bestselling author of over ...",https://m.media-amazon.com/images/S/amzn-author-media-prod/an3i0pthoa0nsmk8mnn25ndb7n._SY600_.jpg
3,Books,Key Lock Man,"Mass Market Paperback – January 1, 1981",4.6,1907,"[""book 163""]",[],5.55,[],[],Louis L'Amour (Author),[],"{""ISBN 13"":""978-0553230888"",""Language"":""English"",""Mass Market Paperback"":""0 pages"",""ISBN 10"":""05...",0553230883,NaN,Louis L'Amour,"[""I think of myself in the oral tradition--as a troubadour, a village tale-teller, the man in th...",https://m.media-amazon.com/images/I/31pdVqK+eZL._SY600_.jpg
4,Books,"The Robots of Dawn (Robot, 3)","MP3 CD – Unabridged, July 15, 2007",4.7,5660,"[""A puzzling case of roboticide sends New York Detective Elijah Baley on an intense search for a...","[""About the Author"",""Isaac Asimov, who was named \""Grand Master of Science Fiction\"" by the Scie...",NaN,[],[],"Isaac Asimov (Author), William Dufris (Narrator)","[""Books"",""Computers & Technology"",""Computer Science""]","{""ISBN 13"":""978-1400154234"",""Language"":""English"",""ISBN 10"":""1400154235"",""Dimensions"":""5.3 x 0.6 ...",1400154235,NaN,Isaac Asimov,"[Isaac Asimov (/ˈaɪzᵻk ˈæzᵻmɒv/; born Isaak Yudovich Ozimov; circa January 2, 1920 – April 6, 19...",https://m.media-amazon.com/images/S/amzn-author-media-prod/6ce4rnjgpci8m81tu3aibtlf5r._SY600_.jpg

In [48]:
df.to_csv('./Datasets/1_amazon/amazon_meta_books_X.csv', index=False)

- ***amazon_meta_books.csv* Characterization Table**

| Column           | Description                                                             | Data Type         | Example                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |
|------------------|-------------------------------------------------------------------------|-------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| main_category    | The primary category of the product                                     | String            | Books                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
| title            | The title of the product or item                                        | String            | The Swan Thieves                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
| subtitle         | Additional description or subtitle                                      | String            | Audio CD – Bargain Price, November 3, 2010                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |
| average_rating   | The average customer rating                                             | Float/Number      | 4.2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
| rating_number    | The total number of ratings received                                    | Integer           | 1559                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
| features         | Key features or highlights as a list of strings                         | List of Strings   | `["Psychiatrist Andrew Marlowe has a perfectly ordered life--solitary, perhaps, but full of devotion to his profession and the painting hobby he loves. ..."]`                                                                                                                                                                                                                                                                                                                                                                                                    |
| description      | Additional descriptive details (may be empty or a list)                 | List              | []                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
| price            | The price of the product (if available)                                 | Float/NaN         | NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
| images           | List of image URLs associated with the product                          | List              | []                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
| videos           | List of video URLs associated with the product                           | List              | []                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
| store            | Store or seller information (can include multiple names)                | String            | Elizabeth Kostova (Author), Treat Williams (Reader), Anne Heche (Reader), Erin Cottrell (Reader), Sarah Zimmerman (Reader), John Lee (Reader)                                                                                                                                                                                                                                                                                                                                                                                                                   |
| categories       | Categories or genres the product belongs to                             | LIST   | `["Books", "Literature & Fiction", "Genre Fiction"]`                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
| details          | Additional product details (e.g., dimensions, publisher) as a dictionary  | Dictionary        | `{'Language': 'English', 'Dimensions': '5.5 x 2.15 x 5.75 inches', 'Publisher': 'Hachette Audio; Una Rei edition (November 3, 2010)', 'Item Weight': '1.05 pounds'}`                                                                                                                                                                                                                                                                                                                                                                                       |
| parent_asin      | Unique identifier (ASIN) for the product                                | String            | B0062GL89I                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| bought_together  | Information on products frequently bought together                      | LIST          | NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
| author_name      | The name of the author associated with the product                       | String            | Elizabeth Kostova                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
| author_about     | A brief biography or description about the author                        | List or String    | `[Elizabeth Kostova's engrossing debut novel is the culmination of ten years of research and a lifetime of imagining--... ]`                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| author_avatar    | URL to the author's avatar image                                         | String            | https://m.media-amazon.com/images/I/31E3SMTce5L._SY600_.jpg                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |

#### a) ii) Amazon Reviews

Amazon books reviews.

In [10]:
file_path = './Datasets/1_amazon/amazon_reviews_filtered.csv'

df = pd.read_csv(file_path)

In [11]:
df

                               user_id parent_asin  rating      timestamp
0         AEAHYXN6YKMNPZKVEY4ROOEOU5AA  0006480411       1  1334395472000
1         AGQG3VEWZKUM6TVGLULDIBLIHL3Q  0006490344       1  1651361248390
2         AHD6ZKMA37UCQNGQWIFK5RTWHU5A  0006497802       1  1001426115000
3         AFCGHC53VJZZR5ZVHJCIPCTD772A  0006514642       1  1193857022000
4         AG6Z734FKPPJPZK5CXM5AI7HWV5Q  0006546064       1  1647291639876
...                                ...         ...     ...            ...
10683296  AHBPXM3BSVNB76URMXF37DYKGPUQ  B0C9V7R2BF       5  1689948745143
10683297  AFGCUZLUXZSJL3JORCVX46QMPDJQ  B0CCCNBNRQ       5  1690130519431
10683298  AFQXVDVJNYHAIJ7AQVOGBBZ6A2LQ  B0CCCSMRW3       5  1690471341941
10683299  AE6DGMEPPX6YD34PDSAPFKWKXULQ  B0CCCSMRW3       5  1693935434123
10683300  AG5JYAFRHGYTTQEJH3GREFXJNU6A  B0CGG9DS8H       5  1692886745783

[10683301 rows x 4 columns]

- ***amazon_reviews_filtered.csv* Characterization Table:**

| Column      | Description                                                             | Data Type    | Example                      |
|-------------|-------------------------------------------------------------------------|--------------|------------------------------|
| user_id     | Unique identifier of a user                                             | TEXT       | AEAHYXN6YKMNPZKVEY4ROOEOU5AA   |
| parent_asin | Unique product identifier (ASIN)                                       | TEXT       | 0006480411                   |
| rating      | User's rating for the product                                          | NUMERIC      | 1                            |
| timestamp   | Time when the rating was recorded (in milliseconds since epoch)        | DATE      | 1334395472000                |

Not all information in 'details' seems useful, specifically because of these NaN in most entries. Will opt to drop some of them out.

In [31]:
# Flatten the 'details' column.
details_df = pd.json_normalize(df['details'])

,Language,Dimensions,Publisher,Item Weight,ISBN 13,ISBN 10,Hardcover,Mass Market Paperback,Paperback,File size,...,Best Sellers Rank.Children's Activity Books,Diskette,Best Sellers Rank.Teen & Young Adult Epic Fantasy,Best Sellers Rank.Genre Literature & Fiction,"Best Sellers Rank.Children's Arts, Music & Photography Books",Best Sellers Rank.Children's Craft & Hobby Books,Best Sellers Rank.Literary Fiction,Best Sellers Rank.Folklore,Best Sellers Rank.Classic Literature & Fiction,Sports Apparel
0,English,5.5 x 2.15 x 5.75 inches,"Hachette Audio; Una Rei edition (November 3, 2010)",1.05 pounds,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,English,6 x 1 x 9 inches,"Thorndike Press Large Print; Large Print edition (May 18, 2016)",1.2 pounds,978-1410490117,9781410490117,422 pages,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,English,NaN,"Bantam (January 1, 1981)",3.2 ounces,978-0553230888,0553230883,NaN,0 pages,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,English,5.3 x 0.6 x 7.4 inches,"Tantor Audio; MP3 - Unabridged CD edition (July 15, 2007)",2.61 ounces,978-1400154234,1400154235,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280333,English,6.42 x 1.4 x 9.52 inches,"Doubleday (September 13, 2011)",1.64 pounds,978-0385534635,0385534639,400 pages,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280334,English,5.02 x 0.85 x 5.94 inches,"Macmillan Audio; Unabridged edition (November 4, 2014)",8.6 ounces,978-1427252098,1427252092,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280335,NaN,NaN,"Scribner; 31685th edition (January 1, 1994)",1 pounds,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280336,English,6 x 0.25 x 9 inches,"Cloud Forest Press (March 3, 2020)",6.7 ounces,978-1646081639,1646081633,NaN,NaN,108 pages,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280337,English,5.75 x 1.4 x 8.63 inches,"VIZ Media LLC (December 2, 2008)",2.05 pounds,978-1421520667,1421520664,NaN,NaN,560 pages,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
nan_percentage = details_df.isna().mean() * 100
print(nan_percentage.to_string())

Language                                                                    19.686236
Dimensions                                                                  34.149848
Publisher                                                                   21.550771
Item Weight                                                                 26.822265
ISBN 13                                                                     30.399018
ISBN 10                                                                     32.670919
Hardcover                                                                   84.411318
Mass Market Paperback                                                       95.490087
Paperback                                                                   66.483317
File size                                                                   92.290021
Text to Speech                                                              92.290735
Word Wise                                                                   92.292875
Enhanced typesetting                                                        92.291805
Screen Reader                                                               92.562906
X Ray                                                                       92.405239
Publication date                                                            91.757450
Sticky notes                                                                92.289308
Print length                                                                92.323552
MP3 CD                                                                      99.848041
Reading age                                                                 89.027174
Page numbers source ISBN                                                    98.513580
Grade level                                                                 94.037911
Audio CD                                                                    98.963037
Lexile measure                                                              94.813047
Novelty Book                                                                99.990725
Imitation Leather                                                           99.818433
Library Binding                                                             99.407501
Simultaneous device usage                                                   98.638786
Board book                                                                  99.476346
Sheet music                                                                 99.997503
Audio Cassette                                                              99.870870
Product Dimensions                                                          99.455300
Is Discontinued By Manufacturer                                             99.906898
Country of Origin                                                           99.799171
Release date                                                                99.499176
Spiral bound                                                                99.760289
Date First Available                                                        99.951844
File Size                                                                   99.960048
Loose Leaf                                                                  99.985018
School Library Binding                                                      99.777412
Package Dimensions                                                          99.866233
Leather Bound                                                               99.854105
Bonded Leather                                                              99.968609
Pamphlet                                                                    99.973960
Plastic Comb                                                                99.991439
Unknown Binding                                                             99.884425
Run time                                                                    99.905471
Cards                                                                       99.885495
CD ROM                                                                      99.995719
Misc Supplies                                                               99.985375
Comic                                                                       99.984305
Pocket Book                                                                 99.919383
Perfect Paperback                                                           99.966112
Item model number                                                           99.979311
Pages                                                                       99.998930
Binding                                                                     99.998930
Ruling Type                                                                 99.999643
Color                                                                       99.996790
Sheet Size                                                                  99.999643
Cover Material                                                              99.999287
Theme                                                                       99.998930
Number of Items                                                             99.997503
Special Feature                                                             99.999287
Calendar                                                                    99.931155
Product Bundle                                                              99.984305
Flexibound                                                                  99.977527
Roughcut                                                                    99.998216
Misc                                                                        99.999643
Vinyl Bound                                                                 99.999287
X Ray for textbooks                                                         99.998216
Diary                                                                       99.983591
Hardcover spiral                                                            99.988942
Paperback Shinsho                                                           99.999643
Pop Up                                                                      99.998930
Map                                                                         99.994293
Format                                                                      99.999287
Contributor                                                                 99.998930
Manufacturer recommended age                                                99.995719
Domestic Shipping                                                           99.993579
International Shipping                                                      99.993579
Department                                                                  99.996790
Manufacturer                                                                99.987158
Best Sellers Rank.Children's Game Books                                     99.997860
Paperback Bunko                                                             99.997503
Tankobon Hardcover                                                          99.998216
Card Book                                                                   99.998573
Ring bound                                                                  99.993579
Best Sellers Rank.Dragons & Mythical Creatures Fantasy                      99.998930
Best Sellers Rank.Books                                                     99.991439
Best Sellers Rank.Dungeons & Dragons Game                                   99.997860
Best Sellers Rank.Sword & Sorcery Fantasy                                   99.998573
Journal                                                                     99.999287
Type of item                                                                99.998216
Pricing                                                                     99.998216
Poster                                                                      99.998573
Bookmark                                                                    99.997146
Best Sellers Rank.Children's Animals Books                                  99.999643
Best Sellers Rank.Stories                                                   99.999643
Staple Bound                                                                99.995719
Toy                                                                         99.998930
Digital Audiobook                                                           99.999643
DVD                                                                         99.999643
Turtleback                                                                  99.998573
Single Issue Magazine                                                       99.997503
Bath Book                                                                   99.998573
Wall Chart                                                                  99.998930
Accessory                                                                   99.998930
Unbound                                                                     99.999287
Best Sellers Rank.Contemporary Literature & Fiction                         99.999643
Printed Access Code                                                         99.998930
Print on Demand Paperback                                                   99.998216
Textbook Binding                                                            99.999643
Game                                                                        99.999287
Audio CD Library Binding                                                    99.999287
Edition                                                                     99.999643
Brand                                                                       99.997146
Publication Date                                                            99.999287
Item Dimensions LxWxH                                                       99.999287
Genre                                                                       99.998573
Other display features                                                      99.998216
Best Sellers Rank.Children's Books                                          99.999287
Best Sellers Rank.Teen & Young Adult Dark Fantasy                           99.999287
Best Sellers Rank.Teen & Young Adult Fantasy Action & Adventure             99.999287
Preloaded Digital Audio Player                                              99.998216
Best Sellers Rank.Piano Songbooks                                           99.999643
Batteries Required?                                                         99.998573
Hardware Platform                                                           99.999643
Rag Book                                                                    99.998930
Item Package Quantity                                                       99.998930
Batteries Included?                                                         99.999287
Best Sellers Rank.Epic Fantasy                                              99.999643
Best Sellers Rank.Space Operas                                              99.999643
Stationery                                                                  99.998930
Blu ray                                                                     99.999643
Best Sellers Rank.Textbooks                                                 99.999643
Best Sellers Rank.Reference                                                 99.999287
Best Sellers Rank.Puzzle & Game Reference                                   99.999287
Best Sellers Rank.Children's Coloring Books                                 99.999643
Digital                                                                     99.998930
Hardcover Comic                                                             99.999643
Size                                                                        99.999287
Best Sellers Rank.Children's Friendship Books                               99.999643
Best Sellers Rank.Children's Chapter Books                                  99.999643
Best Sellers Rank.Children's Action & Adventure Books                       99.999643
Manufacturer Part Number                                                    99.998573
Best Sellers Rank.Education                                                 99.999643
Best Sellers Rank.Teaching Materials                                        99.999643
Best Sellers Rank.Reading & Phonics Teaching Materials                      99.999643
Best Sellers Rank.Christian Inspirational                                   99.999643
Best Sellers Rank.Christian Bibles                                          99.999287
Best Sellers Rank.Inspiration & Spirituality                                99.999643
Best Sellers Rank.Italian Cooking, Food & Wine                              99.999643
Part Number                                                                 99.999287
Best Sellers Rank.Drawing                                                   99.999643
Best Sellers Rank.Christian Devotionals                                     99.999643
Best Sellers Rank.Religious & Inspirational Coloring Books for Grown-Ups    99.999643
DVD ROM                                                                     99.999287
Item Package Dimensions L x W x H                                           99.999643
Item Dimensions  LxWxH                                                      99.999643
Brand Name                                                                  99.999643
Model Year                                                                  99.999643
Style                                                                       99.999643
Suggested Users                                                             99.999643
Package Weight                                                              99.999643
Best Sellers Rank.Christian New Testament References                        99.999643
Runtime                                                                     99.999643
Best Sellers Rank.Psychic Mysteries                                         99.999643
Best Sellers Rank.Women Sleuths                                             99.999643
Batteries                                                                   99.999287
Mook                                                                        99.999643
Best Sellers Rank.Fiction Writing Reference                                 99.999643
Best Sellers Rank.Instruction Methods                                       99.999643
Best Sellers Rank.Early Childhood Education Materials                       99.999643
Notebook                                                                    99.999643
Print Magazine                                                              99.999643
Best Sellers Rank.Children's Activity Books                                 99.999643
Diskette                                                                    99.999643
Best Sellers Rank.Teen & Young Adult Epic Fantasy                           99.999643
Best Sellers Rank.Genre Literature & Fiction                                99.999643
Best Sellers Rank.Children's Arts, Music & Photography Books                99.999643
Best Sellers Rank.Children's Craft & Hobby Books                            99.999643
Best Sellers Rank.Literary Fiction                                          99.999643
Best Sellers Rank.Folklore                                                  99.999643
Best Sellers Rank.Classic Literature & Fiction                              99.999643
Sports Apparel                                                              99.999643

### b) Goodreads - 2017

Three gzipped json files (*json.gz*) files were downloaded from this dataset's website: 
- a detailed book graph emcompasing the metadata of about 2.3 million books (**goodreads_books.json.gz *~2.1 GB***),
- and a exclusive english review subset parsed emcompasing around 1.3 million book reviews, 25 thousand books and 19 thousand users, parsed at sentence level, meaning each of the reviews were decomposed in sentenses with a list (**goodreads_reviews_spoiler.json.gz *~591MB***)
- Detailed information of authors (**goodreads_book_authors.json ~17.2MB**)

Due to the files' large size - which made working with them, especially in packages like **pandas**, a daunting task — these files were also imported and subsetted using ***Google Cloud's BigQuery***.

The number of entries of **goodreads_books.json** was reduced via query by:

- removing entries with no *publicaiton_year* or older than 2010 (<2010);
- removing entries with *ratings_count* lower than 1000 - ratings are not the same as reviews being in much higher counts across the dataset.

The number of entries of **goodreads_reviews_spoiler.json** was reduced via query by:

- only keeping entries with the *book_id*'s present in the prior split goodreads_books.json dataset, to cleave out books that would not be present in the metadata.
- removing 70% of the original reviews.

The number of entries of **goodreads_book_authors.json** was reduced via query by:

- only keeping entries with the *author_id*'s present in the prior split goodreads_books.json dataset, to cleave out books that would not be present in the metadata.

After subsetting and transformation, the following <ins>unzipped files</ins> were produced:
 - **goodreads_meta_books.json (~181.5MB)**
 - **goodreads_reviews_filtered.csv (~399.5MB)**

#### b) i) Goodreads Metadata - *goodreads_books.json.gz*

In [12]:
file_path = './Datasets/2_3_goodreads/goodreads_meta_books.json'

df = pd.read_json(file_path, lines=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34758 entries, 0 to 34757
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title_without_series  34758 non-null  object
 1   title                 34758 non-null  object
 2   work_id               34758 non-null  int64
 3   book_id               34758 non-null  int64
 4   publication_year      34758 non-null  int64
 5   num_pages             32950 non-null  float64
 6   ratings_count         34758 non-null  int64
 7   kindle_asin           34758 non-null  object
 8   publisher             34758 non-null  object
 9   authors               34758 non-null  object
 10  format                34758 non-null  object
 11  country_code          34758 non-null  object
 12  series                34758 non-null  object
 13  average_rating        34758 non-null  float64
 14  similar_books         34758 non-null  object
 15  image_url             34758 non-null  object
 16  isbn13                34758 non-null  object
 17  is_ebook              34758 non-null  bool
 18  text_reviews_count    34758 non-null  int64
 19  language_code         34758 non-null  object
 20  description           34758 non-null  object
 21  link                  34758 non-null  object
 22  url                   34758 non-null  object
 23  asin                  34758 non-null  object
 24  popular_shelves       34758 non-null  object
 25  edition_information   34758 non-null  object
 26  isbn                  34758 non-null  object
 27  publication_day       33100 non-null  float64
 28  publication_month     34006 non-null  float64
dtypes: bool(1), float64(4), int64(5), object(19)
memory usage: 7.5+ MB

**Printing some examples of this data with the nested features visible:**

In [10]:
with open(file_path, 'r') as f:
    # Read and print the first 2 JSON objects (one per line)
    for i in range(2):
        line = f.readline().strip()
        if not line:
            break
        obj = json.loads(line)
        print(json.dumps(obj, indent=2))

{
  "title_without_series": "Heaven is for Real: A Little Boy's Astounding Story of His Trip to Heaven and Back",
  "title": "Heaven is for Real: A Little Boy's Astounding Story of His Trip to Heaven and Back",
  "work_id": "11283577",
  "book_id": "7933292",
  "publication_year": "2010",
  "num_pages": "162",
  "ratings_count": "229153",
  "kindle_asin": "B004A90BXS",
  "publisher": "",
  "authors": [
    {
      "role": "",
      "author_id": "3446736"
    },
    {
      "role": "",
      "author_id": "266797"
    }
  ],
  "format": "",
  "country_code": "US",
  "series": [],
  "average_rating": 4.01,
  "similar_books": [
    "8100288",
    "8765461",
    "89375",
    "13158130",
    "6836258",
    "299795",
    "9640038",
    "97862",
    "104189",
    "6436732",
    "232631",
    "6817610",
    "13137883",
    "7570892",
    "11880626",
    "824844",
    "89376",
    "8142508"
  ],
  "image_url": "https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png",
  "isbn13": "9780849946158",
  "is_ebook": false,
  "text_reviews_count": "13633",
  "language_code": "eng",
  "description": "When Colton Burpo made it through an emergency appendectomy, his family was overjoyed at his miraculous survival. What they weren't expecting, though, was the story that emerged in the months that followed--a story as beautiful as it was extraordinary, detailing their little boy's trip to heaven and back.\nColton, not yet four years old, told his parents he left his body during the surgery--and authenticated that claim by describing exactly what his parents were doing in another part of the hospital while he was being operated on. He talked of visiting heaven and relayed stories told to him by people he met there whom he had never met in life, sharing events that happened even before he was born. He also astonished his parents with descriptions and obscure details about heaven that matched the Bible exactly, though he had not yet learned to read.\nWith disarming innocence and the plainspoken boldness of a child, Colton tells of meeting long-departed family members. He describes Jesus, the angels, how \"really, really big\" God is, and how much God loves us. Retold by his father, but using Colton's uniquely simple words, \"Heaven is for Real\" offers a glimpse of the world that awaits us, where as Colton says, \"Nobody is old and nobody wears glasses.\"\n\"Heaven is for Real\" will forever change the way you think of eternity, offering you the chance to see, and believe, like a child.",
  "link": "https://www.goodreads.com/book/show/7933292-heaven-is-for-real",
  "url": "https://www.goodreads.com/book/show/7933292-heaven-is-for-real",
  "asin": "",
  "popular_shelves": [
    {
      "name": "to-read",
      "count": "751"
    },
    {
      "name": "faith",
      "count": "214"
    },
    {
      "name": "currently-reading",
      "count": "205"
    },
    {
      "name": "christianity",
      "count": "179"
    },
    {
      "name": "kindle",
      "count": "136"
    },
    {
      "name": "heaven",
      "count": "134"
    },
    {
      "name": "memoirs",
      "count": "106"
    },
    {
      "name": "christian-books",
      "count": "71"
    },
    {
      "name": "audiobook",
      "count": "67"
    },
    {
      "name": "non-fiction",
      "count": "66"
    },
    {
      "name": "my-books",
      "count": "63"
    },
    {
      "name": "owned-books",
      "count": "62"
    },
    {
      "name": "audiobooks",
      "count": "62"
    },
    {
      "name": "library",
      "count": "62"
    },
    {
      "name": "christian-life",
      "count": "61"
    },
    {
      "name": "near-death-experience",
      "count": "61"
    },
    {
      "name": "children",
      "count": "60"
    },
    {
      "name": "heaven-is-for-real",
      "count": "57"
    },
    {
      "name": "audio",
      "count": "56"
    },
    {
      "name": "biographies",
      "count": "51"
    },
    {
      "name": "my-library",
      "count": "51"
    },
    {
      "name": "christian",
      "count": "48"
    },
    {
      "name": "christian-living",
      "count": "47"
    },
    {
      "name": "finished",
      "count": "45"
    },
    {
      "name": "i-own",
      "count": "41"
    },
    {
      "name": "christian-nonfiction",
      "count": "40"
    },
    {
      "name": "read-2014",
      "count": "38"
    },
    {
      "name": "nonfiction",
      "count": "36"
    },
    {
      "name": "borrowed",
      "count": "36"
    },
    {
      "name": "book-club-books",
      "count": "36"
    },
    {
      "name": "kindle-books",
      "count": "35"
    },
    {
      "name": "theology",
      "count": "35"
    },
    {
      "name": "family",
      "count": "34"
    },
    {
      "name": "bookclub",
      "count": "34"
    },
    {
      "name": "books-i-own",
      "count": "33"
    },
    {
      "name": "books",
      "count": "33"
    },
    {
      "name": "favorite-books",
      "count": "33"
    },
    {
      "name": "audio-books",
      "count": "33"
    },
    {
      "name": "inspiration",
      "count": "33"
    },
    {
      "name": "shelfari-favorites",
      "count": "30"
    },
    {
      "name": "read-2012",
      "count": "30"
    },
    {
      "name": "biography",
      "count": "29"
    },
    {
      "name": "todd-burpo",
      "count": "28"
    },
    {
      "name": "memoir-biography",
      "count": "27"
    },
    {
      "name": "true-stories",
      "count": "27"
    },
    {
      "name": "young-adult",
      "count": "26"
    },
    {
      "name": "to-buy",
      "count": "26"
    },
    {
      "name": "want-to-read",
      "count": "26"
    },
    {
      "name": "religion",
      "count": "25"
    },
    {
      "name": "books-i-have",
      "count": "25"
    },
    {
      "name": "god",
      "count": "25"
    },
    {
      "name": "true-story",
      "count": "25"
    },
    {
      "name": "angels",
      "count": "23"
    },
    {
      "name": "own-it",
      "count": "23"
    },
    {
      "name": "adult-non-fiction",
      "count": "23"
    },
    {
      "name": "jesus",
      "count": "22"
    },
    {
      "name": "inspiring",
      "count": "22"
    },
    {
      "name": "owned",
      "count": "21"
    },
    {
      "name": "audible",
      "count": "21"
    },
    {
      "name": "2012-reads",
      "count": "20"
    },
    {
      "name": "my-favorites",
      "count": "20"
    },
    {
      "name": "book-club-reads",
      "count": "20"
    },
    {
      "name": "wish-list",
      "count": "20"
    },
    {
      "name": "other",
      "count": "19"
    },
    {
      "name": "adult-nonfiction",
      "count": "19"
    },
    {
      "name": "2014-reads",
      "count": "18"
    },
    {
      "name": "read-in-2013",
      "count": "18"
    },
    {
      "name": "abandoned",
      "count": "18"
    },
    {
      "name": "audio-book",
      "count": "18"
    },
    {
      "name": "favorite",
      "count": "18"
    },
    {
      "name": "books-read-in-2011",
      "count": "18"
    },
    {
      "name": "religious",
      "count": "17"
    },
    {
      "name": "have",
      "count": "17"
    },
    {
      "name": "self-help",
      "count": "17"
    },
    {
      "name": "couldn-t-finish",
      "count": "17"
    },
    {
      "name": "life",
      "count": "17"
    },
    {
      "name": "faith-based",
      "count": "17"
    },
    {
      "name": "spiritual",
      "count": "16"
    },
    {
      "name": "2014-books",
      "count": "16"
    },
    {
      "name": "2012-books",
      "count": "16"
    },
    {
      "name": "listened-to",
      "count": "16"
    },
    {
      "name": "recommended",
      "count": "16"
    },
    {
      "name": "bio-memoir",
      "count": "16"
    },
    {
      "name": "religous",
      "count": "16"
    },
    {
      "name": "2011-read",
      "count": "16"
    },
    {
      "name": "biographical",
      "count": "16"
    },
    {
      "name": "books-to-movies",
      "count": "15"
    },
    {
      "name": "books-read-in-2012",
      "count": "15"
    },
    {
      "name": "have-read",
      "count": "15"
    },
    {
      "name": "did-not-finish",
      "count": "15"
    },
    {
      "name": "church",
      "count": "15"
    },
    {
      "name": "burpo",
      "count": "15"
    },
    {
      "name": "non-fic",
      "count": "15"
    },
    {
      "name": "101-books-that-you-must-read-before",
      "count": "14"
    },
    {
      "name": "books-read-in-2014",
      "count": "14"
    },
    {
      "name": "2013-reads",
      "count": "14"
    },
    {
      "name": "already-read",
      "count": "14"
    },
    {
      "name": "christian-lit",
      "count": "14"
    },
    {
      "name": "thought-provoking",
      "count": "14"
    },
    {
      "name": "must-read",
      "count": "14"
    }
  ],
  "edition_information": "",
  "isbn": "0849946158"
}
{
  "title_without_series": "All the Little Children",
  "title": "All the Little Children",
  "work_id": "55111067",
  "book_id": "34093937",
  "publication_year": "2017",
  "num_pages": "320",
  "publication_day": "1",
  "ratings_count": "6911",
  "kindle_asin": "B01MR8641A",
  "publisher": "",
  "authors": [
    {
      "role": "",
      "author_id": "16370494"
    }
  ],
  "publication_month": "9",
  "format": "",
  "country_code": "US",
  "series": [],
  "average_rating": 3.72,
  "similar_books": [],
  "image_url": "https://images.gr-assets.com/books/1500923450m/34093937.jpg",
  "isbn13": "",
  "is_ebook": true,
  "text_reviews_count": "557",
  "language_code": "eng",
  "description": "When a family camping trip takes a dark turn, how far will one mother go to keep her family safe?Struggling with working-mother guilt, Marlene Greene hopes a camping trip in the forest will provide quality time with her three young children--until they see fires in the distance, columns of smoke distorting the sweeping view. Overnight, all communication with the outside world is lost.\nKnowing something terrible has happened, Marlene suspects that the isolation of the remote campsite is all that's protecting her family. But the arrival of a lost boy reveals they are not alone in the woods, and as the unfolding disaster ravages the land, more youngsters seek refuge under her wing. The lives of her own children aren't the only ones at stake.\nWhen their sanctuary is threatened, Marlene faces the mother of all dilemmas: Should she save her own kids or try to save them all?",
  "link": "https://www.goodreads.com/book/show/34093937-all-the-little-children",
  "url": "https://www.goodreads.com/book/show/34093937-all-the-little-children",
  "asin": "B01MR8641A",
  "popular_shelves": [
    {
      "name": "to-read",
      "count": "6135"
    },
    {
      "name": "currently-reading",
      "count": "4201"
    },
    {
      "name": "kindle",
      "count": "64"
    },
    {
      "name": "kindle-first",
      "count": "47"
    },
    {
      "name": "fiction",
      "count": "34"
    },
    {
      "name": "thriller",
      "count": "21"
    },
    {
      "name": "mystery",
      "count": "18"
    },
    {
      "name": "kindle-books",
      "count": "13"
    },
    {
      "name": "2017-books",
      "count": "12"
    },
    {
      "name": "suspense",
      "count": "12"
    },
    {
      "name": "netgalley",
      "count": "11"
    },
    {
      "name": "read-in-2017",
      "count": "10"
    },
    {
      "name": "mystery-thriller",
      "count": "10"
    },
    {
      "name": "books-i-own",
      "count": "10"
    },
    {
      "name": "ebook",
      "count": "10"
    },
    {
      "name": "apocalyptic",
      "count": "9"
    },
    {
      "name": "owned",
      "count": "9"
    },
    {
      "name": "read-2017",
      "count": "8"
    },
    {
      "name": "post-apocalyptic",
      "count": "8"
    },
    {
      "name": "dystopian",
      "count": "7"
    },
    {
      "name": "horror",
      "count": "7"
    },
    {
      "name": "e-book",
      "count": "7"
    },
    {
      "name": "ebooks",
      "count": "7"
    },
    {
      "name": "mystery-suspense",
      "count": "6"
    },
    {
      "name": "freebie",
      "count": "6"
    },
    {
      "name": "e-books",
      "count": "6"
    },
    {
      "name": "own-kindle",
      "count": "6"
    },
    {
      "name": "giveaways",
      "count": "5"
    },
    {
      "name": "dystopia",
      "count": "5"
    },
    {
      "name": "dnf",
      "count": "5"
    },
    {
      "name": "on-kindle",
      "count": "5"
    },
    {
      "name": "amazon",
      "count": "5"
    },
    {
      "name": "did-not-finish",
      "count": "4"
    },
    {
      "name": "unfinished",
      "count": "4"
    },
    {
      "name": "abandoned",
      "count": "4"
    },
    {
      "name": "maybe",
      "count": "4"
    },
    {
      "name": "audible",
      "count": "4"
    },
    {
      "name": "owned-kindle",
      "count": "4"
    },
    {
      "name": "kindle-unlimited",
      "count": "4"
    },
    {
      "name": "crime-thriller",
      "count": "4"
    },
    {
      "name": "purchased",
      "count": "4"
    },
    {
      "name": "kindle-tbr",
      "count": "4"
    },
    {
      "name": "on-my-kindle",
      "count": "4"
    },
    {
      "name": "library",
      "count": "3"
    },
    {
      "name": "mystery-thriller-suspense",
      "count": "3"
    },
    {
      "name": "kindle-freebies",
      "count": "3"
    },
    {
      "name": "own-on-kindle",
      "count": "3"
    },
    {
      "name": "2017-read",
      "count": "3"
    },
    {
      "name": "own-to-read",
      "count": "3"
    },
    {
      "name": "mine",
      "count": "3"
    },
    {
      "name": "survival",
      "count": "3"
    },
    {
      "name": "book-club",
      "count": "3"
    },
    {
      "name": "ebooks-i-own",
      "count": "3"
    },
    {
      "name": "i-own",
      "count": "3"
    },
    {
      "name": "literary-fiction",
      "count": "3"
    },
    {
      "name": "to-read-kindle",
      "count": "3"
    },
    {
      "name": "kindle-first-reads",
      "count": "3"
    },
    {
      "name": "kindle-first-books",
      "count": "3"
    },
    {
      "name": "own-ebook",
      "count": "3"
    },
    {
      "name": "ebooks-to-read",
      "count": "2"
    },
    {
      "name": "have",
      "count": "2"
    },
    {
      "name": "action-thriller",
      "count": "2"
    },
    {
      "name": "2017-releases",
      "count": "2"
    },
    {
      "name": "own-but-not-read",
      "count": "2"
    },
    {
      "name": "womens-fiction",
      "count": "2"
    },
    {
      "name": "written-by-women",
      "count": "2"
    },
    {
      "name": "new-not-yet-released",
      "count": "2"
    },
    {
      "name": "read-soon",
      "count": "2"
    },
    {
      "name": "scifi-fantasy-horror",
      "count": "2"
    },
    {
      "name": "post-apocalyptic-fiction",
      "count": "2"
    },
    {
      "name": "amazon-kindle-first",
      "count": "2"
    },
    {
      "name": "to-read-next",
      "count": "2"
    },
    {
      "name": "own-e-book",
      "count": "2"
    },
    {
      "name": "sci-fi",
      "count": "2"
    },
    {
      "name": "2017-books-read",
      "count": "2"
    },
    {
      "name": "to-read-have",
      "count": "2"
    },
    {
      "name": "never-finished",
      "count": "2"
    },
    {
      "name": "novels",
      "count": "2"
    },
    {
      "name": "england",
      "count": "2"
    },
    {
      "name": "ebook-owned",
      "count": "2"
    },
    {
      "name": "purchased-to-read",
      "count": "2"
    },
    {
      "name": "ebooks-own",
      "count": "2"
    },
    {
      "name": "suspense-thriller",
      "count": "2"
    },
    {
      "name": "not-read",
      "count": "2"
    },
    {
      "name": "unavailable",
      "count": "2"
    },
    {
      "name": "thriller-suspense",
      "count": "2"
    },
    {
      "name": "contemporary-fiction",
      "count": "2"
    },
    {
      "name": "jo-furniss",
      "count": "2"
    },
    {
      "name": "didn-t-finish",
      "count": "2"
    },
    {
      "name": "adventure",
      "count": "2"
    },
    {
      "name": "on-deck",
      "count": "2"
    },
    {
      "name": "first-reads",
      "count": "2"
    },
    {
      "name": "free",
      "count": "2"
    },
    {
      "name": "to-read-owned",
      "count": "2"
    },
    {
      "name": "kindlefirst",
      "count": "2"
    },
    {
      "name": "mystery-suspense-thriller",
      "count": "2"
    },
    {
      "name": "kindle-ebooks",
      "count": "2"
    },
    {
      "name": "tbr-kindle",
      "count": "2"
    },
    {
      "name": "not-lendable",
      "count": "2"
    },
    {
      "name": "to-read-own-kindle",
      "count": "2"
    }
  ],
  "edition_information": "",
  "isbn": ""
}

- ***goodreads_meta_books.json* Characterization Table**

| Column Name           | Data Type         | Description                                                                                                         | Example Value                                                                                                                                                          |
|-----------------------|-------------------|---------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| title_without_series  | TEXT            | Book title without series info                                                                                      | The Way of Kings (The Stormlight Archive, #1)                                                                                                                          |
| title                 | TEXT            | Full book title                                                                                                     | The Way of Kings (The Stormlight Archive, #1)                                                                                                                          |
| work_id               | NUMERIC               | Identifier for the work (across editions)                                                                    | 8134945                                                                                                                                                                |
| book_id               | NUMERIC               | Unique identifier for this specific edition                                                                         | 9647295                                                                                                                                                                |
| publication_year      | NUMERIC              | Year the book was published                                                                                          | 2011                                                                                                                                                                   |
| num_pages             | NUMERIC               | Number of pages in the book                                                                                          | 1258                                                                                                                                                                   |
| ratings_count         | NUMERIC               | Total number of ratings the book has received                                                                        | 3114                                                                                                                                                                   |
| kindle_asin           | TEXT            | ASIN for the Kindle version (if applicable)                                                                          | B003P2WO5E                                                                                                                                                             |
| publisher             | TEXT            | Name of the publisher                                                                                                | Tom Doherty                                                                                                                                                            |
| authors               | ARRAY<STRUCT>     | Array of author objects; each contains fields like "role" and "author_id"                                             | `[{'role': '', 'author_id': '38550'}]`                                                                                                                                  |
| format                | TEXT            | Book format (e.g., Paperback, Hardcover)                                                                             | Mass Market Paperback                                                                                                                                                  |
| country_code          | TEXT            | Country code of publication                                                                                          | US                                                                                                                                                                     |
| series                | ARRAY             | List of series IDs (empty array if none)                                                                             | `['178728', '675258']`                                                                                                                                                 |
| average_rating        | NUMERIC             | Average rating of the book                                                                                           | 4.64                                                                                                                                                                   |
| similar_books         | ARRAY<NUMERIC>        | List of similar book IDs                                                                                             | `[6736971, 10790277, 55398, 12499290, 1166599, 2315892, 15790883, 133664, 8752885, 2890090]`                                                                           |
| image_url             | TEXT            | URL for the book's cover image                                                                                       | `https://images.gr-assets.com/books/1436456720m/9647295.jpg`                                                                                                           |
| isbn13                | TEXT            | ISBN-13 identifier                                                                                                   | 9780765365279                                                                                                                                                          |
| is_ebook              | CATEGORICAL           | Indicates whether the book is available as an ebook                                                                  | False                                                                                                                                                                  |
| text_reviews_count    | NUMERIC               | Number of text reviews submitted for the book                                                                        | 561                                                                                                                                                                    |
| language_code         | TEXT            | ISO language code for the book                                                                                       | eng                                                                                                                                                                    |
| description           | TEXT            | Detailed description of the book                                                                                     | I long for the days before the Last Desolation. Before the Heralds abandoned us and the Knights Radiant turned against us. (truncated for brevity)                   |
| link                  | TEXT            | Goodreads URL for the book                                                                                           | `https://www.goodreads.com/book/show/9647295-the-way-of-kings`                                                                                                         |
| url                   | TEXT            | URL for the book (often the same as "link")                                                                          | `https://www.goodreads.com/book/show/9647295-the-way-of-kings`                                                                                                         |
| asin                  | TEXT            | Amazon Standard Identification Number (if available)                                                                 | (empty)                                                                                                                                                                |
| popular_shelves       | ARRAY<STRUCT>     | Array of shelf objects; each with a shelf "name" and a "count" indicating how many users added the book to that shelf  | `[{'name': 'to-read', 'count': '122552'}, {'name': 'currently-reading', 'count': '10145'}, ...]`                                                                    |
| edition_information   | TEXT            | Additional edition information (often empty)                                                                         | (empty)                                                                                                                                                                |
| isbn                  | TEXT            | Standard ISBN (may differ from ISBN-13)                                                                                | 0765365278                                                                                                                                                             |
| publication_day       | NUMERIC             | Day of publication                                                                                                   | 24.0                                                                                                                                                                   |
| publication_month     | NUMERIC             | Month of publication                                                                                                 | 5.0                                                                                                                                                                    |

#### b) ii) Goodreads Reviews - *goodreads_reviews_spoiler.json*

In [16]:
file_path = './Datasets/2_3_goodreads/goodreads_reviews_filtered.json'

df = pd.read_json(file_path, lines=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262061 entries, 0 to 262060
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   review_id         262061 non-null  object
 1   book_id           262061 non-null  int64
 2   rating            262061 non-null  int64
 3   review_sentences  262061 non-null  object
 4   has_spoiler       262061 non-null  bool
 5   timestamp         262061 non-null  datetime64[ns]
 6   user_id           262061 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(2), object(3)
memory usage: 12.2+ MB

- ***goodreads_reviews_filtered.json* Characterization Table**
 
| Column Name      | Data Type         | Description                                                                               | Example Value                                                                                                                                                                                                                                                       |
|------------------|-------------------|-------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| review_id        | TEXT            | Unique identifier for the review                                                          | e02075d42b5d7096c3c4fa86acccf8f3                                                                                                                                                                                                                                     |
| book_id          | NUMERIC               | Identifier of the book being reviewed                                                     | 9647295                                                                                                                                                                                                                                                              |
| rating           | NUMERIC               | The rating given by the reviewer (typically on a scale of 1 to 5)                           | 4                                                                                                                                                                                                                                                                    |
| review_sentences | ARRAY<.TEXT>    | List of review sentences; each element is a structure with keys like "text" and "flag"      | `[{'text': 'Satisfying, and quite the page turner.', 'flag': '0'}, {'text': 'However, a book of this length must inevitably be guilty of meandering, and meander it most certainly did.', 'flag': '0'}, …]`                                                     |
| has_spoiler      | CATEGORICAL           | Indicates whether the review contains spoilers                                              | False                                                                                                                                                                                                                                                                |
| timestamp        | DATE              | Date the review was posted                                                                  | 2016-01-20                                                                                                                                                                                                                                                           |
| user_id          | TEXT            | Unique identifier for the user who submitted the review                                     | 0b0eb7f583962f6f8c5fd9e08cf27042                                                                                                                                                                                                                                     |

#### b) iii) Goodreads Reviews - goodreads_book_authors.json

In [19]:
file_path = './Datasets/2_3_goodreads/goodreads_book_authors.json'

df = pd.read_json(file_path, lines=True)

In [21]:
df.head() #goodreads_book_authors

,ratings_count,name,text_reviews_count,author_id,average_rating
0,0,Vesna Velkovrh Bukilica,0,17287029,0.00
1,0,smyr Hydry,0,17209412,0.00
2,0,tynrjby khmsy,0,16066657,0.00
3,7174,Mariam T. Tennoe,12,13975984,4.33
4,7174,Susan F. Henssonow,12,13975985,4.33

### c) Goodreads - 2019-2020

This file was sourced from a newer dataset from the prior (obtained independently), primarly containing detailed information about the books. Detailed description for each column can be found alongside.

- **goodreads_2019_2020.csv (~1.5MB)** 


There is an issue with the file's formating. Instead of only 12 fields some entries have 13. We have to look more closely to fix this issue.

In [16]:
file_path = "./Datasets/2_3_goodreads/goodreads_2019_2020.csv"

with open(file_path, 'r', newline='', encoding='utf-8') as file:
    reader = csv.reader(file)
    for i, row in enumerate(reader):
        if i < 2:
            for _ in row:
                print(_)
        else:
            break

bookID
title
authors
average_rating
isbn
isbn13
language_code
  num_pages
ratings_count
text_reviews_count
publication_date
publisher
1
Harry Potter and the Half-Blood Prince (Harry Potter  #6)
J.K. Rowling/Mary GrandPré
4.57
0439785960
9780439785969
eng
652
2095690
27591
9/16/2006
Scholastic Inc.

In [47]:
df = pd.read_csv(file_path)

FileNotFoundError: [Errno 2] No such file or directory: './Datasets/goodreads/goodReads_2019_2020.csv'

<ins> Pandas is having issues with the format, we'll fix it in data cleaning section</ins>

- ***goodreads_2019_2020.json* Characterization Table**

| Column Name         | Data Type | Description                                                                                          | Example Value                                                       |
|---------------------|-----------|------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|
| bookID              | NUMERIC       | A unique identification number for each book (in this data set they were by incrementation)                                                     | 1                                                                    |
| title               | TEXT    | The name under which the book was published.                                                       | Harry Potter and the Half-Blood Prince (Harry Potter  #6)            |
| authors             | TEXT    | Names of the authors. Multiple authors are delimited by a hyphen (-) or slash (/).                   | J.K. Rowling/Mary GrandPré                                           |
| average_rating      | NUMERIC     | The average rating the book received in total.                                                     | 4.57                                                                 |
| isbn                | TEXT    | The International Standard Book Number (unique identifier for the book).                           | 0439785960                                                           |
| isbn13              | TEXT    | A 13-digit ISBN used to identify the book.                                                         | 9780439785969                                                        |
| language_code       | TEXT    | The primary language code of the book (e.g., "eng" for English).                                   | eng                                                                  |
| num_pages           | NUMERIC       | Number of pages contained in the book.                                                             | 652                                                                  |
| ratings_count       | NUMERIC       | Total number of ratings the book has received.                                                     | 2095690                                                              |
| text_reviews_count  | NUMERIC       | Total number of written text reviews the book has received.                                        | 27591                                                                |
| publication_date    | DATE      | The date when the book was first published. (Can be stored as a DATE or string in a consistent format.) | 2006-09-16  (or 9/16/2006)                                            |
| publisher           | TEXT    | The name of the publisher.                                                                         | Scholastic Inc.                                                      |

### d)  Book‑Crossing Community

This dataset is divided into 3 tables:

#### d) i) Books - *book_crossing_Books.csv*

Books are identified by their respective ISBN and invalid ISBNs were already removed from this the dataset. ***~69.9MB***

In [41]:
file_path = "./Datasets/4_bookcrossing/book_crossing_Books.csv"

with open(file_path, 'r', newline='', encoding='utf-8') as file:
    reader = csv.reader(file)
    for i, row in enumerate(reader):
        if i < 2:
            for _ in row:
                print(_)
        else:
            break

ISBN
Book-Title
Book-Author
Year-Of-Publication
Publisher
Image-URL-S
Image-URL-M
Image-URL-L
0195153448
Classical Mythology
Mark P. O. Morford
2002
Oxford University Press
http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg
http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg
http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg

- ***book_crossing_Books.csv* Characterization Table**

| Column Name               | Data Type        | Description                                                                                         | Example Value                                                                                                                          |
|---------------------------|------------------|-----------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------|
| ISBN                      | **TEXT**           | The International Standard Book Number that uniquely identifies the book.                         | 0590485733                                                                                                                             |
| Book-Title                | TEXT           | The title under which the book was published.                                                     | Dog to the Rescue II: Seventeen More True Tales of Dog Heroism (Dog to the Rescue)                                                       |
| Book-Author               | TEXT           | The name(s) of the author(s) of the book. If multiple, they are delimited (e.g., by a slash or hyphen). | Jeannette Sanderson                                                                                                                    |
| Year-Of-Publication       | DATE   | The year the book was first published.                                                            | 1995                                                                                                                                   |
| Publisher                 | TEXT           | The name of the publisher.                                                                          | Scholastic                                                                                                                             |
| Image-URL-S               | TEXT           | URL for the small version of the book's cover image.                                                | http://images.amazon.com/images/P/0590485733.01.THUMBZZZ.jpg                                                                             |
| Image-URL-M               | TEXT           | URL for the medium version of the book's cover image.                                               | http://images.amazon.com/images/P/0590485733.01.MZZZZZZZ.jpg                                                                             |
| Image-URL-L               | TEXT           | URL for the large version of the book's cover image.                                                | http://images.amazon.com/images/P/0590485733.01.LZZZZZZZ.jpg                                                                             |

**Check what is really causing this issue!**

Seems that some date are being taken as NUMERIC and others as STR. Later well convert them to unix time though. We played around with the acceptable range of valid years to see the issue.

- 4621 entries/ rows have "0" has their 'Year-Of-Publication'.
- 12 entries/ rows have with years ahead of 2024 has their 'Year-Of-Publication', which is implausible since this dataset was published in 2024.
- 3 entries/ rows have an issue with their structuring it - The titles contain extra escaped quotes (\") and semicolons (;) that appear to be artifacts from the export process. This induced the titles to not be properly parsed during data extraction with pandas, the supposed 'Book-Author' values to be fused with "Book-Title" values, and consequently the other values to be moved to the incorrect column.

In [42]:

df = pd.read_csv(file_path, low_memory=False)

df['Year-Of-Publication_clean'] = df['Year-Of-Publication'].astype(str).str.strip()
df['Year_numeric'] = pd.to_numeric(df['Year-Of-Publication_clean'], errors='coerce')

# Define a plausible range for valid years. Adjust min_year as needed. (some of this dates feel wrong)
min_year = 1
max_year = 3000

invalid_years = df[
    (df['Year_numeric'].isna()) |
    (df['Year_numeric'] < min_year) |
    (df['Year_numeric'] > max_year)
]

print("Entries with invalid Year-Of-Publication:")
print(invalid_years[['Year-Of-Publication', 'Year-Of-Publication_clean', 'Year_numeric']])

Entries with invalid Year-Of-Publication:
       Year-Of-Publication Year-Of-Publication_clean  Year_numeric
176                      0                         0           0.0
188                      0                         0           0.0
288                      0                         0           0.0
351                      0                         0           0.0
542                      0                         0           0.0
...                    ...                       ...           ...
270794                   0                         0           0.0
270913                   0                         0           0.0
271094                   0                         0           0.0
271182                   0                         0           0.0
271196                   0                         0           0.0

[4621 rows x 3 columns]

In [44]:
df['Year-Of-Publication_clean'] = df['Year-Of-Publication'].astype(str).str.strip()
df['Year_numeric'] = pd.to_numeric(df['Year-Of-Publication_clean'], errors='coerce')

# Define a plausible range for valid years. Adjust min_year as needed. (some of this dates feel wrong)
min_year = 0
max_year = 2024 # this dataset was published in 2024

invalid_years = df[
    (df['Year_numeric'].isna()) |
    (df['Year_numeric'] < min_year) |
    (df['Year_numeric'] > max_year)
]

print("Entries with invalid Year-Of-Publication:")
print(invalid_years[['Year-Of-Publication', 'Year-Of-Publication_clean', 'Year_numeric']])

Entries with invalid Year-Of-Publication:
       Year-Of-Publication Year-Of-Publication_clean  Year_numeric
37487                 2030                      2030        2030.0
55676                 2030                      2030        2030.0
78168                 2030                      2030        2030.0
80264                 2050                      2050        2050.0
97826                 2050                      2050        2050.0
116053                2038                      2038        2038.0
118294                2026                      2026        2026.0
192993                2030                      2030        2030.0
209538   DK Publishing Inc         DK Publishing Inc           NaN
220731           Gallimard                 Gallimard           NaN
221678   DK Publishing Inc         DK Publishing Inc           NaN
228173                2030                      2030        2030.0
240169                2030                      2030        2030.0
255409                2037                      2037        2037.0
260974                2030                      2030        2030.0

In [109]:
selected_rows = df.loc[[209538, 220731, 221678]]
selected_rows

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Year-Of-Publication_clean,Year_numeric
209538,078946697X,"DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\"";Michael Teitelbaum""",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg,NaN,DK Publishing Inc,NaN
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-Marie Gustave Le ClÃ?Â©zio""",2003,Gallimard,http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg,NaN,Gallimard,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\"";James Buckley""",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg,NaN,DK Publishing Inc,NaN

In [110]:
selected_titles = df.loc[[209538, 220731, 221678], 'Book-Title']

for idx, title in selected_titles.items():
    print(f"Index {idx}:")
    print(title)
    print()

Index 209538:
DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\";Michael Teitelbaum"

Index 220731:
Peuple du ciel, suivi de 'Les Bergers\";Jean-Marie Gustave Le ClÃ?Â©zio"

Index 221678:
DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\";James Buckley"

In [115]:
# Set display option to avoid truncation
pd.set_option('display.max_colwidth', None)

# Define a function to fix the fused Book-Title field.
# It expects the problematic pattern '";' (an escaped quote followed by a semicolon)
def fix_title_and_author(fused_value):
    if '";' in fused_value:
        # Split on the problematic pattern
        parts = fused_value.split('";')
        # Remove extra quotes and whitespace from both parts
        title = parts[0].replace('"', '').strip()
        author = parts[1].replace('"', '').strip() if len(parts) > 1 else ''
        return pd.Series([title, author])
    else:
        return pd.Series([fused_value, None])

# Define the ISBNs of the rows to fix
problematic_isbns = ["078946697X", "2070426769", "0789466953"]

# Create a CATEGORICAL mask for rows with these ISBNs
mask = df['ISBN'].isin(problematic_isbns)

# Apply the fix to the "Book-Title" column for the problematic rows
# The function returns a Series with [corrected title, extracted author]
fixed = df.loc[mask, 'Book-Title'].apply(fix_title_and_author)
fixed.columns = ['Book-Title', 'Book-Author']  # Name the new columns

# Update the original DataFrame with the fixed values
df.loc[mask, ['Book-Title', 'Book-Author']] = fixed

# Verify the results by printing the problematic rows (showing ISBN, Book-Title, and Book-Author)
df.loc[mask]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Year-Of-Publication_clean,Year_numeric
209538,078946697X,"DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\",Michael Teitelbaum,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg,NaN,DK Publishing Inc,NaN
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\",Jean-Marie Gustave Le ClÃ?Â©zio,Gallimard,http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg,NaN,Gallimard,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\",James Buckley,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg,NaN,DK Publishing Inc,NaN

The rest will be left to the data cleaning section.

**The other issues will be left to the data cleaning section.**

In [149]:
example = df[df['Book-Author'].str.contains("Sanderson", case=False, na=False)]
print(example.head(1).to_string())

             ISBN                                                                          Book-Title          Book-Author Year-Of-Publication   Publisher                                                   Image-URL-S                                                   Image-URL-M                                                   Image-URL-L Year-Of-Publication_clean  Year_numeric
53897  0590485733  Dog to the Rescue II: Seventeen More True Tales of Dog Heroism (Dog to the Rescue)  Jeannette Sanderson                1995  Scholastic  http://images.amazon.com/images/P/0590485733.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0590485733.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0590485733.01.LZZZZZZZ.jpg                      1995        1995.0

#### d) ii) Ratings - *book_crossing_Ratings.csv*

Ratings (Book-Rating) are either explicit, expressed on a scale from 1-10 (higher values denoting higher appreciation). Ratings can also be expressed implicitly by 0, meaning user has interest (clicked on the book's link ) and there is no rating data yet rather than a user intentionally giving a bad score.

AKA - "0" shows user didn't vote the book, but interacted with it in some way.

***~21.6MB***

In [45]:
file_path = "./Datasets/4_bookcrossing/book_crossing_Ratings.csv"

df = pd.read_csv(file_path)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [36]:
df.dtypes

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

In [37]:
df.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0

- ***book_crossing_Ratings.csv* Characterization Table**

| Column Name  | Data Type | Description                                                           | Example Value |
|--------------|-----------|-----------------------------------------------------------------------|---------------|
| User-ID      | NUMERIC       | A unique identifier for the user who submitted the rating.           | 276725        |
| ISBN         | TEXT    | The International Standard Book Number for the book being rated.     | 034545104X    |
| Book-Rating  | NUMERIC       | The rating given by the user. | 0             |

#### d) iii) Users - *book_crossing_Users.csv*

Contains the users. Note that user IDs (User-ID) have been anonymized and map to integers (still correspond to their conterparts the other tables). 

Demographic data is provided (Location, Age) if available. Otherwise, these fields contain NULL-values.


***~10.5MB***

In [40]:
file_path = "./Datasets/4_bookcrossing/book_crossing_Users.csv"

df_users = pd.read_csv(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [159]:
df_users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

- ***book_crossing_Users.csv* Characterization Table**

| Column Name | Data Type | Description                                                                 | Example Value                         |
|-------------|-----------|-----------------------------------------------------------------------------|--------------------------------------|
| User-ID     | NUMERIC       | A unique identifier for each user.                                          | 1                                    |
| Location    | TEXT    | The user’s location, typically in the format "city, state/region, country". | nyc, new york, usa                   |
| Age         | NUMERIC     | The age of the user. Can be missing (NaN) or imprecise; often needs cleaning. | 18.0             |

### e) Books Sales and Ratings

This dataset has one file - ***Books_Data_Clean.csv ~158.3KB*** 

Ignored index column, it's probably just a byproduct of the data produces exporting it with pandas.

In [50]:
file_path = "./Datasets/5_sales_N_ratings/Books_Data_Clean.csv"

df = pd.read_csv(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1070 non-null   int64
 1   Publishing Year      1069 non-null   float64
 2   Book Name            1047 non-null   object
 3   Author               1070 non-null   object
 4   language_code        1017 non-null   object
 5   Author_Rating        1070 non-null   object
 6   Book_average_rating  1070 non-null   float64
 7   Book_ratings_count   1070 non-null   int64
 8   genre                1070 non-null   object
 9   gross sales          1070 non-null   float64
 10  publisher revenue    1070 non-null   float64
 11  sale price           1070 non-null   float64
 12  sales rank           1070 non-null   int64
 13  Publisher            1070 non-null   object
 14  units sold           1070 non-null   int64
dtypes: float64(5), int64(4), object(6)
memory usage: 125.5+ KB

In [51]:
df

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.00,20496.000,4.88,1,HarperCollins Publishers,7000
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lewis, Dennis O'Neil",eng,Intermediate,4.23,145267,genre fiction,12437.50,7462.500,1.99,2,HarperCollins Publishers,6250
2,2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.00,28677.000,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.00,24750.000,7.50,3,Hachette Book Group,5500
4,4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.50,22771.500,7.99,4,Penguin Group (USA) LLC,4750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,1065,2014.0,Gray Mountain,John Grisham,eng,Intermediate,3.52,37379,nonfiction,104.94,62.964,0.99,1268,"Amazon Digital Services, Inc.",106
1066,1066,1989.0,The Power of One,Bryce Courtenay,eng,Excellent,4.34,57312,genre fiction,846.94,508.164,7.99,1270,Random House LLC,106
1067,1067,1930.0,The Maltese Falcon,Dashiell Hammett,eng,Intermediate,3.92,58742,genre fiction,846.94,508.164,7.99,1271,Hachette Book Group,106
1068,1068,2011.0,Night Road,Kristin Hannah,en-US,Excellent,4.17,58028,genre fiction,104.94,62.964,0.99,1272,"Amazon Digital Services, Inc.",106
1069,1069,1999.0,Tripwire,Lee Child,eng,Excellent,4.07,55251,genre fiction,316.94,0.000,2.99,1273,"Amazon Digital Services, Inc.",106

| Column Name           | Data Type      | Description                                                                                                  | Example Value                     |
|-----------------------|----------------|--------------------------------------------------------------------------------------------------------------|-----------------------------------|
| Publishing Year       | NUMERIC | The year in which the book was published.                                                                  | 1975.0                            |
| Book Name             | TEXT         | The title of the book.                                                                                       | Beowulf                           |
| Author                | TEXT         | The name(s) of the author(s) of the book.                                                                    | Unknown, Seamus Heaney            |
| language_code         | TEXT         | The code representing the language in which the book is written.                                             | en-US                             |
| Author_Rating         | CATEGORICAL | The rating of the author based on their works (Novice, Intermediate, Excellent or Famous  ).      | Novice                            |
| Book_average_rating   | NUMERIC          | The average rating given to the book by readers.                                                             | 3.42                              |
| Book_ratings_count    | NUMERIC            | The total number of ratings the book received.                                                               | 155903                            |
| genre                 | TEXT         | The genre or category of the book.                                                                           | genre fiction                     |
| gross sales           | NUMERIC          | The total sales revenue generated by the book.                                                               | 34160.0                           |
| publisher revenue     | NUMERIC          | The revenue earned by the publisher from selling the book.                                                   | 20496.0                           |
| sale price            | NUMERIC          | The price at which the book was sold.                                                                        | 4.88                              |
| sales rank            | NUMERIC            | The rank of the book based on its sales performance.                                                         | 1                                 |
| Publisher             | TEXT         | The name of the publisher.                                                                                     | HarperCollins Publishers          |
| units sold            | NUMERIC            | The number of units sold for the book.                                                                       | 7000                              |

In [52]:
print(df['Author_Rating'].value_counts())

Author_Rating
Intermediate    625
Excellent       362
Famous           53
Novice           30
Name: count, dtype: int64

#### f) i) Amazon Metadata 
***amazon_com_extras.csv ~7.8MB*** 

This file contains detailed information on 63.743 books (different formats are different entries).

In [25]:
file_path = "./Datasets/6_ranks_print_kindle/amazon_com_extras.csv"

df_ACE = pd.read_csv(file_path, on_bad_lines='skip', encoding='latin-1')

df_ACE.head(2)

,ASIN,GROUP,FORMAT,TITLE,AUTHOR,PUBLISHER
0,1250150183,book,hardcover,The Swamp: Washington's Murky Pool of Corruption and Cronyism and How Trump Can Drain It,Eric Bolling,St. Martin's Press
1,0778319997,book,hardcover,"Rise and Shine, Benedict Stone: A Novel",Phaedra Patrick,Park Row Books

| Column Name | Data Type | Description                                                               | Example Value                                      |
|-------------|-----------|---------------------------------------------------------------------------|----------------------------------------------------|
| ASIN        | TEXT   | Amazon Standard Identification Number; a unique product identifier        | 1250150183                                         |
| GROUP       | TEXT      | Product category or group                                                 | book                                               |
| FORMAT      | TEXT      | Format of the product (e.g., book, paperback, kindle,...)                 | hardcover                                          |
| TITLE       | TEXT      | Title of the product                                                      | The Swamp: Washington's Murky Pool of Corruption and Cronyism and How Trump Can Drain It  |
| AUTHOR      | TEXT      | Author(s) of the product                                                  | Eric Bolling                                       |
| PUBLISHER   | TEXT      | Publisher of the product                                                  | St. Martin's Press                                 |

**Let's view the bad line!**

In [15]:
file_path = "./Datasets/6_ranks_print_kindle/amazon_com_extras.csv"
bad_line_number = 808

with open(file_path, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file, start=1):
        if i == bad_line_number:
            print(f"Bad line (line {bad_line_number}):")
            print(line)
            break

Bad line (line 999):
"0062067656","book","hardcover","Power & Beauty: A Love Story of Life on the Streets","Tip "T.I." Harris, David Ritz","William Morrow"

In [13]:
file_path = "./Datasets/6_ranks_print_kindle/amazon_com_extras.csv"

# quickly id the bad line
faulty_substr = 'Girl in Glass: How My "Distressed Baby"'

fixed_line = (
    '"1620409917","book","hardcover",'
    '"Girl in Glass: How My ""Distressed Baby"" Defied the Odds, Shamed a CEO, and Taught Me the Essence of Love, Heartbreak, and Miracles",'
    '"Deanna Fei","Bloomsbury USA"\n'
)

# wasnt utf-8 for some reason
with open(file_path, 'r', encoding='latin-1') as file:
    lines = file.readlines()

new_lines = []
for line in lines:
    if faulty_substr in line:
        print("Found faulty line. Replacing it with the corrected version.")
        new_lines.append(fixed_line)
    else:
        new_lines.append(line)

with open(file_path, 'w', encoding='latin-1') as file:
    file.writelines(new_lines)

print("File update complete.")

Found faulty line. Replacing it with the corrected version.
File update complete.

##### THIS PART SHOULD GO TO DATA CLEANING PART Script to detect bad lines

In [33]:
import csv

file_path = "./Datasets/6_ranks_print_kindle/amazon_com_extras.csv"
expected_columns = 6 

bad_lines = []

# Using latin-1 encoding since there were encoding issues with utf-8
with open(file_path, 'r', encoding='latin-1') as file:
    for line_number, line in enumerate(file, start=1):
        try:
            reader = csv.reader([line])
            row = next(reader)
            if len(row) != expected_columns:
                bad_lines.append((line_number, line, f"{len(row)} columns found"))
        except Exception as e:
            bad_lines.append((line_number, line, f"Error: {e}"))

if bad_lines:
    print("Found lines with potential errors:")
    for line_number, content, info in bad_lines:
        print(f"Line {line_number} ({info}): {content.strip()}")
else:
    print("No similar errors found.")

No similar errors found.

Fix all the bad lines manually just to open the doc...

In [23]:
import os

file_path = "./Datasets/6_ranks_print_kindle/amazon_com_extras.csv"
backup_path = file_path + ".bak"

if not os.path.exists(backup_path):
    os.rename(file_path, backup_path)
    os.rename(backup_path, file_path) 
    os.system(f'cp "{file_path}" "{backup_path}"')
print("Backup created as:", backup_path)

# Define corrections. For multi‐line issues, the key will be the first line number 
# and the value is the complete corrected record (with a trailing newline).
# (All corrected lines are assumed to have exactly 6 columns.)
corrections = {
    999:  '"0062067656","book","hardcover","Power & Beauty: A Love Story of Life on the Streets","Tip ""T.I."" Harris, David Ritz","William Morrow"\n',
    1693: '"1498756301","book","hardcover","""Faster, Better, Cheaper"" in the History of Manufacturing: From the Stone Age to Lean Manufacturing and Beyond","Christoph Roser","Productivity Press"\n',
    2391: '"0723568421","book","hardcover","""Pet Shop Boys"", Annually","Chris Heath","TBS The Book Service Ltd"\n',
    2486: '"1101985879","book","hardcover","The Awkward Thoughts of W. Kamau Bell: Tales of a 6\' 4"" African American, Heterosexual, Cisgender, Left-Leaning, Asthmatic, Black and Proud Blerd, Mama\'s Boy, Dad, and Stand-Up Comedian","W. Kamau Bell","Dutton"\n',
    3021: '"1439103186","book","hardcover","My Infamous Life: The Autobiography of Mobb Deep\'s Prodigy","Albert ""Prodigy"" Johnson, Laura Checkoway","Touchstone"\n',
    5025: '"022651210X","book","hardcover","Toward ""Natural Right and History"": Lectures and Essays by Leo Strauss, 1937â1946","Leo Strauss, J. A. Colen, Svetozar Minkov","University Of Chicago Press"\n',
    7090: '"1772262153","book","hardcover","The Book of Military Strategy: Sun Tzu\'s ""The Art of War,"" Machiavelli\'s ""The Prince,"" and Clausewitz\'s ""On War"" (Annotated) (1000 Copy Limited Edition)","Sun Tzu, NiccolÃ² Machiavelli, Carl von Clausewitz","Engage Books"\n',
    7386: '"1947856197","book","hardcover","Easy For You To Say","Stuttering"" John Melendez, Jay Leno","Rare Bird Books, A Vireo Book"\n',
    # Merge lines 7841-7843 into one corrected record:
    7841: ('"1557667667","book","hardcover","Medical Care for Children & Adults With Developmental Disabilities",'
           '"I. Rubin M.D., Allen Crocker M.D., David Satcher ""M.D.  Ph.D."", Randall Alexander ""M.D.  Ph.D."", '
           'Deborah Allen Sc.D., Norberto Alvarez M.D., Jack Arbiser M.D., Linda Barnes ""Ph.D.  M.A."", '
           'Stuart Bauer M.D., Joan Beasley Ph.D., Lauren Berman ""M.S.W.""","Paul H Brookes Pub Co"\n'),
    # Merge lines 15865-15871 into one corrected record:
    15865: ('"B00997YJZM","kindle","kindle edition","Dating and the Single Parent: * Are You Ready to Date? * Talking With the Kids '
           '* Avoiding a Big Mistake * Finding Lasting Love","Ron L. Deal, Dennis Rainey","Bethany House Publishers"\n'),
    16638: '"B07C7WR152","kindle","kindle edition","FutaWorld! Fantasy ""The Witch and the Futa Succubus"": a Futanari, Futa on Female Erotic Story","Angel Kitty, Angela Bellerose",""\n',
    17130: '"B07DB6BYZ8","kindle","kindle edition","FutaWorld! Sci-Fi Futas Taken by the Alien 4: A Futanari, Futa-on-Female, Futa-on-Futa, Tentacle Monster Erotic Story","Angel Kitty, Angela Bellerose",""\n',
    17244: '"B00RUHHGNU","kindle","kindle edition","CÃ³mo Construir LÃ­DERES En Redes De Mercadeo Volumen Uno: CreaciÃ³n Paso A Paso De Profesionales En MLM (Spanish Edition)","Tom ""Big Al"" Schreiter, Alejandro GonzÃ¡lez LÃ³pez","Fortune Network Publishing"\n',
    17486: '"B07CPJ89QF","kindle","kindle edition","FutaWorld! Fantasy ""The Futa Harem 4"": A Futanari, Futa on Female, Futa on Futa, Erotic Story","Angel Kitty, Angela Bellerose",""\n',
    17689: '"B07B25Z4LV","kindle","kindle edition","FutaWorld! ""My Futa Roommate: Taking Her In Public"" Part 4: A Futanari, Dickgirl, Futa-on-Female Erotica","Angel Kitty, Angela Bellerose",""\n',
    17691: '"B005HFQ1N8","kindle","kindle edition","Star Griffin","Michael Kurland, Dick ""Ditmar"" Jenssen, Richard A. Lupoff","Ramble House"\n',
    17909: '"B07BFMRTGK","kindle","kindle edition","FutaWorld! Fantasy ""The Futa Succubus"": A Futanari, Futa on Female, Dickgirl, Fantasy Erotica","Angel Kitty, Angela Bellerose",""\n',
    18260: '"B00W8HCGJ6","kindle","kindle edition","CÃ³mo Construir LÃ­deres En Redes De Mercadeo Volumen Dos: Actividades Y Lecciones Para LÃ­deres de MLM (Spanish Edition)","Tom ""Big Al"" Schreiter, Alejandro GonzÃ¡lez LÃ³pez","Fortune Network Publishing"\n',
    19604: '"B079S72Z4Q","kindle","kindle edition","FutaWorld! ""My Futa Roommate: Showing Her Off"" Part 3: A Futanari, Dickgirl, Futa-on-Female Erotica","Angel Kitty, Angela Bellerose",""\n',
    19949: '"B07BKXH4RD","kindle","kindle edition","FutaWorld! ""My Futa Best Friend"": A Futanari, Futa on Female Erotica Story","Angel Kitty, Angela Bellerose",""\n',
    22320: '"B00L2SUDNI","kindle","kindle edition","Infidelity:  Betrayal And Broken Trust In The Marriage: How to deal with the ""little foxes"" of flirting, temptations and infidelity  in marriage and proven ways to sustain the marital relationship","William Appiah, Rev. Mrs Dorothy Appiah","The House Of Change"\n',
    25163: '"B079WSQ4HB","kindle","kindle edition","FutaWorld! ""My Futa In Charge: Sexy New Friend"" Part 2: A Futanari, Dickgirl, Futa on Female Erotica","Angel Kitty, Angela Bellerose",""\n',
    26323: '"B07CCHQWVR","kindle","kindle edition","FutaWorld! Sci-Fi ""Futas Taken by the Alien 2"": A Futanari, Futa on Futa, Tentacle Alien Erotic Story","Angel Kitty, Angela Bellerose",""\n',
    26539: '"B07BJ7WMS8","kindle","kindle edition","FutaWorld! ""My Futa Roommate: Je T\'aime"" Part 5: A Futa on Female, Futanari Erotica","Angel Kitty, Angela Bellerose",""\n',
    # Delete stray line 27967 (a single quote line) by mapping it to an empty string:
    27967: '',
    30256: '"B07CLZPY9P","kindle","kindle edition","FutaWorld! Sci-Fi ""Futas Taken by the Alien"" Part 3: A Futanari, Futa on Female, Futa on Futa, Tentacle Alien Erotic Story","Angel Kitty, Angela Bellerose",""\n',
    30582: '"B07B7BR7ZY","kindle","kindle edition","FutaWorld! ""My Futa Professor"": A Futa on Female, Futanari, Dickgirl Story","Angel Kitty, Angela Bellerose",""\n',
    31095: '"B07BZM99LS","kindle","kindle edition","FutaWorld! ""My Naughty Futa Bundle"" - 5 Story Bundle!: 5 Stories of Futanari, Futa on Female, Transgender Erotica","Angel Kitty, Angela Bellerose",""\n',
    31317: '"B079Q476PD","kindle","kindle edition","FutaWorld! ""My Futa In Charge"" Part 1: A Futanari, Dickgirl, Futa-on-Female Erotica","Angel Kitty, Angela Bellerose",""\n',
    31425: '"B01ES10DFI","kindle","kindle edition","The Slime Dungeon: Book 1 (The Slime Dungeon Chronicles)","Jeffrey ""Falcon"" Logue, Silvia Lew","Jeffrey ""Falcon"" Logue"\n',
    33283: '"B07BRSPZ63","kindle","kindle edition","FutaWorld! SciFi: ""Futas Taken By The Alien"": A Futanari, Futa on Futa, Alien Tentacle Erotic Story (FutaWorld! Sci-Fi)","Angel Kitty, Angela Bellerose",""\n',
    33513: '"B07C3VFVRC","kindle","kindle edition","FutaWorld! Fantasy ""The Futa Harem"" Part 2: A Futanari, Futa on Female, Futa on Futa, Erotica","Angel Kitty, Angela Bellerose",""\n',
    # Merge lines 33730-33731:
    33730: '"B009AC3358","kindle","kindle edition","Pirates (with panel zoom) - Classics Illustrated World Around Us","Albert Lewis Kanter, Jr., William B. Jones","Classics Illustrated"\n',
    33897: '"B07CJ9KVW5","kindle","kindle edition","FutaWorld! Fantasy ""The Futa Harem"" Part 3: A Futanari, Futa on Female, Futa on Futa Erotic Story","Angel Kitty, Angela Bellerose",""\n',
    # Merge lines 34353-34354:
    34353: '"B009AC30TW","kindle","kindle edition","Royal Canadian Mounted Police (with panel zoom) - Classics Illustrated Special Issue","Lorenz Graham, Jr., William B. Jones","Classics Illustrated"\n',
    34850: ('"B07BB2P3W6","kindle","kindle edition","The Complete Richard Hannay: ""The Thirty-Nine Steps""",'
            '"Greenmantle","Mr Standfas, John Buchan, JA"\n'),
    36535: '"B079VPH4TY","kindle","kindle edition","FutaWorld! ""My Futa Master"" COMPLETE BUNDLE : 3 Part Story of Futa on Male, Domination, Fem Dom, Futanari Erotica","Angel Kitty, Angela Bellerose",""\n',
    36629: '"B06XW2PTPC","kindle","kindle edition","The Little Black Book of Violence: What Every Young Man Needs to Know About Fighting","Lawrence A. Kane, Kris Wilder, Marc ""Animal"" MacYoung, Rory Miller, Lt. Col. John R. Finch","YMAA Publication Center"\n',
    36863: ('"B00DOAHBZU","kindle","kindle edition","Books for Kids: ""TERRY TREETOP AND LOST EGG"" (Animal story, Bedtime story, Beginner readers, '
             'Values kids book, Rhymes, Adventure & Education, Preschool ... learn) (The Terry Treetop Series Book 1)","Tali Carmi","eBook-Pro"\n'),
    37593: '"B07BW91W45","kindle","kindle edition","FutaWorld! Fantasy ""The Futa Succubus"" Part 2: Cuckolded by The Succubus: A Futanari, Futa on Female, Transgender Erotica","Angel Kitty, Angela Bellerose",""\n',
    37599: '"B07CNSDRC3","kindle","kindle edition","FutaWorld! Fantasy ""The Futa Succubus"" Part 3: A Futanari, Futa on Female, Fertile Erotica Story","Angel Kitty, Angela Bellerose",""\n',
    37933: '"B079K1737X","kindle","kindle edition","FutaWorld!: ""My Futa Roommate: Ma Cherie"" Part 2: A Futanari, Dickgirl, Futa-on-Female Erotica","Angel Kitty, Angela Bellerose",""\n',
    38161: '"B079DTBFRK","kindle","kindle edition","FutaWorld!: ""My Futa Master: Forever Her Slave"" Part 3: A Futanari, Dickgirl, FemDom, Futa on Male Erotica","Angel Kitty, Angela Bellerose",""\n',
    38277: '"B07969DP7N","kindle","kindle edition","FutaWorld!: ""My Futa Roommate"" Part 1: A Futanari, Dickgirl, Futa-on-Female Erotica","Angel Kitty, Angela Bellerose",""\n',
    38405: '"B0799PHY49","kindle","kindle edition","FutaWorld!: ""My Futa Teammate: Filling Her Up"" Part 4 - a Futanari, Dickgirl, Futa on Female, Futa on Futa Menage Erotica","Angel Kitty, Angela Bellerose",""\n',
    38508: ('"B078T9QK47","kindle","kindle edition","FutaWorld!: ""My Futa Teammate, Part 2 - Making Her Mine"": A Futa-on-Female, Dickgirl, '
             'Steamy Domination Erotica Short Story","Angel Kitty, Angela Bellerose",""\n'),
    38862: '"B078ZFC4WS","kindle","kindle edition","FutaWorld!: ""My Futa Teammate: Taking Them Both"" Part 3: A Futa on Female, Futa on Futa, Dickgirl, Menage Erotica","Angel Kitty, Angela Bellerose",""\n',
    39089: '"B079LDY7PN","kindle","kindle edition","FutaWorld! ""My Futa Teammate: Taking the Team"" Part 5:  - A Futanari, Dickgirl, Futa-on-Female, Female on Female, Menage Erotica","Angel Kitty, Angela Bellerose",""\n',
    40616: ('"1504040732","book","paperback","Did You Know Thatâ¦?: ""Revised and Expanded"" Edition: Surprising-But-True Facts About History, Science, '
             'Inventions, Geography, Origins, Art, Music, and More","Marko Perko","Open Road Distribution"\n'),
    41769: ('"1974009084","book","paperback","4""x6"" Dotted Journal: Mini Small Pocket Cute Design Dot-Matrix/Dot-Grid Diary Notebook to write in, '
             'Bullet Journaling Essential Everyday Use Workbook ... Paperback (Mini Dotted Journals) (Volume 99)","Divine Stationaries","CreateSpace Independent Publishing Platform"\n'),
    42050: '"0062302647","book","paperback","Diary of a Madman: The Geto Boys, Life, Death, and the Roots of Southern Rap","Brad ""Scarface"" Jordan, Benjamin Meadows Ingram","Dey Street Books"\n',
    43099: ('"022603660X","book","paperback","From Black Sox to Three-Peats: A Century of Chicago\'s Best Sportswriting from the ""Tribune,"" '
             '""Sun-Times,"" and Other Newspapers","Ron Rapoport","University Of Chicago Press"\n'),
    43882: ('"1477117350","book","paperback","""""Girl, You Ain\'t Gonna Make It"""",: So They Said","Chloris C. Hall","XLIBRIS"\n'),
    46999: '"1683225554","book","paperback","When God Says ""Go"": Rising to Challenge and Change without Losing Your Confidence, Your Courage, or Your Cool","Elizabeth Laing Thompson","Shiloh Run Press"\n',
    47958: ('"1717551017","book","paperback","Appalachian Trail Who\'s Who on YouTube: 1977-2013 (Volume 1)","Jeffrey ""Loner"" Gray, Joe ""Apache"" Brewer, '
             'Chad Wesselman","CreateSpace Independent Publishing Platform"\n'),
    # Merge lines 48163-48164:
    48163: ('"9058565041","book","paperback","Exploring Ikebana (Dutch and English Edition)","Ilse Beunen, Stichting Kunstboak (Acc)",""\n'),
    48471: '"015205085X","book","paperback","Bloody Jack: Being an Account of the Curious Adventures of Mary ""Jacky"" Faber, Ship\'s Boy (Bloody Jack Adventures)","L. A. Meyer","HMH Books for Young Readers"\n',
    49293: '"0996372415","book","paperback","Too Tough to Love: My Life with Johnny Ramone","Cynthia ""Roxy"" Whitney, emily xyz","New Green Press"\n',
    51355: ('"0399534903","book","paperback","The Alternate-Day Diet: Turn on Your ""Skinny Gene,"" Shed the Pounds, and Live a Longer and HealthierLife",'
             '"James B. Johnson M.D., Donald R. Laub Sr. M.D.","Perigee Trade"\n'),
    51930: '"0061944181","book","paperback","The Black Hand: The Bloody Rise and Redemption of ""Boxer"" Enriquez, a Mexican Mob Killer","Chris Blatchford","William Morrow Paperbacks"\n',
    53155: ('"1598572709","book","paperback","Equity and Full Participation for Individuals with Severe Disabilities: A Vision for the Future",'
             '"Martin Agran Ph.D., Fredda Brown Ph.D., Carolyn Hughes Ph.D., Carol Quirk Ed.D., Dr. Diane Lea Ryndak Ph.D., Barbara Trader, '
             'David L. Westling Ed.D., Christine Bigby ""B.A. (Hons)  M."", Linda M. Bambara Ed.D., Jane Boone, Kristen Bottema-Beutel Ph.D., Matt",'
             '"Brookes Publishing"\n'),
    55513: '"1683220129","book","paperback","When God Says ""Wait"": navigating lifeâs detours and delays without losing your faith, your friends, or your mind","Elizabeth Laing Thompson","Shiloh Run Press"\n',
    56818: ('"1491041560","book","paperback","The ""Encyclopedia"" of Pool Hustlers: A rowdy assortment of anecdotes, insights, encounters, '
             'and esoteric knowledge of the legendary pool hustlers of the second half of the 20th century","mr Freddy The Beard Bentivegna","CreateSpace Independent Publishing Platform"\n'),
    57236: ('"1422158004","book","paperback","HBR\'s 10 Must Reads on Change Management (including featured article ""Leading Change,"" by John P. Kotter)","Harvard Business Review, John P. Kotter, W. Chan Kim, RenÃ©e A. Mauborgne","Harvard Business Review Press"\n'),
    57729: '"1425936091","book","paperback","""Is It A Child\'s Fault, Too?""","Andrea Taylor","AuthorHouse"\n',
    58296: '"1455501379","book","paperback","Mo\' Meta Blues: The World According to Questlove","Ahmir ""Questlove"" Thompson, Ben Greenman","Grand Central Publishing"\n',
    58760: ('"1523897988","book","paperback","Quad Ruled Notebook 1/4 inch Squares 120 Pages: 8.5""x11"" Quad ruled notebook with colorful garden cover, '
             'roman grid of 4 squares per inch, perfect ... doodling, composition notebook or journal","Spicy Journals","CreateSpace Independent Publishing Platform"\n'),
    59976: '"0761185526","book","paperback","Prison Ramen: Recipes and Stories from Behind Bars","Clifton Collins Jr., Gustavo ""Goose"" Alvarez, Samuel L. Jackson","Workman Publishing Company"\n',
    60424: '"0692789278","book","paperback","Snow On The Barb Wire","Bill ""El Wingador"" Simmons, Joe Vallee, Angelo Cataldi","William T. Simmons and Joseph J. Vallee Jr."\n',
    61181: ('"1594391297","book","paperback","The Little Black Book of Violence: What Every Young Man Needs to Know About Fighting",'
             '"Lawrence A. Kane, Kris Wilder, Lt. Col. John R. Finch, Marc ""Animal"" MacYoung, Rory Miller","Ymaa Publication Center"\n'),
    61300: '"1510712305","book","paperback","Basic Pool: The Ultimate Beginner\'s Guide","Arthur ""Babe"" Cranfield, Laurence S. Moy","Skyhorse Publishing"\n',
    62538: '"1500701653","book","paperback","The Eighth Sense?: Awareness of the Light. The Story of ""Pinky"" King - Healer, Psychic and Painter/Decorator","Pippin Mole, Mark (Pinky) King","CreateSpace Independent Publishing Platform"\n',
    62611: '"0062001388","book","paperback","The WSJ Guide to the 50 Economic Indicators That Really Matter: From Big Macs to ""Zombie Banks,"" the Indicators Smart Investors Watch to Beat the Market (Wall Street Journal Guides)","Simon Constable, Robert E. Wright","HarperBusiness"\n',
}

# its in latin-1 for some reason
with open(file_path, 'r', encoding='latin-1') as f:
    lines = f.readlines()

new_lines = []
line_num = 1
i = 0
total_lines = len(lines)
while i < total_lines:
    if line_num in corrections:
        new_lines.append(corrections[line_num])
        if line_num == 7841:
            i += 3  # skip 3 lines
            line_num += 3
            continue
        elif line_num == 15865:
            i += 7
            line_num += 7
            continue
        elif line_num == 33730:
            i += 2
            line_num += 2
            continue
        elif line_num == 34353:
            i += 2
            line_num += 2
            continue
        elif line_num == 48163:
            i += 2
            line_num += 2
            continue
        else:
            i += 1
            line_num += 1
            continue
    else:
        # Otherwise, keep the original line.
        new_lines.append(lines[i])
        i += 1
        line_num += 1

with open(file_path, 'w', encoding='latin-1') as f:
    f.writelines(new_lines)

print("File update complete.")

Backup created as: ./Datasets/6_ranks_print_kindle/amazon_com_extras.csv.bak
File update complete.

In [32]:
# still had some weird lines

file_path = "./Datasets/6_ranks_print_kindle/amazon_com_extras.csv"
backup_path = file_path + ".bak"

if not os.path.exists(backup_path):
    with open(file_path, 'rb') as original, open(backup_path, 'wb') as backup:
        backup.write(original.read())
print("Backup created at:", backup_path)

corrections = {
    8599: '"022637064X","book","hardcover","But Can I Start a Sentence with ""But""?: Advice from the Chicago Style Q&A (Chicago Guides to Writing, Editing, and Publishing)","The University of Chicago Press Editorial Staff, Carol Fisher Saller","University Of Chicago Press"\n',
    8609: '"1405246413","book","hardcover","""Go, Diego, Go!"" Annual 2010","VARIOUS","Egmont Books Ltd"\n',
    9462: '"1477202978","book","hardcover","""DON\'T THANK ME, THANK YOUR RECRUITER""","Ken Conklin","AuthorHouse"\n',
    10462: '"B07BTL75LR","kindle","kindle edition","FutaWorld! ""My Futa Roommate"" COMPLETE BUNDLE: 5 Stories of Futanari, Futa on Female, Transgender Erotica","Angel Kitty, Angela Bellerose",""\n',
    12673: '"B01LYY7WEZ","kindle","kindle edition","The Dungeon\'s Town (The Slime Dungeon Chronicles Book 2)","Jeffrey ""Falcon"" Logue, Silvia Lew","Jeffrey ""Falcon"" Logue"\n',
    13079: '"B01H6XKVRA","kindle","kindle edition","Der vergessene Soldat: Originaltitel ""Le Soldat oubliÃ©"", Ãbersetzung aus dem FranzÃ¶sischen (German Edition)","Guy Sajer, Wolf MÃ¼ller, Frederike Keller","Helios Verlag"\n',
    14939: '"B07BBNL1L4","kindle","kindle edition","FutaWorld! ""My Futa In Charge: Hard at Work"" Part 3: A Futanari, Futa on Female, Dickgirl Erotica","Angel Kitty, Angela Bellerose",""\n'
}

with open(file_path, 'r', encoding='latin-1') as f:
    lines = f.readlines()

new_lines = []
line_num = 1
i = 0
total_lines = len(lines)

while i < total_lines:
    if line_num in corrections:
        new_lines.append(corrections[line_num])
        i += 1  
        line_num += 1
    else:
        new_lines.append(lines[i])
        i += 1
        line_num += 1

with open(file_path, 'w', encoding='latin-1') as f:
    f.writelines(new_lines)

print("File update complete.")

Backup created at: ./Datasets/6_ranks_print_kindle/amazon_com_extras.csv.bak
File update complete.

In [ ]:
df_ACE = pd.read_csv(file_path, on_bad_lines='skip', encoding='latin-1')

### f) Kindle 2023 
- ***Kindle_data.csv ~35.8MB***

This file contains data for 133,102 kindle e-books.

In [56]:
file_path = "./Datasets/7_kindle/kindle_data.csv"

df_kindle = pd.read_csv(file_path)

In [57]:
df_kindle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133102 entries, 0 to 133101
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   asin               133102 non-null  object
 1   title              133102 non-null  object
 2   author             132677 non-null  object
 3   soldBy             123869 non-null  object
 4   imgUrl             133102 non-null  object
 5   productURL         133102 non-null  object
 6   stars              133102 non-null  float64
 7   reviews            133102 non-null  int64
 8   price              133102 non-null  float64
 9   isKindleUnlimited  133102 non-null  bool
 10  category_id        133102 non-null  int64
 11  isBestSeller       133102 non-null  bool
 12  isEditorsPick      133102 non-null  bool
 13  isGoodReadsChoice  133102 non-null  bool
 14  publishedDate      84086 non-null   object
 15  category_name      133102 non-null  object
dtypes: bool(4), float64(2), int64(2), object(8)
memory usage: 12.7+ MB

In [80]:
df_kindle.head(1)

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
0,B00TZE87S4,"Adult Children of Emotionally Immature Parents: How to Heal from Distant, Rejecting, or Self-Involved Parents",Lindsay C. Gibson,Amazon.com Services LLC,https://m.media-amazon.com/images/I/713KZTsaYpL._AC_UY218_.jpg,https://www.amazon.com/dp/B00TZE87S4,4.8,0,9.99,False,6,True,False,False,2015-06-01,Parenting & Relationships

| Column Name         | Data Type | Description                                                       | Example Value                                                   |
|---------------------|-----------|-------------------------------------------------------------------|-----------------------------------------------------------------|
| asin                | TEXT      | Amazon Standard Identification Number (unique product code)       | B00TZE87S4                                                      |
| title               | TEXT      | Title of the product or book                                       | Adult Children of Emotionally Immature Parents: How to Heal...   |
| author              | TEXT      | Author(s) of the product or book                                   | Lindsay C. Gibson                                               |
| soldBy              | TEXT      | Seller or provider of the product                                  | Amazon.com Services LLC                                         |
| imgUrl              | TEXT      | URL of the product image                                           | https://m.media-amazon.com/images/I/713KZTsaYpL._AC_UY218_.jpg      |
| productURL          | TEXT      | URL linking to the product detail page                             | https://www.amazon.com/dp/B00TZE87S4                              |
| stars               | NUMERIC   | Average star rating (out of 5)                                       | 4.8                                                             |
| reviews             | NUMERIC   | Number of reviews                                                  | 0                                                               |
| price               | NUMERIC   | Price of the product                                               | 9.99                                                            |
| isKindleUnlimited   | CATEGORICAL   | Whether the product is available on Kindle Unlimited               | False                                                           |
| category_id         | NUMERIC   | Identifier for the product category                                | 6                                                               |
| isBestSeller        | CATEGORICAL   | Whether the product is marked as a bestseller                        | True                                                            |
| isEditorsPick       | CATEGORICAL   | Whether the product is an editor's pick                              | False                                                           |
| isGoodReadsChoice   | CATEGORICAL   | Whether the product is a GoodReads Choice                             | False                                                           |
| publishedDate       | DATE      | Publication or release date of the product                         | 2015-06-01                                                      |
| category_name       | TEXT      | Name of the product category                                       | Parenting & Relationships                                       |

### g) Wonder Book 
- ***BooksDataset.csv ~66.5MB***

This file contains details of 103,063 books of an Amazon competitor.

In [60]:
file_path = "./Datasets/8_wonderbk/wonderbooks.csv"

df = pd.read_csv(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103082 entries, 0 to 103081
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Title         103082 non-null  object
 1   Authors       103082 non-null  object
 2   Description   70213 non-null   object
 3   Category      76912 non-null   object
 4   Publisher     103074 non-null  object
 5   Publish Date  103082 non-null  object
 6   Price         103082 non-null  object
dtypes: object(7)
memory usage: 5.5+ MB

In [55]:
df

,Title,Authors,Description,Category,Publisher,Publish Date,Price
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday,"Friday, January 1, 1993",Price Starting at $8.79
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,"Sunday, March 1, 1981",Price Starting at $4.99
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,"Thursday, September 1, 1983",Price Starting at $4.99
3,When Your Corporate Umbrella Begins to Leak: A Handbook for White Collar Re-Employment,"By Davis, Paul D.",NaN,NaN,Natl Pr Books,"Monday, April 1, 1991",Price Starting at $4.99
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler,"Saturday, February 1, 1997",Price Starting at $5.32
...,...,...,...,...,...,...,...
103077,Build 3 Super Serving Carts,By Chuck Hampton,NaN,NaN,ENDesigns Inc.,"Wednesday, January 1, 1992",Price Starting at $9.97
103078,My Land of Israel,"By Nover, Elizabeth Z.",NaN,"Juvenile Nonfiction , People & Places , Middle East",Behrman House,"Friday, May 1, 1987",Price Starting at $4.99
103079,Tongues: To Speak or Not to Speak,By Donald W. Burdick,NaN,NaN,Moody Press,"Wednesday, January 1, 1969",Price Starting at $5.29
103080,If I'm in charge here why is everybody laughing?,"By Campbell, David P.",NaN,NaN,Argus Communications,"Tuesday, January 1, 1980",Price Starting at $4.99
103081,Your First Puppy (Your First Series),"By Carpentier, Marcel","An introduction to the proper care of puppies discusses different breeds, feeding, training, gro...","Pets , Dogs , General",Tfh Pubns Inc,"Friday, November 1, 1991",Price Starting at $4.99

In [84]:
df.dtypes

Title           object
Authors         object
Description     object
Category        object
Publisher       object
Publish Date    object
Price           object
dtype: object

| Column Name       | Data Type | Description                                                             | Example Value                          |
|-------------------|-----------|-------------------------------------------------------------------------|----------------------------------------|
| title             | TEXT      | The title of the book.                                                  | Goat Brothers                          |
| authors           | TEXT      | The authors of the book.                                                | By Colton, Larry                       |
| description       | TEXT      | A brief description of the book (may be null or require cleaning).       | [null]                                 |
| category          | TEXT      | The category or genre to which the book belongs.                        | History, General                       |
| publisher         | TEXT      | The publishing house responsible for the book.                          | Doubleday                              |
| publication_date  | DATE      | The publication date (year and month or full date) of the book.           | 1993-01-01 (Friday, January 1, 1993)     |
| initial_price     | NUMERIC   | The initial price of the book (price extracted from a string like "Price Starting at $8.79"). | 8.79                                   |

## 2.2 Data Content Analysis, Standardization and Cleaning

### a) Amazon Reviews’23 - Books

#### a) i) Metadata books

This table has 280.338 rows and 18 columns.

"parent_asin" is the key unique value, however:
- On Amazon, a parent ASIN represents the general product listing (like a t-shirt), while child ASINs represent specific variations of that product (like different sizes and colors of that t-shirt)

In [119]:
file_path = './Datasets/1_amazon/amazon_meta_books_X.csv'

df = pd.read_csv(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280338 entries, 0 to 280337
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   main_category    280155 non-null  object
 1   title            280338 non-null  object
 2   subtitle         223708 non-null  object
 3   average_rating   280338 non-null  float64
 4   rating_number    280338 non-null  int64
 5   features         280338 non-null  object
 6   description      280338 non-null  object
 7   price            197032 non-null  float64
 8   images           280338 non-null  object
 9   videos           280338 non-null  object
 10  store            270276 non-null  object
 11  categories       280338 non-null  object
 12  details          280338 non-null  object
 13  parent_asin      280338 non-null  object
 14  bought_together  0 non-null       float64
 15  author_name      230005 non-null  object
 16  author_about     230005 non-null  object
 17  author_avatar    230008 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 38.5+ MB

In [51]:
df.head()

,main_category,title,subtitle,average_rating,rating_number,features,description,price,images,videos,store,categories,details,parent_asin,bought_together,author_name,author_about,author_avatar
0,Books,The Swan Thieves,"Audio CD – Bargain Price, November 3, 2010",4.2,1559,"[""Psychiatrist Andrew Marlowe has a perfectly ordered life--solitary, perhaps, but full of devotion to his profession and the painting hobby he loves. This order is destroyed when renowned painter Robert Oliver attacks a canvas in the National Gallery of Art and becomes his patient. In response, Marlowe finds himself going beyond his own legal and ethical boundaries to understand the secret that torments this genius, a journey that will lead him into the lives of the women closest to Robert Oliver and toward a tragedy at the heart of French Impressionism.Ranging from American museums to the coast of Normandy, from the late nineteenth century to the late twentieth, from young love to last love, THE SWAN THIEVES is a story of obsession, the losses of history, and the power of art to preserve human hope.""]",NaN,NaN,NaN,NaN,"Elizabeth Kostova (Author), Treat Williams (Reader), Anne Heche (Reader), Erin Cottrell (Reader), Sarah Zimmerman (Reader), John Lee (Reader)","[""Books"",""Literature & Fiction"",""Genre Fiction""]","{'Language': 'English', 'Dimensions': '5.5 x 2.15 x 5.75 inches', 'Publisher': 'Hachette Audio; Una Rei edition (November 3, 2010)', 'Item Weight': '1.05 pounds'}",B0062GL89I,NaN,Elizabeth Kostova,"[""Elizabeth Kostova's engrossing debut novel is the culmination of ten years of research and a lifetime of imagining--since Kostova's girlhood, when her father entertained her with tales of Dracula, she has envisioned the story that would become The Historian. With her academic spirit and extraordinary talent, she's spun an intricate tale of sprawling mystery and suspense. Kostova graduated from Yale and holds an MFA from the University of Michigan, where she won the Hopwood Award for the Novel-in-Progress.""]",https://m.media-amazon.com/images/I/31E3SMTce5L._SY600_.jpg
1,Audible Audiobooks,Death in a White Tie,NaN,4.5,1033,NaN,NaN,NaN,NaN,NaN,"Ngaio Marsh (Author), Benedict Cumberbatch (Narrator), Hachette Audio UK (Publisher) & 0 more","[""Books"",""Mystery, Thriller & Suspense"",""Mystery"",""Traditional Detectives""]",{},B001F1ZPDK,NaN,NaN,NaN,NaN
2,Books,Reunion Pass (Thorndike Romance),"Hardcover – Large Print, May 18, 2016",4.6,1140,"[""A New York Times Bestselling Author An Eternity Springs Novel Six years ago, Chase Timberlake bought an engagement ring for high school sweetheart Lori Reese. Then, life happened. Chase’s career took off and Lori got into veterinary school. When Chase’s jet-setting life takes a tragic turn, he returns to Eternity Springs a damaged man. Can she and Chase turn back the hands of time and pick up where they left off ― and give forever a chance?""]",NaN,12.00,NaN,NaN,Emily March (Author),"[""Books"",""Large Print"",""Literature & Fiction""]","{'ISBN 13': '978-1410490117', 'Language': 'English', 'ISBN 10': '9781410490117', 'Dimensions': '6 x 1 x 9 inches', 'Publisher': 'Thorndike Press Large Print; Large Print edition (May 18, 2016)', 'Item Weight': '1.2 pounds', 'Hardcover': '422 pages'}",1410490114,NaN,Emily March,"['Emily March is the New York Times, Publishers Weekly, and USA Today bestselling author of over forty novels, including the critically acclaimed Eternity Springs series. Publishers Weekly calls March a ""master of delightful banter,"" and her heartwarming, emotionally charged stories have been named to Best of the Year lists by Publishers Weekly, Library Journal, and Romance Writers of America. A graduate of Texas A&M University, Emily is an avid fan of Aggie sports, and her recipe for jalapeño relish has made her a tailgating legend.']",https://m.media-amazon.com/images/S/amzn-author-media-prod/an3i0pthoa0nsmk8mnn25ndb7n._SY600_.jpg
3,Books,Key Lock Man,"Mass Market Paperback – January 1, 1981",4.6,1907,"[""book 163""]",NaN,5.55,NaN,NaN,Louis L'Amour (Author),NaN,"{'ISBN 13': '978-0553230888', 'Language': 'English', 'Mass Market Paperback': '0 pages', 'ISBN 10': '0553230883', 'Publisher': 'Bantam (January 1, 1981)', 'Item Weight': '3.2 ounces'}",0553230883,NaN,Louis L'Amour,"['""I think of myself in the oral tradition--as a troubadour, a village tale-teller, the man in the shadows of a campfire. That\'s the way I\'d like to be remembered--as a storyteller. A good storyteller.""', 'It is doubtful that any author could be as at home in the world re-created in his novels as Louis Dearborn L\'Amour. Not only could he physically fill the boots of the rugged characters he wrote about, but he literally ""walked the land my characters walk."" His personal experiences as well as his lifelong devotion to historical research combined to give Mr. L\'Amour the unique knowledge and understanding of people, events, and the challenge of the American frontier that became the hallmarks of his popularity.', 'Of French-Irish descent, Mr. L\'Amour could trace his own in North America back to the early 1600s and follow their steady progression westward, ""always on the frontier."" As a boy growing up in Jamestown, North Dakota, he absorbed all he could about his family\'s frontier heritage, including the story of his great-grandfather who was scalped by Sioux warriors.', 'Spurred by an eager curiosity and desire to broaden his horizons, Mr. L\'Amour left home at the age of fifteen and enjoyed a wide variety of jobs, including seaman, lumberjack, elephant handler, skinner of dead cattle, and miner, and was an officer in the transportation corps during World War II. During his ""yondering"" days he also circled the world on a freighter, sailed a dhow on the Red Sea, was shipwrecked in the West Indies and stranded in the Mojave Desert. He won fifty-one of fifty-nine fights as a professional boxer and worked as a journalist and lecturer. He was a voracious reader and collector of rare books. His personal library contained 17,000 volumes.', 'Mr. L\'Amour ""wanted to write almost from the time I could talk."" After developing a widespread following for his many frontiers and adventure stories written for fiction magazines, Mr. L\'Amour published his first full length novel, Hondo, in the United States in 1953. Every one of his more than 120 books is in print; there are more than 300 million copies of his books in print worldwide, making him one of the bestselling authors in modern literary history. His books have been translated into twenty languages, and more than forty-five of his novels and stories have been made into feature films and television movies.', ""The recipient of many great honor and awards, in 1983 Mr. L'Amour became the first novelist to ever to be awarded the Congressional Gold Medal by the United States Congress in honor of his life's work. In 1984 he was also awarded the Medal of Freedom by President Reagan."", ""Louis L'Amour died on June 10, 1988. His wife, Kathy, and their two children, Beau and Angelique, carry the L'Amour publishing tradition forward with new books written by the author during his lifetime to be published by Bantam.""]",https://m.media-amazon.com/images/I/31pdVqK+eZL._SY600_.jpg
4,Books,"The Robots of Dawn (Robot, 3)","MP3 CD – Unabridged, July 15, 2007",4.7,5660,"[""A puzzling case of roboticide sends New York Detective Elijah Baley on an intense search for a murderer. Armed with his own instincts, his quirky logic, and the immutable Three Laws of Robotics, Baley is determined to solve the case. But can anything prepare a simple Earthman for the psychological complexities of a world where a beautiful woman can easily have fallen in love with an all-too-human robot?""]","[""About the Author"",""Isaac Asimov, who was named \""Grand Master of Science Fiction\"" by the Science Fiction Writers of America, entertained and educated readers of all ages for close to five decades.William Dufris has been nominated nine times as a finalist for the APA's prestigious Audie Award and has garnered twenty-one Earphones Awards from AudioFile magazine, which also named him one of the Best Voices at the End of the Century.""]",NaN,NaN,NaN,"Isaac Asimov (Author), William Dufris (Narrator)","[""Books"",""Computers & Technology"",""Computer Science""]","{'ISBN 13': '978-1400154234', 'Language': 'English', 'ISBN 10': '1400154235', 'Dimensions': '5.3 x 0.6 x 7.4 inches', 'Publisher': 'Tantor Audio; MP3 - Unabridged CD edition (July 15, 2007)', 'Item Weight': '2.61 ounces'}",1400154235,NaN,Isaac Asimov,"['Isaac Asimov (/ˈaɪzᵻk ˈæzᵻmɒv/; born Isaak Yudovich Ozimov; circa January 2, 1920 – April 6, 1992) was an American author and professor of biochemistry at Boston University, best known for his works of science fiction and for his popular science books. Asimov was prolific and wrote or edited more than 500 books and an estimated 90,000 letters and postcards. His books have been published in 9 of the 10 major categories of the Dewey Decimal Classification.', 'Asimov wrote hard science fiction and, along with Robert A. Heinlein and Arthur C. Clarke, he was considered one of the ""Big Three"" science fiction writers during his lifetime. Asimov\'s most famous work is the Foundation Series; his other major series are the Galactic Empire series and the Robot series. The Galactic Empire novels are explicitly set in earlier history of the same fictional universe as the Foundation series. Later, beginning with Foundation\'s Edge, he linked this distant future to the Robot and Spacer stories, creating a unified ""future history"" for his stories much like those pioneered by Robert A. Heinlein and previously produced by Cordwainer Smith and Poul Anderson. He wrote hundreds of short stories, including the social science fiction ""Nightfall"", which in 1964 was voted by the Science Fiction Writers of America the best short science fiction story of all time. Asimov wrote the Lucky Starr series of juvenile science-fiction novels using the pen name Paul French.', ""Asimov also wrote mysteries and fantasy, as well as much nonfiction. Most of his popular science books explain scientific concepts in a historical way, going as far back as possible to a time when the science in question was at its simplest stage. He often provides nationalities, birth dates, and death dates for the scientists he mentions, as well as etymologies and pronunciation guides for technical terms. Examples include Guide to Science, the three-volume set Understanding Physics, and Asimov's Chronology of Science and Discovery, as well as works on astronomy, mathematics, history, William Shakespeare's writing, and chemistry."", 'Asimov was a long-time member and vice president of Mensa International, albeit reluctantly; he described some members of that organization as ""brain-proud and aggressive about their IQs"". He took more joy in being president of the American Humanist Association. The asteroid 5020 Asimov, a crater on the planet Mars, a Brooklyn elementary school, and a literary award are named in his honor.', 'Bio from Wikipedia, the free encyclopedia. Photo by Phillip Leonian from New York World-Telegram & Sun [Public domain], via Wikimedia Commons.']",https://m.media-amazon.com/images/S/amzn-author-media-prod/6ce4rnjgpci8m81tu3aibtlf5r._SY600_.jpg

##### **Has Nested Columns**

One of the biggest issues in this file (ahead of goodreads2017 metadata likewise) is the nested columns product of the file being originally in JSON format. These inner columns (json format key: value can take up allow of names, being by their own right individual main columns. However, a large portion of them are incredibly sparse in the dataset, meaning not all rows have all values in these columns (would be NaN). 

Therefore turning all "json keys" into columns

##### **Null Values**
**Number and Percentage of Missing data points per column**

- Replaced empty strings (or strings with only whitespace) with np.nan
- Replaced empty lists with np.nan using Series.map for each column

In [100]:
# Replace empty strings or strings with only whitespace with np.nan
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)
# Replace empty lists with np.nan using Series.map for each column
for col in df.columns:
    df[col] = df[col].replace("[]", np.nan)


missing_values_count = df.isnull().sum()
print("Number: \n", missing_values_count)

nan_percentage = df.isna().mean() * 100
print("\nPercentage: \n",nan_percentage.to_string())

Number:
 main_category         183
title                   0
subtitle            56630
average_rating          0
rating_number           0
features            58780
description        146653
price               83306
images              83641
videos             265809
store               10062
categories          18717
details                 0
parent_asin             0
bought_together    280338
author_name         50333
author_about        50333
author_avatar       50330
dtype: int64

Percentage:
 main_category        0.065278
title                0.000000
subtitle            20.200615
average_rating       0.000000
rating_number        0.000000
features            20.967546
description         52.312922
price               29.716271
images              29.835770
videos              94.817328
store                3.589239
categories           6.676583
details              0.000000
parent_asin          0.000000
bought_together    100.000000
author_name         17.954398
author_about        17.954398
author_avatar       17.953328

The "bought_together" column is all NaN, so we dropped it.

In [122]:
df.drop('bought_together', axis=1, inplace=True)

In [102]:
df.columns

Index(['main_category', 'title', 'subtitle', 'average_rating', 'rating_number',
       'features', 'description', 'price', 'images', 'videos', 'store',
       'categories', 'details', 'parent_asin', 'author_name', 'author_about',
       'author_avatar'],
      dtype='object')

##### **Let's Start Cleaning up and Standardizing some of the Columns Atributes**

Calculate the cardinality—that is, the number of unique (non-null) values—for each column in a DataFrame.

In [103]:
def calculate_cardinality(df):
    """
    Calculate the cardinality (number of unique non-null values) for each column in the DataFrame.
    Requires:
    df (pd.DataFrame): The input DataFrame.
    Returns:
    pd.Series: A series where the index is the column names and the values are the cardinality of each column.
    """
    return df.apply(lambda col: col.nunique(dropna=True))

In [104]:
calculate_cardinality(df)

main_category          6
title             189601
subtitle           47377
average_rating        25
rating_number      29259
features          187274
description       114554
price               8622
images            194013
videos             13297
store              95548
categories          2036
details           230805
parent_asin       280338
author_name        29078
author_about       22269
author_avatar      21453
dtype: int64

##### **Normalizing Nested JSON-like Data**
Details contains several columns with nested data, indu

**"details" column**

Fixed "details" column had JSON format within a list. Removed the list.

In [120]:
details_df = df['details'].apply(pd.Series)

# Optionally, drop the original 'details' column and join the new columns
df = df.drop('details', axis=1).join(details_df)

In [121]:
df.rename(columns={0: "details"}, inplace=True)

"details" column is stored as a string (rather than as a native Python dict, even though it has that formating).

Let's see how many inner columns it has:

In [123]:
import ast
df["details"] = df["details"].apply(ast.literal_eval)
details_expanded = df["details"].apply(pd.Series)
details_expanded

,Language,Dimensions,Publisher,Item Weight,ISBN 13,ISBN 10,Hardcover,Mass Market Paperback,Paperback,File size,Text to Speech,Word Wise,Enhanced typesetting,Screen Reader,X Ray,Publication date,Sticky notes,Print length,MP3 CD,Reading age,Page numbers source ISBN,Grade level,Audio CD,Lexile measure,Novelty Book,Imitation Leather,Library Binding,Simultaneous device usage,Board book,Sheet music,Audio Cassette,Product Dimensions,Is Discontinued By Manufacturer,Country of Origin,Release date,Spiral bound,Date First Available,File Size,Loose Leaf,School Library Binding,Package Dimensions,Leather Bound,Bonded Leather,Pamphlet,Plastic Comb,Unknown Binding,Run time,Cards,CD ROM,Misc Supplies,Comic,Pocket Book,Perfect Paperback,Item model number,Pages,Binding,Ruling Type,Color,Sheet Size,Cover Material,Theme,Number of Items,Special Feature,Calendar,Product Bundle,Flexibound,Roughcut,Misc,Vinyl Bound,X Ray for textbooks,Diary,Hardcover spiral,Paperback Shinsho,Pop Up,Map,Format,Contributor,Manufacturer recommended age,Domestic Shipping,Best Sellers Rank,International Shipping,Department,Manufacturer,Paperback Bunko,Tankobon Hardcover,Card Book,Ring bound,Journal,Type of item,Pricing,Poster,Bookmark,Staple Bound,Toy,Digital Audiobook,DVD,Turtleback,Single Issue Magazine,Bath Book,Wall Chart,Accessory,Unbound,Printed Access Code,Print on Demand Paperback,Textbook Binding,Game,Audio CD Library Binding,Edition,Brand,Publication Date,Item Dimensions LxWxH,Genre,Other display features,Preloaded Digital Audio Player,Batteries Required?,Hardware Platform,Rag Book,Item Package Quantity,Batteries Included?,Stationery,Blu ray,Digital,Hardcover Comic,Size,Manufacturer Part Number,Part Number,DVD ROM,Item Package Dimensions L x W x H,Item Dimensions LxWxH,Brand Name,Model Year,Style,Suggested Users,Package Weight,Runtime,Batteries,Mook,Notebook,Print Magazine,Diskette,Sports Apparel
0,English,5.5 x 2.15 x 5.75 inches,"Hachette Audio; Una Rei edition (November 3, 2010)",1.05 pounds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,English,6 x 1 x 9 inches,"Thorndike Press Large Print; Large Print edition (May 18, 2016)",1.2 pounds,978-1410490117,9781410490117,422 pages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,English,NaN,"Bantam (January 1, 1981)",3.2 ounces,978-0553230888,0553230883,NaN,0 pages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,English,5.3 x 0.6 x 7.4 inches,"Tantor Audio; MP3 - Unabridged CD edition (July 15, 2007)",2.61 ounces,978-1400154234,1400154235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280333,English,6.42 x 1.4 x 9.52 inches,"Doubleday (September 13, 2011)",1.64 pounds,978-0385534635,0385534639,400 pages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280334,English,5.02 x 0.85 x 5.94 inches,"Macmillan Audio; Unabridged edition (November 4, 2014)",8.6 ounces,978-1427252098,1427252092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280335,NaN,NaN,"Scribner; 31685th edition (January 1, 1994)",1 pounds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280336,English,6 x 0.25 x 9 inches,"Cloud Forest Press (March 3, 2020)",6.7 ounces,978-1646081639,1646081633,NaN,NaN,108 pages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280337,English,5.75 x 1.4 x 8.63 inches,"VIZ Media LLC (December 2, 2008)",2.05 pounds,978-1421520667,1421520664,NaN,NaN,560 pages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12 - 17 years,NaN,4 - 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Null Values in "details"' nested Columns**

In [124]:
details_expanded
nan_percentage = details_expanded.isna().mean() * 100
print("\nPercentage: \n",nan_percentage.to_string())

Percentage:
 Language                             19.686236
Dimensions                           34.149848
Publisher                            21.550771
Item Weight                          26.822265
ISBN 13                              30.399018
ISBN 10                              32.670919
Hardcover                            84.411318
Mass Market Paperback                95.490087
Paperback                            66.483317
File size                            92.290021
Text to Speech                       92.290735
Word Wise                            92.292875
Enhanced typesetting                 92.291805
Screen Reader                        92.562906
X Ray                                92.405239
Publication date                     91.757450
Sticky notes                         92.289308
Print length                         92.323552
MP3 CD                               99.848041
Reading age                          89.027174
Page numbers source ISBN             98.513580
Grade level                          94.037911
Audio CD                             98.963037
Lexile measure                       94.813047
Novelty Book                         99.990725
Imitation Leather                    99.818433
Library Binding                      99.407501
Simultaneous device usage            98.638786
Board book                           99.476346
Sheet music                          99.997503
Audio Cassette                       99.870870
Product Dimensions                   99.455300
Is Discontinued By Manufacturer      99.906898
Country of Origin                    99.799171
Release date                         99.499176
Spiral bound                         99.760289
Date First Available                 99.951844
File Size                            99.960048
Loose Leaf                           99.985018
School Library Binding               99.777412
Package Dimensions                   99.866233
Leather Bound                        99.854105
Bonded Leather                       99.968609
Pamphlet                             99.973960
Plastic Comb                         99.991439
Unknown Binding                      99.884425
Run time                             99.905471
Cards                                99.885495
CD ROM                               99.995719
Misc Supplies                        99.985375
Comic                                99.984305
Pocket Book                          99.919383
Perfect Paperback                    99.966112
Item model number                    99.979311
Pages                                99.998930
Binding                              99.998930
Ruling Type                          99.999643
Color                                99.996790
Sheet Size                           99.999643
Cover Material                       99.999287
Theme                                99.998930
Number of Items                      99.997503
Special Feature                      99.999287
Calendar                             99.931155
Product Bundle                       99.984305
Flexibound                           99.977527
Roughcut                             99.998216
Misc                                 99.999643
Vinyl Bound                          99.999287
X Ray for textbooks                  99.998216
Diary                                99.983591
Hardcover spiral                     99.988942
Paperback Shinsho                    99.999643
Pop Up                               99.998930
Map                                  99.994293
Format                               99.999287
Contributor                          99.998930
Manufacturer recommended age         99.995719
Domestic Shipping                    99.993579
Best Sellers Rank                    99.987515
International Shipping               99.993579
Department                           99.996790
Manufacturer                         99.987158
Paperback Bunko                      99.997503
Tankobon Hardcover                   99.998216
Card Book                            99.998573
Ring bound                           99.993579
Journal                              99.999287
Type of item                         99.998216
Pricing                              99.998216
Poster                               99.998573
Bookmark                             99.997146
Staple Bound                         99.995719
Toy                                  99.998930
Digital Audiobook                    99.999643
DVD                                  99.999643
Turtleback                           99.998573
Single Issue Magazine                99.997503
Bath Book                            99.998573
Wall Chart                           99.998930
Accessory                            99.998930
Unbound                              99.999287
Printed Access Code                  99.998930
Print on Demand Paperback            99.998216
Textbook Binding                     99.999643
Game                                 99.999287
Audio CD Library Binding             99.999287
Edition                              99.999643
Brand                                99.997146
Publication Date                     99.999287
Item Dimensions LxWxH                99.999287
Genre                                99.998573
Other display features               99.998216
Preloaded Digital Audio Player       99.998216
Batteries Required?                  99.998573
Hardware Platform                    99.999643
Rag Book                             99.998930
Item Package Quantity                99.998930
Batteries Included?                  99.999287
Stationery                           99.998930
Blu ray                              99.999643
Digital                              99.998930
Hardcover Comic                      99.999643
Size                                 99.999287
Manufacturer Part Number             99.998573
Part Number                          99.999287
DVD ROM                              99.999287
Item Package Dimensions L x W x H    99.999643
Item Dimensions  LxWxH               99.999643
Brand Name                           99.999643
Model Year                           99.999643
Style                                99.999643
Suggested Users                      99.999643
Package Weight                       99.999643
Runtime                              99.999643
Batteries                            99.999287
Mook                                 99.999643
Notebook                             99.999643
Print Magazine                       99.999643
Diskette                             99.999643
Sports Apparel                       99.999643

Due to the extreme sparsity observed in most columns—and given that the Amazon metadata table primarily represents general titles rather than specific editions or formats—we have chosen, for now, to retain only those columns that facilitate the integration of this table's entities with other datasets (it's child products). These columns are Language, Dimensions, Publisher, Item Weight, ISBN 13, and ISBN 10.

In [145]:
target_fields = ["Language", "Dimensions", "Publisher", "Item Weight", 
                 "ISBN 13", "ISBN 10"]

# Copy only available target fields from details_expanded into df
available_fields = [col for col in details_expanded.columns if col in target_fields]
df[available_fields] = details_expanded[available_fields]

# Find all columns in details_expanded whose name contains "date" (case-insensitive)
date_columns = [col for col in details_expanded.columns if 'date' in col.lower()]

# Create a unified PublicationDate column by taking the first non-null value across the date columns
if date_columns:
    df['PublicationDate'] = details_expanded[date_columns].bfill(axis=1).iloc[:, 0]

In [146]:
df.head(2)

,main_category,title,subtitle,average_rating,rating_number,features,description,price,images,videos,store,categories,parent_asin,author_name,author_about,author_avatar,details,Language,Dimensions,Publisher,Item Weight,ISBN 13,ISBN 10,length,width,height,found_unit,weight_oz,iso_language,main_category_real,PublicationDate
0,Books,The Swan Thieves,"Audio CD – Bargain Price, November 3, 2010",4.2,1559,"[""Psychiatrist Andrew Marlowe has a perfectly ordered life--solitary, perhaps, but full of devot...",[],NaN,[],[],"Elizabeth Kostova (Author), Treat Williams (Reader), Anne Heche (Reader), Erin Cottrell (Read...","[""Books"",""Literature & Fiction"",""Genre Fiction""]",B0062GL89I,Elizabeth Kostova,"[""Elizabeth Kostova's engrossing debut novel is the culmination of ten years of research and a l...",https://m.media-amazon.com/images/I/31E3SMTce5L._SY600_.jpg,"{'Language': 'English', 'Dimensions': '5.5 x 2.15 x 5.75 inches', 'Publisher': 'Hachette Audio; ...",English,5.5 x 2.15 x 5.75 inches,"Hachette Audio; Una Rei edition (November 3, 2010)",1.05 pounds,NaN,NaN,5.5,2.15,5.75,pound,16.8,en,Books,NaN
1,Audiobooks,Death in a White Tie,NaN,4.5,1033,[],[],NaN,[],[],"Ngaio Marsh (Author), Benedict Cumberbatch (Narrator), Hachette Audio UK (Publisher) ...","[""Books"",""Mystery, Thriller & Suspense"",""Mystery"",""Traditional Detectives""]",B001F1ZPDK,NaN,NaN,NaN,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,Audiobooks,NaN

In [153]:
nan_percentage = df.isna().mean() * 100
print("\nPercentage: \n")
nan_percentage

Percentage:

main_category          0.065278
title                  0.000000
subtitle              20.200615
average_rating         0.000000
rating_number          0.000000
features               0.000000
description            0.000000
price                 29.716271
images                 0.000000
videos                 0.000000
store                  3.589239
categories             0.000000
parent_asin            0.000000
author_name           17.954398
author_about          17.954398
author_avatar         17.953328
details                0.000000
Language              19.686236
Dimensions            34.149848
Publisher             21.550771
Item Weight           26.822265
ISBN 13               30.399018
ISBN 10               32.670919
length                34.149848
width                 34.149848
height                34.265779
found_unit            26.822621
weight_oz             26.822265
iso_language          19.888135
main_category_real     0.065278
PublicationDate       19.160442
dtype: float64

**"Dimensions" Column**

Dimensions values of books should probably be numeric, not text.
On Amazon, product dimensions are typically presented in the standard format of Length x Width x Height (LxWxH). Producing those columns.

In [127]:
df[["length", "width", "height"]] = (
    df["Dimensions"]
    .str.replace(" inches", "", regex=False)    # remove " inches"
    .str.split("x", expand=True)                # split by 'x'
    .apply(lambda col: col.str.strip())         # strip spaces around each part
    .astype(float)                              # convert to float
)

df.head(2)

,main_category,title,subtitle,average_rating,rating_number,features,description,price,images,videos,store,categories,parent_asin,author_name,author_about,author_avatar,details,Language,Dimensions,Publisher,Item Weight,ISBN 13,ISBN 10,length,width,height
0,Books,The Swan Thieves,"Audio CD – Bargain Price, November 3, 2010",4.2,1559,"[""Psychiatrist Andrew Marlowe has a perfectly ordered life--solitary, perhaps, but full of devot...",[],NaN,[],[],"Elizabeth Kostova (Author), Treat Williams (Reader), Anne Heche (Reader), Erin Cottrell (Read...","[""Books"",""Literature & Fiction"",""Genre Fiction""]",B0062GL89I,Elizabeth Kostova,"[""Elizabeth Kostova's engrossing debut novel is the culmination of ten years of research and a l...",https://m.media-amazon.com/images/I/31E3SMTce5L._SY600_.jpg,"{'Language': 'English', 'Dimensions': '5.5 x 2.15 x 5.75 inches', 'Publisher': 'Hachette Audio; ...",English,5.5 x 2.15 x 5.75 inches,"Hachette Audio; Una Rei edition (November 3, 2010)",1.05 pounds,NaN,NaN,5.5,2.15,5.75
1,Audible Audiobooks,Death in a White Tie,NaN,4.5,1033,[],[],NaN,[],[],"Ngaio Marsh (Author), Benedict Cumberbatch (Narrator), Hachette Audio UK (Publisher) ...","[""Books"",""Mystery, Thriller & Suspense"",""Mystery"",""Traditional Detectives""]",B001F1ZPDK,NaN,NaN,NaN,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**"Item Weight" Column**

Check how many distinct formats exist (and how often each occurs).

In [113]:
df["Item Weight"].value_counts(dropna=False)

Item Weight
NaN             75193
1 pounds         5445
8 ounces         5152
9.6 ounces       5067
6.4 ounces       4846
                ...
233 pounds          1
10.41 pounds        1
4.51 pounds         1
12.57 pounds        1
5.56 pounds         1
Name: count, Length: 1142, dtype: int64

Checking if there other units than pounds and ounces:

In [128]:
import re

pattern = re.compile(r'(pound|pounds|ounce|ounces)', re.IGNORECASE)

def find_unit(text):
    if pd.isna(text):
        return None
    match = pattern.search(str(text))
    if match:
        return match.group(1).lower()  # e.g. "pound", "pounds", etc.
    return None

# Suppose df["Item Weight"] is your column
df["found_unit"] = df["Item Weight"].apply(find_unit)

# Now see how many times each recognized unit is found:
print(df["found_unit"].value_counts(dropna=False))

# Next, let's see the raw strings that did NOT match (found_unit is None)
unmatched = df[df["found_unit"].isna() & df["Item Weight"].notna()]
print(unmatched["Item Weight"].head(50))  # or show how many, etc.

found_unit
ounce    137883
None      75194
pound     67261
Name: count, dtype: int64
163563    1.41 Grams
Name: Item Weight, dtype: object

The units are ounce, pound and at least one entry with Grams. Let's convert eveything to ounces/ oz (other datasets are primarly american too so let's have a US unit).

In [129]:
import re

# Regex capturing:
#   - numeric part (\d+(\.\d+)?)
#   - optional space
#   - unit group (pound/pounds/ounce/ounces/gram/grams)
pattern = re.compile(r'(?P<value>\d+(\.\d+)?)(\s+)?(?P<unit>pound|pounds|ounce|ounces|gram|grams)', re.IGNORECASE)

def parse_weight_to_oz(text):
    if pd.isna(text):
        return np.nan  # Nothing to parse
    text_lower = str(text).lower()
    
    match = pattern.search(text_lower)
    if match:
        val_str = match.group('value')   # e.g. "1.41"
        unit_str = match.group('unit')   # e.g. "grams"
        
        # Convert numeric part to float
        val = float(val_str)
        
        # Convert everything into ounces
        if unit_str in ("pound", "pounds"):
            return val * 16
        elif unit_str in ("ounce", "ounces"):
            return val
        elif unit_str in ("gram", "grams"):
            return val * 0.035274
        else:
            return np.nan
    else:
        return np.nan  # not recognized

# Apply to your DataFrame:
df["weight_oz"] = df["Item Weight"].apply(parse_weight_to_oz)

Seems to have worked.

In [131]:
df[["Item Weight", "weight_oz"]].head(20)

    Item Weight  weight_oz
0   1.05 pounds      16.80
1           NaN        NaN
2    1.2 pounds      19.20
3    3.2 ounces       3.20
4   2.61 ounces       2.61
5   1.59 pounds      25.44
6           NaN        NaN
7    5.6 ounces       5.60
8   1.79 pounds      28.64
9   2.72 ounces       2.72
10  12.6 ounces      12.60
11   9.6 ounces       9.60
12          NaN        NaN
13          NaN        NaN
14   3.5 ounces       3.50
15          NaN        NaN
16          NaN        NaN
17   8.8 ounces       8.80
18   5.2 ounces       5.20
19          NaN        NaN

**"Language" Column**

There are so weird entries with multiple languages but they are a minority.

Lets parse the entries with singular values into ISO language codes.

In [137]:
df["Language"].value_counts(dropna=False)

Language
English                                                                                                                                                                                                                                                                                                              219180
NaN                                                                                                                                                                                                                                                                                                                   55188
Spanish                                                                                                                                                                                                                                                                                                                3034
French                                                                                                                                                                                                                                                                                                                  882
German                                                                                                                                                                                                                                                                                                                  844
                                                                                                                                                                                                                                                                                                                      ...
Batak                                                                                                                                                                                                                                                                                                                     1
Multilingual, English, French                                                                                                                                                                                                                                                                                             1
English, German, Italian, Portuguese, Japanese, Spanish, Chinese, English, Czech, French, German, Danish, Dutch, Finnish, Japanese, Greek, Icelandic, Polish, Portuguese, Korean, Hungarian, Spanish, Norwegian, Russian, Turkish, English, French, Swedish, German, Italian, Thai, Japanese, Portuguese, Spanish         1
Efik                                                                                                                                                                                                                                                                                                                      1
English, French, German, Italian, Japanese, Portuguese, Russian, Spanish, Dutch, Danish, Finnish, Norwegian, Swedish, Icelandic                                                                                                                                                                                           1
Name: count, Length: 116, dtype: int64

In [134]:
import pycountry

def convert_language_to_iso(language_value):
    """
    Convert a language name to its corresponding ISO 639-1 code.
    Uses pycountry to perform the lookup.
    """
    if pd.isnull(language_value):
        return None
    try:
        # pycountry.languages.lookup() can handle common language names.
        language = pycountry.languages.lookup(language_value)
        # Check if the language has an alpha_2 attribute.
        if hasattr(language, 'alpha_2'):
            return language.alpha_2
        else:
            # Fallback: return the alpha_3 code if available.
            return language.alpha_3
    except LookupError:
        # Return None or a custom value if the language is not found.
        return None

# Apply the conversion function to the Language column.
df['iso_language'] = df['Language'].apply(convert_language_to_iso)

In [136]:
df[["Language", "iso_language"]]

       Language iso_language
0       English           en
1           NaN         None
2       English           en
3       English           en
4       English           en
...         ...          ...
280333  English           en
280334  English           en
280335      NaN         None
280336  English           en
280337  English           en

[280338 rows x 2 columns]

##### **"main_category"**

As expected, this dataset does not exclusively regard physical books, it also has digital and audio categories. 

Let's fix up the categorical values it takes and <ins>manually inspect the 3 low-count categories that might be misclassified or do not belong here</ins>.

In [138]:
counts_main_category = df["main_category"].value_counts()
counts_main_category

main_category
Books                  220653
Audible Audiobooks      37106
Buy a Kindle            22385
Toys & Games                9
Musical Instruments         1
Amazon Home                 1
Name: count, dtype: int64

After checking these 11 entries, all seemed to be misclassified with their subcategories, meaning all are physical books that should be classified as such - Books.

In [139]:
filtered_df = df[df['main_category'].isin(["Toys & Games", "Musical Instruments", "Amazon Home"])]
filtered_df

,main_category,title,subtitle,average_rating,rating_number,features,description,price,images,videos,store,categories,parent_asin,author_name,author_about,author_avatar,details,Language,Dimensions,Publisher,Item Weight,ISBN 13,ISBN 10,length,width,height,found_unit,weight_oz,iso_language
15034,Toys & Games,"Cat's Cradle (Klutz Activity Kit) 9.44"" Length x 0.5"" Width x 5.75"" Height",NaN,4.7,6591,"[""Learn how to make The Cup and Saucer, The Witch's Broom and Jacob's Ladder"",""Comes with loop o...","[""In today's hi-tech world, people have completely forgotten how to make The Cup and Saucer, The...",9.95,"[{""large"":""https://m.media-amazon.com/images/I/51ADflGz2-L._AC_.jpg"",""thumb"":""https://m.media-am...",[],Klutz,"[""Books"",""Children's Books"",""Activities, Crafts & Games"",""Games""]",B005K6VBW0,NaN,NaN,NaN,"{'Release date': 'January 1, 1993', 'Manufacturer recommended age': '6 years and up', 'Item mode...",English,NaN,NaN,8.1 ounces,NaN,NaN,NaN,NaN,NaN,ounce,8.10,en
27594,Toys & Games,Melissa & Doug Children's Book - Poke-A-Dot: The Wheels on the Bus Wild Safari (Board Book with ...,NaN,4.7,4206,"[""20-page interactive sturdy board book with buttons to press and “pop” on every page"",""Sing alo...","[""The dots in the book go Pop, Pop, Pop! Poke the irresistible click-to-count buttons to hear sa...",13.99,"[{""large"":""https://m.media-amazon.com/images/I/51ltoJ24nwL._AC_.jpg"",""thumb"":""https://m.media-am...","[{""user_id"":""AFIXMSDC2WB7FEBQPBWPHMHQIAEQ"",""title"":""This is just so super cute!!!"",""url"":""https:...",Melissa & Doug,"[""Books"",""Children's Books"",""Literature & Fiction"",""Poetry"",""Stories In Verse""]",1601694202,NaN,NaN,NaN,"{'Release date': 'July 31, 2019', 'Manufacturer recommended age': '3 years and up', 'Department'...",English,NaN,NaN,2.6 pounds,NaN,NaN,NaN,NaN,NaN,pound,41.60,en
91601,Toys & Games,"Cat's Cradle (Klutz Activity Kit) 9.44"" Length x 0.5"" Width x 5.75"" Height",NaN,4.7,6410,"[""Learn how to make The Cup and Saucer, The Witch's Broom and Jacob's Ladder"",""Comes with loop o...","[""In today's hi-tech world, people have completely forgotten how to make The Cup and Saucer, The...",9.95,"[{""large"":""https://m.media-amazon.com/images/I/51ADflGz2-L._AC_.jpg"",""thumb"":""https://m.media-am...","[{""user_id"":"""",""title"":""Sew Mini Treats"",""url"":""https://www.amazon.com/vdp/8fecce474818439eba2de...",Klutz,"[""Books"",""Children's Books"",""Activities, Crafts & Games"",""Games""]",B001BSKVSG,NaN,NaN,NaN,{'International Shipping': 'This item can be shipped to select countries outside of the U.S. Le...,English,NaN,NaN,8.1 ounces,NaN,NaN,NaN,NaN,NaN,ounce,8.10,en
98566,Musical Instruments,"Faber Piano Adventures Primer Level Learning Library Pack - Lesson, Theory, Performance, and Tec...",NaN,4.8,2883,[],"[""PIANO ADVENTURES PRIMER PACK""]",34.92,"[{""large"":""https://m.media-amazon.com/images/I/41nAmGM1fQL._AC_.jpg"",""thumb"":""https://m.media-am...",[],Faber Piano Adventures,"[""Books"",""Arts & Photography"",""Music"",""Songbooks"",""Piano""]",B00A82TY52,NaN,NaN,NaN,"{'Date First Available': 'November 15, 2012', 'Product Dimensions': '9 x 2 x 12 inches', 'Item W...",NaN,NaN,NaN,3.53 ounces,NaN,NaN,NaN,NaN,NaN,ounce,3.53,None
124869,Toys & Games,"GirlZone Arts and Crafts Unicorn and Mermaids Coloring Book for Girls 4 to 10 Years, Birthday Gi...",NaN,4.8,2199,"[""114 beautifully illustrated calming and soothing pages for coloring."",""Exclusive designs inclu...",[],12.90,"[{""large"":""https://m.media-amazon.com/images/I/618UyKNfEiL._AC_.jpg"",""thumb"":""https://m.media-am...","[{""user_id"":""AH6RIL2VF2D34J22LILF6PQ3GNNA"",""title"":""You Tuber Sarah Cantwell unboxes the stunnin...",GirlZone,"[""Books"",""Children's Books"",""Activities, Crafts & Games"",""Activity Books"",""Coloring Books""]",B075NKR4K9,NaN,NaN,NaN,"{'Manufacturer recommended age': '5 years and up', 'Item model number': 'Colouring Book UK', 'Ma...",NaN,NaN,NaN,1.76 ounces,NaN,NaN,NaN,NaN,NaN,ounce,1.76,None
180876,Toys & Games,DITTY BIRD The Wheels on The Bus Book | Nursery Rhymes for Babies | Sound Books for Toddlers 1-3...,NaN,4.7,2654,"[""😀 INTERACTIVE MUSICAL SONG BOOK FOR BABY, TODDLER, 1-3 YEARS OLD: Read, listen and sing along ...",[],14.82,"[{""large"":""https://m.media-amazon.com/images/I/51KmOb3dEvL._AC_.jpg"",""thumb"":""https://m.media-am...",[],DITTY BIRD,"[""Books"",""Children's Books""]",0994606710,NaN,NaN,NaN,"{'Release date': 'October 13, 2023', 'Manufacturer recommended age': '2 months and up', 'Languag...",English,NaN,NaN,9.3 ounces,NaN,NaN,NaN,NaN,NaN,ounce,9.30,en
208215,Toys & Games,"Cat's Cradle (Klutz Activity Kit) 9.44"" Length x 0.5"" Width x 5.75"" Height",NaN,4.7,6410,"[""Learn how to make The Cup and Saucer, The Witch's Broom and Jacob's Ladder"",""Comes with loop o...","[""In today's hi-tech world, people have completely forgotten how to make The Cup and Saucer, The...",9.95,"[{""large"":""https://m.media-amazon.com/images/I/51ADflGz2-L._AC_.jpg"",""thumb"":""https://m.media-am...","[{""user_id"":"""",""title"":""Sew Mini Treats"",""url"":""https://www.amazon.com/vdp/8fecce474818439eba2de...",Klutz,"[""Books"",""Children's Books"",""Activities, Crafts & Games"",""Games""]",1878257536,NaN,NaN,NaN,{'International Shipping': 'This item can be shipped to select countries outside of the U.S. Le...,English,NaN,NaN,8.1 ounces,NaN,NaN,NaN,NaN,NaN,ounce,8.10,en
215184,Toys & Games,"Cat's Cradle (Klutz Activity Kit) 9.44"" Length x 0.5"" Width x 5.75"" Height",NaN,4.7,6650,"[""Learn how to make The Cup and Saucer, The Witch's Broom and Jacob's Ladder"",""Comes with loop o...",[],9.95,"[{""large"":""https://m.media-amazon.com/images/I/51ADflGz2-L._AC_.jpg"",""thumb"":""https://m.media-am...",[],Klutz,"[""Books"",""Children's Books"",""Activities, Crafts & Games"",""Games""]",B000HZZ19S,NaN,NaN,NaN,"{'Release date': 'January 1, 1993', 'Manufacturer recommended age': '6 years and up', 'Departmen...",English,NaN,NaN,8.1 ounces,NaN,NaN,NaN,NaN,NaN,ounce,8.10,en
229888,Toys & Games,"Cat's Cradle (Klutz Activity Kit) 9.44"" Length x 0.5"" Width x 5.75"" Height",NaN,4.7,6603,"[""Learn how to make The Cup and Saucer, The Witch's Broom and Jacob's Ladder"",""Comes with loop o...","[""In today's hi-tech world, people have completely forgotten how to make The Cup and Saucer, The...",9.95,"[{""large"":""https://m.media-amazon.com/images/I/51ADflGz2-L._AC_.jpg"",""thumb"":""https://m.media-am...",[],Klutz,"[""Books"",""Children's Books"",""Activities, Crafts & Games"",""Games""]",B0049RNDOA,NaN,NaN,NaN,"{'Release date': 'January 1, 1993', 'Manufacturer recommended age': '6 years and up', 'Item mode...",English,NaN,NaN,8.1 ounces,NaN,NaN,NaN,NaN,NaN,ounce,8.10,en
256923,Amazon Home,I Will Find You,NaN,4.5,24916,[],"[""1""]",26.85,"[{""large"":""https://m.media-amazon.com/images/I/51qsS9YdWmL._AC_.jpg"",""thumb"":""https://m.media-am...",[],CALOTO,"[""Books"",""Literature & Fiction"",""Genre Fiction""]",1529135516,NaN,NaN,NaN,"{'Date First Available': 'September 27, 2022', 'Language': 'English', 'Manufacturer': 'CENTURY',...",English,NaN,NaN,1.14 pounds,NaN,NaN,NaN,NaN,NaN,pound,18.24,en
267344,Toys & Games,Klutz Nail Style Studio Book Kit,NaN,4.3,1667,"[""Simple steps to painting 25 stunning designs"",""Comes with 60 page instructions, practice polis...","[""Product Description"",""Nail Style Studio is the perfect big sister to our bestselling title Nai...",23.73,"[{""large"":""https://m.media-amazon.com/images/I/51GVIDdmbeL._AC_.jpg"",""thumb"":""https://m.media-am...","[{""user_id"":""AGGSA7D2A5XO6KFVBCR5GOOUFGIQ"",""title"":""Horrible product!!!"",""url"":""https://www.amaz...",Klutz,"[""Books"",""Children's Books"",""Activities, Crafts & Games"",""Crafts & Hobbies""]",0545561639,NaN,NaN,NaN,"{'International Shipping': 'This item is not eligible for international shipping. Learn More', ...",English,NaN,NaN,1.01 ounces,NaN,NaN,NaN,NaN,NaN,ounce,1.01,en

In [140]:
df.loc[df['main_category'].isin(["Toys & Games", "Musical Instruments", "Amazon Home"]), 'main_category'] = "Books"

In [150]:
counts_main_category = df["main_category"].value_counts()
counts_main_category

main_category
Books                 220664
Audible Audiobooks     37106
Buy a Kindle           22385
Name: count, dtype: int64

**Standardize other attributes categorical values into single words**

In [143]:
df['main_category'] = df['main_category'].replace({
    "Audible Audiobooks": "Audiobooks",
    "Buy a Kindle": "Ebooks"
})

In [144]:
counts_main_category = df["main_category"].value_counts()
counts_main_category

main_category
Books         220664
Audiobooks     37106
Ebooks         22385
Name: count, dtype: int64

##### **"title"**

This column and its attributes seem to be fairly clean. However, some, like those in the prior table, have additional unwanted info in them (i.e., Cat's Cradle <ins>(Klutz Activity Kit) 9.44" Length x 0.5" Width x 5.75" Height</ins>).

We are not sure how to remove this information efficiently without having it do it manually one by one. Will keep the titles has they are in this dataset.

**Publication Dates - on "subtitle" and "Publisher"**

Most dates seem to be in the "subtitle" and "details". However, their format is very inconsistent though-out the entries.

We will extract it to **ISO 8601**.

In [148]:
df[["subtitle", "Publisher"]]

,subtitle,Publisher
0,"Audio CD – Bargain Price, November 3, 2010","Hachette Audio; Una Rei edition (November 3, 2010)"
1,NaN,NaN
2,"Hardcover – Large Print, May 18, 2016","Thorndike Press Large Print; Large Print edition (May 18, 2016)"
3,"Mass Market Paperback – January 1, 1981","Bantam (January 1, 1981)"
4,"MP3 CD – Unabridged, July 15, 2007","Tantor Audio; MP3 - Unabridged CD edition (July 15, 2007)"
...,...,...
280333,"Hardcover – September 13, 2011","Doubleday (September 13, 2011)"
280334,"Audio CD – Unabridged, November 4, 2014","Macmillan Audio; Unabridged edition (November 4, 2014)"
280335,"Paperback – January 1, 1994","Scribner; 31685th edition (January 1, 1994)"
280336,"Paperback – March 3, 2020","Cloud Forest Press (March 3, 2020)"
280337,"Paperback – December 2, 2008","VIZ Media LLC (December 2, 2008)"

Trying to extract the dates.

In [163]:
def extract_date(text):
    """
    Attempt to extract a date from the provided text using fuzzy parsing.
    Returns an ISO formatted date string (YYYY-MM-DD) or None if no date is found.
    """
    if isinstance(text, str):
        try:
            dt = parser.parse(text, fuzzy=True)
            return dt.date().isoformat()  # Returns date in 'YYYY-MM-DD' format
        except Exception:
            return None
    return None

def get_publication_date(row):
    """
    Try to extract a date from the row by checking 'subtitle', then 'Publisher', then 'details'.
    Returns the first valid date found, or None if none are found.
    """
    for col in ['subtitle', 'Publisher', 'details']:
        date_candidate = extract_date(row.get(col, ''))
        if date_candidate:
            return date_candidate
    return None

# Create the unified PublicationDate column by applying the function to each row.
df['PublicationDate'] = df.apply(get_publication_date, axis=1)

In [164]:
df[['subtitle', 'Publisher', 'details', 'PublicationDate']].head()

,subtitle,Publisher,details,PublicationDate
0,"Audio CD – Bargain Price, November 3, 2010","Hachette Audio; Una Rei edition (November 3, 2010)","{'Language': 'English', 'Dimensions': '5.5 x 2.15 x 5.75 inches', 'Publisher': 'Hachette Audio; ...",2010-11-03
1,NaN,NaN,{},None
2,"Hardcover – Large Print, May 18, 2016","Thorndike Press Large Print; Large Print edition (May 18, 2016)","{'ISBN 13': '978-1410490117', 'Language': 'English', 'ISBN 10': '9781410490117', 'Dimensions': '...",2016-05-18
3,"Mass Market Paperback – January 1, 1981","Bantam (January 1, 1981)","{'ISBN 13': '978-0553230888', 'Language': 'English', 'Mass Market Paperback': '0 pages', 'ISBN 1...",1981-01-01
4,"MP3 CD – Unabridged, July 15, 2007","Tantor Audio; MP3 - Unabridged CD edition (July 15, 2007)","{'ISBN 13': '978-1400154234', 'Language': 'English', 'ISBN 10': '1400154235', 'Dimensions': '5.3...",2015-07-03

Let's see the Null percentages now.

In [165]:
df.isna().mean() * 100

main_category          0.065278
title                  0.000000
subtitle              20.200615
average_rating         0.000000
rating_number          0.000000
features               0.000000
description            0.000000
price                 29.716271
images                 0.000000
videos                 0.000000
store                  3.589239
categories             0.000000
parent_asin            0.000000
author_name           17.954398
author_about          17.954398
author_avatar         17.953328
details                0.000000
Language              19.686236
Dimensions            34.149848
Publisher             21.550771
Item Weight           26.822265
ISBN 13               30.399018
ISBN 10               32.670919
length                34.149848
width                 34.149848
height                34.265779
found_unit            26.822621
weight_oz             26.822265
iso_language          19.888135
main_category_real     0.065278
PublicationDate       19.160442
Publisher_Clean       21.550771
Edition               58.994856
dtype: float64

**"Publisher" Column and edition**

Cleaning the Publisher column, which contains inconsistent formatting and embedded publication dates. The goal is to separate this information for better data quality and analysis.

- Cleaning the Publisher column: Many entries include extraneous details such as dates or edition notes. I'm standardizing this column to retain only the publisher names.

- Creating an Edition column: Information about the edition, which typically appears between the publisher name and the date, is extracted into a new column named edition.

In [158]:
df[["Publisher"]].head(20)

                                                          Publisher
0                Hachette Audio; Una Rei edition (November 3, 2010)
1                                                               NaN
2   Thorndike Press Large Print; Large Print edition (May 18, 2016)
3                                          Bantam (January 1, 1981)
4         Tantor Audio; MP3 - Unabridged CD edition (July 15, 2007)
5                                        Opal Reyne (June 18, 2023)
6                                                               NaN
7                                           Avon (November 1, 1990)
8      CreateSpace Independent Publishing Platform (August 1, 2018)
9             Brilliance Audio; Unabridged edition (April 21, 2015)
10            Brilliance Audio; Unabridged edition (March 23, 2011)
11                                   Lomic Books (January 19, 2019)
12            Transworld Digital; Reissue edition (August 10, 2017)
13                                                              NaN
14         Brilliance Audio; Unabridged edition (December 30, 2014)
15                                                              NaN
16                                                              NaN
17                                            Arrow (April 1, 2008)
18                           Crown; First Edition (August 15, 2000)
19                                                              NaN

In [168]:
def parse_publisher_and_edition(value):
    """
    Parse a publisher string with expected formats:
      "PublisherName; Edition Info (Date)" or "PublisherName (Date)"
    Returns a Series with:
      - Clean publisher name (without the date and edition details)
      - Edition info (if available, otherwise None)
    The date part is ignored.
    """
    if pd.isnull(value):
        return pd.Series([None, None])
    
    value = value.strip()
    
    # Regex pattern explanation:
    #   ^(?P<publisher>[^;(]+)       : Capture everything until a semicolon or parenthesis as publisher name.
    #   (?:;\s*(?P<edition>[^()]+))?   : Optionally capture edition info after a semicolon.
    #   \s*\([^)]*\)$                : Ignore the date portion enclosed in parentheses.
    pattern = re.compile(
        r'^(?P<publisher>[^;(]+)(?:;\s*(?P<edition>[^()]+))?\s*\([^)]*\)$'
    )
    
    match = pattern.match(value)
    if match:
        publisher_clean = match.group('publisher').strip() if match.group('publisher') else None
        edition = match.group('edition').strip() if match.group('edition') else None
        return pd.Series([publisher_clean, edition])
    else:
        # If no match is found, return the original value as publisher and None for edition.
        return pd.Series([value, None])

# Apply the parsing function to create new columns for a cleaned publisher name and edition info.
df[['Publisher_Clean', 'Edition']] = df['Publisher'].apply(parse_publisher_and_edition)

In [169]:
df[['Publisher','Publisher_Clean', 'Edition', 'PublicationDate']]

,Publisher,Publisher_Clean,Edition,PublicationDate
0,"Hachette Audio; Una Rei edition (November 3, 2010)",Hachette Audio,Una Rei edition,2010-11-03
1,NaN,None,None,None
2,"Thorndike Press Large Print; Large Print edition (May 18, 2016)",Thorndike Press Large Print,Large Print edition,2016-05-18
3,"Bantam (January 1, 1981)",Bantam,None,1981-01-01
4,"Tantor Audio; MP3 - Unabridged CD edition (July 15, 2007)",Tantor Audio,MP3 - Unabridged CD edition,2015-07-03
...,...,...,...,...
280333,"Doubleday (September 13, 2011)",Doubleday,None,2011-09-13
280334,"Macmillan Audio; Unabridged edition (November 4, 2014)",Macmillan Audio,Unabridged edition,2014-11-04
280335,"Scribner; 31685th edition (January 1, 1994)",Scribner,31685th edition,1994-01-01
280336,"Cloud Forest Press (March 3, 2020)",Cloud Forest Press,None,2020-03-03
280337,"VIZ Media LLC (December 2, 2008)",VIZ Media LLC,None,2008-12-02

In [198]:
df.columns

Index(['main_category', 'title', 'subtitle', 'avg_rating', 'num_ratings',
       'features', 'description', 'price', 'images', 'videos', 'store',
       'categories', 'parent_asin', 'author_name', 'author_bio',
       'author_avatar', 'product_details', 'language', 'dimensions_raw',
       'publisher_raw', 'item_weight_raw', 'isbn_13', 'isbn_10', 'length',
       'width', 'height', 'dimension_unit', 'weight_oz', 'lang_iso',
       'publication_date', 'publisher', 'edition'],
      dtype='object')

In [196]:
rename_mapping = {
    'main_category': 'main_category',
    'title': 'title',
    'subtitle': 'subtitle',
    'average_rating': 'avg_rating',
    'rating_number': 'num_ratings',
    'features': 'features',
    'description': 'description',
    'price': 'price',
    'images': 'images',
    'videos': 'videos',
    'store': 'store',
    'categories': 'categories',
    'parent_asin': 'parent_asin',
    'author_name': 'author_name',
    'author_about': 'author_bio',
    'author_avatar': 'author_avatar',
    'details': 'product_details',
    'Language': 'language',
    'Dimensions': 'dimensions_raw',
    'Publisher': 'publisher_raw',
    'Item Weight': 'item_weight_raw',
    'ISBN 13': 'isbn_13',
    'ISBN 10': 'isbn_10',
    'length': 'length',
    'width': 'width',
    'height': 'height',
    'found_unit': 'dimension_unit',
    'weight_oz': 'weight_oz',
    'iso_language': 'lang_iso',
    'PublicationDate': 'publication_date',
    'Publisher_Clean': 'publisher',
    'Edition': 'edition'
}

# Rename the columns
df.rename(columns=rename_mapping, inplace=True)

# Print the standardized column names
print(df.columns.tolist())

['main_category', 'title', 'subtitle', 'avg_rating', 'num_ratings', 'features', 'description', 'price', 'images', 'videos', 'store', 'categories', 'parent_asin', 'author_name', 'author_bio', 'author_avatar', 'product_details', 'language', 'dimensions_raw', 'publisher_raw', 'item_weight_raw', 'isbn_13', 'isbn_10', 'length', 'width', 'height', 'dimension_unit', 'weight_oz', 'lang_iso', 'publication_date', 'publisher', 'edition']

In [197]:
df.to_csv('./Datasets/1_amazon/amazon_meta_clean.csv', index=False)

In [199]:
df.head(2)

,main_category,title,subtitle,avg_rating,num_ratings,features,description,price,images,videos,store,categories,parent_asin,author_name,author_bio,author_avatar,product_details,language,dimensions_raw,publisher_raw,item_weight_raw,isbn_13,isbn_10,length,width,height,dimension_unit,weight_oz,lang_iso,publication_date,publisher,edition
0,Books,The Swan Thieves,"Audio CD – Bargain Price, November 3, 2010",4.2,1559,"[""Psychiatrist Andrew Marlowe has a perfectly ordered life--solitary, perhaps, but full of devot...",[],NaN,[],[],"Elizabeth Kostova (Author), Treat Williams (Reader), Anne Heche (Reader), Erin Cottrell (Read...","[""Books"",""Literature & Fiction"",""Genre Fiction""]",B0062GL89I,Elizabeth Kostova,"[""Elizabeth Kostova's engrossing debut novel is the culmination of ten years of research and a l...",https://m.media-amazon.com/images/I/31E3SMTce5L._SY600_.jpg,"{'Language': 'English', 'Dimensions': '5.5 x 2.15 x 5.75 inches', 'Publisher': 'Hachette Audio; ...",English,5.5 x 2.15 x 5.75 inches,"Hachette Audio; Una Rei edition (November 3, 2010)",1.05 pounds,NaN,NaN,5.5,2.15,5.75,pound,16.8,en,2010-11-03,Hachette Audio,Una Rei edition
1,Audiobooks,Death in a White Tie,NaN,4.5,1033,[],[],NaN,[],[],"Ngaio Marsh (Author), Benedict Cumberbatch (Narrator), Hachette Audio UK (Publisher) ...","[""Books"",""Mystery, Thriller & Suspense"",""Mystery"",""Traditional Detectives""]",B001F1ZPDK,NaN,NaN,NaN,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Number of Rows**

It has 10.683.301 rows.

In [173]:
file_path = './Datasets/1_amazon/amazon_reviews_filtered.csv'

df = pd.read_csv(file_path)

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683301 entries, 0 to 10683300
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      object
 1   parent_asin  object
 2   rating       int64
 3   timestamp    int64
dtypes: int64(2), object(2)
memory usage: 326.0+ MB

##### **Value Lenghts**

Min Length: The length of the shortest string in the column.

Max Length: The length of the longest string in the column.

Mean Length: The average length of all the string values in the column.

Median Length: The middle string length when all lengths are sorted, indicating the 50th percentile.

"rating" and  "timestamp" are null cuz the type is incompatible, aka contain no string values, so no string length statistics are computed (all values are None).

In [182]:
df_length = pd.DataFrame({
    col: df[col].map(lambda x: len(x) if isinstance(x, str) else np.nan)
    for col in df.columns
})

# Compute statistics for each column, only if there are any valid (non-NaN) string lengths.
stats = {}
for col in df_length.columns:
    lengths = df_length[col].dropna()
    if lengths.empty:
        stats[col] = {
            'min_length': None,
            'max_length': None,
            'mean_length': None,
            'median_length': None
        }
    else:
        stats[col] = {
            'min_length': lengths.min(),
            'max_length': lengths.max(),
            'mean_length': lengths.mean(),
            'median_length': lengths.median()
        }

print("String length statistics per column:")
for col, stat in stats.items():
    print(f"{col}: {stat}")

String length statistics per column:
user_id: {'min_length': 28, 'max_length': 36, 'mean_length': 28.001065962664537, 'median_length': 28.0}
parent_asin: {'min_length': 10, 'max_length': 10, 'mean_length': 10.0, 'median_length': 10.0}
rating: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
timestamp: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}

##### **Null Percentages per Column:**

No nulls in any column.

In [183]:
df.isna().mean() * 100

user_id        0.0
parent_asin    0.0
rating         0.0
timestamp      0.0
dtype: float64

##### **Cardinality**
The number of distinct values per column is high on all columns as expect (not categoricals), ratings that is a categorical (1-5 value no decimals).

In [184]:
df.nunique()

user_id         5095240
parent_asin      280173
rating                5
timestamp      10562253
dtype: int64

##### **Uniqueness**

The proportion of distinct values compared to the total number of values indicates how many values are unique.

(For instance, a uniqueness ratio of 1.0 means every value is unique; a ratio of 0.5 means only half of the values are unique).

as percentage

In [186]:
df.apply(lambda x: x.nunique() / len(x) * 100)

user_id        47.693498
parent_asin     2.622532
rating          0.000047
timestamp      98.866942
dtype: float64

### b) Goodreads - 2017

#### a) i) Metadata books

In [228]:
file_path = './Datasets/2_3_goodreads/goodreads_meta_books.json'

df = pd.read_json(file_path, lines=True) # JSON Lines (JSONL)

This data is much cleaner than the amazon 23 data set bye.

There are 34.758 entries/books.

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34758 entries, 0 to 34757
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title_without_series  34758 non-null  object
 1   title                 34758 non-null  object
 2   work_id               34758 non-null  int64
 3   book_id               34758 non-null  int64
 4   publication_year      34758 non-null  int64
 5   num_pages             32950 non-null  float64
 6   ratings_count         34758 non-null  int64
 7   kindle_asin           34758 non-null  object
 8   publisher             34758 non-null  object
 9   authors               34758 non-null  object
 10  format                34758 non-null  object
 11  country_code          34758 non-null  object
 12  series                34758 non-null  object
 13  average_rating        34758 non-null  float64
 14  similar_books         34758 non-null  object
 15  image_url             34758 non-null  object
 16  isbn13                34758 non-null  object
 17  is_ebook              34758 non-null  bool
 18  text_reviews_count    34758 non-null  int64
 19  language_code         34758 non-null  object
 20  description           34758 non-null  object
 21  link                  34758 non-null  object
 22  url                   34758 non-null  object
 23  asin                  34758 non-null  object
 24  popular_shelves       34758 non-null  object
 25  edition_information   34758 non-null  object
 26  isbn                  34758 non-null  object
 27  publication_day       33100 non-null  float64
 28  publication_month     34006 non-null  float64
dtypes: bool(1), float64(4), int64(5), object(19)
memory usage: 7.5+ MB

##### **Investigate what attributes are actually unique**

- **"work_id"** - ingroups the same book title regardless of edition.
- **"book_id"** - it is unique for each book type and edition.
- **"kindle_asin"** - the same title but from different editions have the same kindle_asin, meaning the same ebook. However, there are 0 that should probably be taken as NaN.
- **"isbn13"** - also has many zeros that should be NaN
- **"isbn"** - also has many zeros that should be NaN. ***NEED TO CHANGE NAME TO isbn10***
- **"asin"** - also has  many zeros that should be NaN

In [221]:
# Duplicate counts for 'work_id'
dup_work_id = (
    df["work_id"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_work_id.columns = ["work_id", "count"]
dup_work_id = dup_work_id[dup_work_id["count"] > 1]
dup_work_id

       work_id  count
0     41107568     20
1     16827462     17
2      8812783     17
3     21825181     13
4     17763198     13
...        ...    ...
2938  25442975      2
2939    594714      2
2940  21861745      2
2941  16091023      2
2942  23636994      2

[2943 rows x 2 columns]

In [204]:
# Duplicate counts for 'book_id'
dup_book_id = (
    df["book_id"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_book_id.columns = ["book_id", "count"]
dup_book_id = dup_book_id[dup_book_id["count"] > 1]
dup_book_id

Empty DataFrame
Columns: [book_id, count]
Index: []

In [205]:
# Duplicate counts for 'kindle_asin'
dup_kindle_asin = (
    df["kindle_asin"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_kindle_asin.columns = ["kindle_asin", "count"]
dup_kindle_asin = dup_kindle_asin[dup_kindle_asin["count"] > 1]
dup_kindle_asin

     kindle_asin  count
0                  5374
1     B00655U3WE      9
2     B00L9B7IKE      9
3     B003XF1XOQ      9
4     B005ZOBNOI      9
...          ...    ...
2454  B00637B2UQ      2
2455  B003I55BIK      2
2456  B00A9V1PKY      2
2457  B004KSQDEA      2
2458  B00DNEH2L0      2

[2459 rows x 2 columns]

In [206]:
# Duplicate counts for 'isbn13'
dup_isbn13 = (
    df["isbn13"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_isbn13.columns = ["isbn13", "count"]
dup_isbn13 = dup_isbn13[dup_isbn13["count"] > 1]
dup_isbn13

  isbn13  count
0         10220

In [207]:
# Duplicate counts for 'asin'
dup_asin = (
    df["asin"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_asin.columns = ["asin", "count"]
dup_asin = dup_asin[dup_asin["count"] > 1]
dup_asin

  asin  count
0       27585

In [208]:
# Duplicate counts for 'isbn'
dup_isbn = (
    df["isbn"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_isbn.columns = ["isbn", "count"]
dup_isbn = dup_isbn[dup_isbn["count"] > 1]
dup_isbn

  isbn  count
0       11988

In [209]:
# Duplicate counts for 'is_ebook'
dup_isbn = (
    df["is_ebook"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_isbn.columns = ["is_ebook", "count"]
dup_isbn = dup_isbn[dup_isbn["count"] > 1]
dup_isbn

   is_ebook  count
0     False  22911
1      True  11847

##### **Null Values - Number of Missing data points per column**

In [210]:
missing_values_count = df.isnull().sum()

missing_values_count

title_without_series       0
title                      0
work_id                    0
book_id                    0
publication_year           0
num_pages               1808
ratings_count              0
kindle_asin                0
publisher                  0
authors                    0
format                     0
country_code               0
series                     0
average_rating             0
similar_books              0
image_url                  0
isbn13                     0
is_ebook                   0
text_reviews_count         0
language_code              0
description                0
link                       0
url                        0
asin                       0
popular_shelves            0
edition_information        0
isbn                       0
publication_day         1658
publication_month        752
dtype: int64

<ins>This is misleading many entries have empty slots that are not being registered as null.</ins>

The real NaN values should be:

In [231]:
# Replace empty strings with NaN across the DataFrame
df = df.replace("", np.nan)
df = df.replace(" ", np.nan)

# Replace 0 of no value with NaN across specific columns
columns_to_replace = ["kindle_asin", "asin", "isbn", "isbn13"]
df[columns_to_replace] = df[columns_to_replace].replace(0, np.nan)

null_counts = df.isnull().sum()
null_counts

title_without_series        0
title                       0
work_id                     0
book_id                     0
publication_year            0
num_pages                1808
ratings_count               0
kindle_asin              5374
publisher                3802
authors                     0
format                   2932
country_code                0
series                      0
average_rating              0
similar_books               0
image_url                   0
isbn13                  10220
is_ebook                    0
text_reviews_count          0
language_code            4791
description               417
link                        0
url                         0
asin                    27585
popular_shelves             0
edition_information     31847
isbn                    11988
publication_day          1658
publication_month         752
dtype: int64

In [223]:
df.head()

,title_without_series,title,work_id,book_id,publication_year,num_pages,ratings_count,kindle_asin,publisher,authors,format,country_code,series,average_rating,similar_books,image_url,isbn13,is_ebook,text_reviews_count,language_code,description,link,url,asin,popular_shelves,edition_information,isbn,publication_day,publication_month
0,"Assassin's Apprentice (Farseer Trilogy, #1)","Assassin's Apprentice (Farseer Trilogy, #1)",171715,12479382,2011,464.0,2037,NaN,Harper Voyager,"[{'role': '', 'author_id': '25307'}]",NaN,US,"[146510, 607115, 212862, 576243]",4.14,"[618196, 74275, 558681, 12527544, 104089, 91981, 96278, 590349, 61886, 618177, 811161, 589979, 3...",https://images.gr-assets.com/books/1406623170m/12479382.jpg,NaN,True,112,en-GB,"Young Fitz is the bastard son of the noble Prince Chivalry, raised in the shadow of the royal co...",https://www.goodreads.com/book/show/12479382-assassin-s-apprentice,https://www.goodreads.com/book/show/12479382-assassin-s-apprentice,B005JE1K9M,"[{'name': 'to-read', 'count': '1934'}, {'name': 'epic-fantasy', 'count': '492'}, {'name': 'high-...",NaN,NaN,NaN,NaN
1,Seven Eves,Seven Eves,42299347,29457915,2015,867.0,1047,NaN,Harper Collins,"[{'role': '', 'author_id': '545'}]",Hardcover,US,[],3.98,"[23197269, 25659450, 23533039, 23168809, 23168817, 15985402, 9424053, 20821159, 19367093, 238480...",https://images.gr-assets.com/books/1463823772m/29457915.jpg,NaN,False,146,eng,What would happen if the world were ending?\nA catastrophic event renders the earth a ticking ti...,https://www.goodreads.com/book/show/29457915-seven-eves,https://www.goodreads.com/book/show/29457915-seven-eves,NaN,"[{'name': 'to-read', 'count': '25568'}, {'name': 'science-fiction', 'count': '1975'}, {'name': '...",NaN,9780008132,NaN,NaN
2,يا بعده,يا بعده,42464976,22894535,2014,293.0,2100,NaN,lqS@ l`rby@ - lkwyt,"[{'role': '', 'author_id': '2743894'}]",Paperback,US,[],3.85,"[18068554, 7156236, 5781288, 22035215, 28106811, 13454387, 6652543, 23264107, 17911031, 22067995...",https://images.gr-assets.com/books/1407760836m/22894535.jpg,NaN,False,235,ara,"'n Hbk ldrj@ tnsyny Hzny,\n'n Hbk ldrj@ tlhyny `n nZrt lHsr@ fy `ywn hly,\n'n Hbk ldrj@ tmHw fkr...",https://www.goodreads.com/book/show/22894535,https://www.goodreads.com/book/show/22894535,NaN,"[{'name': 'to-read', 'count': '4396'}, {'name': 'currently-reading', 'count': '420'}, {'name': '...",NaN,NaN,NaN,NaN
3,"Noah (5th Street, #1)","Noah (5th Street, #1)",18573480,22913057,2012,352.0,2521,B007GEUY7W,NaN,"[{'role': '', 'author_id': '499602'}]",ebook,US,[348923],3.80,"[18393683, 15776233, 12807448, 14290481, 15827220, 13509846, 15724170, 15990356, 18793095, 16581...",https://images.gr-assets.com/books/1407955134m/22913057.jpg,NaN,True,205,eng,Veronica Cruz has been through hell and back. After disconnecting with the world two years ago t...,https://www.goodreads.com/book/show/22913057-noah,https://www.goodreads.com/book/show/22913057-noah,NaN,"[{'name': 'to-read', 'count': '9208'}, {'name': 'romance', 'count': '305'}, {'name': 'currently-...",NaN,NaN,NaN,NaN
4,2016 on Goodreads,2016 on Goodreads,53943483,33232571,2016,NaN,1167,NaN,NaN,"[{'role': '', 'author_id': '5481957'}]",NaN,US,[996473],4.25,[],https://images.gr-assets.com/books/1480784881m/33232571.jpg,NaN,False,1225,eng,You've probably found your way to this page because you follow reviews here on goodreads. Whethe...,https://www.goodreads.com/book/show/33232571-2016-on-goodreads,https://www.goodreads.com/book/show/33232571-2016-on-goodreads,NaN,"[{'name': 'to-read', 'count': '561'}, {'name': 'year-in-review', 'count': '87'}, {'name': 'revie...",NaN,NaN,NaN,NaN

In [232]:
# Convert the list of dicts into a string, then strip the leading/trailing brackets
df["authors"] = df["authors"].astype(str).str.strip("[]")

In [233]:
df.head(1)

,title_without_series,title,work_id,book_id,publication_year,num_pages,ratings_count,kindle_asin,publisher,authors,format,country_code,series,average_rating,similar_books,image_url,isbn13,is_ebook,text_reviews_count,language_code,description,link,url,asin,popular_shelves,edition_information,isbn,publication_day,publication_month
0,"Assassin's Apprentice (Farseer Trilogy, #1)","Assassin's Apprentice (Farseer Trilogy, #1)",171715,12479382,2011,464.0,2037,NaN,Harper Voyager,"{'role': '', 'author_id': '25307'}",NaN,US,"[146510, 607115, 212862, 576243]",4.14,"[618196, 74275, 558681, 12527544, 104089, 91981, 96278, 590349, 61886, 618177, 811161, 589979, 3...",https://images.gr-assets.com/books/1406623170m/12479382.jpg,NaN,True,112,en-GB,"Young Fitz is the bastard son of the noble Prince Chivalry, raised in the shadow of the royal co...",https://www.goodreads.com/book/show/12479382-assassin-s-apprentice,https://www.goodreads.com/book/show/12479382-assassin-s-apprentice,B005JE1K9M,"[{'name': 'to-read', 'count': '1934'}, {'name': 'epic-fantasy', 'count': '492'}, {'name': 'high-...",NaN,NaN,NaN,NaN

##### **Cardinalities**

**Number of Rows**

In [241]:
# 1. Number of rows
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 34758

**String length**

String length statistics for each column (if applicable)

In [243]:
def string_length_stats(series):
    # Compute lengths only for string values; ignore non-string values
    lengths = series.dropna().map(lambda x: len(x) if isinstance(x, str) else np.nan).dropna()
    if lengths.empty:
        return {"min_length": None, "max_length": None, "mean_length": None, "median_length": None}
    else:
        return {
            "min_length": lengths.min(),
            "max_length": lengths.max(),
            "mean_length": lengths.mean(),
            "median_length": lengths.median()
        }

string_stats = {col: string_length_stats(df[col]) for col in df.columns}
print("\nString length statistics per column:")
for col, stats in string_stats.items():
    print(f"{col}: {stats}")

String length statistics per column:
title_without_series: {'min_length': 1, 'max_length': 203, 'mean_length': 33.23890902813741, 'median_length': 32.0}
title: {'min_length': 1, 'max_length': 203, 'mean_length': 33.23890902813741, 'median_length': 32.0}
work_id: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
book_id: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
publication_year: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
num_pages: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
ratings_count: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
kindle_asin: {'min_length': 10, 'max_length': 10, 'mean_length': 10.0, 'median_length': 10.0}
publisher: {'min_length': 2, 'max_length': 73, 'mean_length': 14.883059826851014, 'median_length': 14.0}
authors: {'min_length': 30, 'max_length': 2448, 'mean_length': 47.60777374992807, 'median_length': 36.0}
format: {'min_length': 4, 'max_length': 31, 'mean_length': 9.89250926915101, 'median_length': 9.0}
country_code: {'min_length': 2, 'max_length': 2, 'mean_length': 2.0, 'median_length': 2.0}
series: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
average_rating: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
similar_books: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
image_url: {'min_length': 53, 'max_length': 88, 'mean_length': 61.65265550376892, 'median_length': 59.0}
isbn13: {'min_length': 10, 'max_length': 13, 'mean_length': 12.998206862825006, 'median_length': 13.0}
is_ebook: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
text_reviews_count: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
language_code: {'min_length': 2, 'max_length': 5, 'mean_length': 3.364868021490306, 'median_length': 3.0}
description: {'min_length': 1, 'max_length': 8593, 'mean_length': 970.2610873300137, 'median_length': 916.0}
link: {'min_length': 43, 'max_length': 121, 'mean_length': 60.435381782611195, 'median_length': 60.0}
url: {'min_length': 43, 'max_length': 121, 'mean_length': 60.435381782611195, 'median_length': 60.0}
asin: {'min_length': 9, 'max_length': 10, 'mean_length': 9.9998605883173, 'median_length': 10.0}
popular_shelves: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
edition_information: {'min_length': 1, 'max_length': 84, 'mean_length': 11.945379594641016, 'median_length': 11.0}
isbn: {'min_length': 4, 'max_length': 10, 'mean_length': 9.999385155906895, 'median_length': 10.0}
publication_day: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
publication_month: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}

**Null values per column**

In [239]:
print("\nNull values per column:")
df.isna().mean() * 100

Null values per column:

title_without_series     0.000000
title                    0.000000
work_id                  0.000000
book_id                  0.000000
publication_year         0.000000
num_pages                5.201680
ratings_count            0.000000
kindle_asin             15.461189
publisher               10.938489
authors                  0.000000
format                   8.435468
country_code             0.000000
series                   0.000000
average_rating           0.000000
similar_books            0.000000
image_url                0.000000
isbn13                  29.403303
is_ebook                 0.000000
text_reviews_count       0.000000
language_code           13.783877
description              1.199724
link                     0.000000
url                      0.000000
asin                    79.363024
popular_shelves          0.000000
edition_information     91.624950
isbn                    34.489902
publication_day          4.770125
publication_month        2.163531
dtype: float64

**Distinct values per column**

In [237]:
def make_hashable(x):
    """
    Recursively convert unhashable types (lists, dicts, sets) into hashable types.
    """
    if isinstance(x, list):
        return tuple(make_hashable(e) for e in x)
    elif isinstance(x, dict):
        # Sort items by key for consistency
        return tuple((k, make_hashable(v)) for k, v in sorted(x.items()))
    elif isinstance(x, set):
        return tuple(sorted(make_hashable(e) for e in x))
    else:
        try:
            hash(x)
            return x
        except Exception:
            return str(x)

def safe_nunique(series):
    return series.map(lambda x: make_hashable(x)).nunique(dropna=True)

distinct_values = {col: safe_nunique(df[col]) for col in df.columns}
print("\nDistinct values per column:")
print(distinct_values)

Distinct values per column:
{'title_without_series': 31314, 'title': 31314, 'work_id': 30573, 'book_id': 34758, 'publication_year': 12, 'num_pages': 973, 'ratings_count': 9959, 'kindle_asin': 26179, 'publisher': 4978, 'authors': 14462, 'format': 53, 'country_code': 1, 'series': 19334, 'average_rating': 226, 'similar_books': 29284, 'image_url': 31417, 'isbn13': 24538, 'is_ebook': 2, 'text_reviews_count': 3207, 'language_code': 49, 'description': 32923, 'link': 34758, 'url': 34758, 'asin': 7173, 'popular_shelves': 32551, 'edition_information': 639, 'isbn': 22770, 'publication_day': 31, 'publication_month': 12}

**Uniqueness ratio**

(distinct values / total rows) * 100*

In [244]:
uniqueness = {col: (safe_nunique(df[col]) / num_rows) * 100 for col in df.columns}
print("\nUniqueness ratio (in %):")
uniqueness

Uniqueness ratio (in %):

{'title_without_series': 90.09148972898325,
 'title': 90.09148972898325,
 'work_id': 87.95960642154324,
 'book_id': 100.0,
 'publication_year': 0.03452442603141723,
 'num_pages': 2.7993555440474136,
 'ratings_count': 28.65239657057368,
 'kindle_asin': 75.3179124230393,
 'publisher': 14.321882732032915,
 'authors': 41.607687438862996,
 'format': 0.15248288163875942,
 'country_code': 0.0028770355026181025,
 'series': 55.62460440761839,
 'average_rating': 0.6502100235916911,
 'similar_books': 84.25110765866852,
 'image_url': 90.38782438575292,
 'isbn13': 70.596697163243,
 'is_ebook': 0.005754071005236205,
 'text_reviews_count': 9.226652856896255,
 'language_code': 0.140974739628287,
 'description': 94.72063985269578,
 'link': 100.0,
 'url': 100.0,
 'asin': 20.636975660279646,
 'popular_shelves': 93.65038264572185,
 'edition_information': 1.8384256861729675,
 'isbn': 65.51009839461419,
 'publication_day': 0.08918810058116117,
 'publication_month': 0.03452442603141723}

##### **Standardizing Dates**

**Transforming date attributes ("publication_year", "publication_month" and "publication_day") into one attribute - "publication_date"**

- **Using ISO Standard (YYYY-MM-DD)**, instead of UNIX to be more universally understandable regardless of background.
- We opted to assign missing publication months and days a default value of 1 (January and the first day, respectively), knowing it would be difficult to get this data. Still tagged them with "publication_date_estimate".

In [245]:
def create_pub_date_and_estimate(row):
    year = row['publication_year']
    # Check if month or day are missing
    month_missing = pd.isnull(row['publication_month'])
    day_missing = pd.isnull(row['publication_day'])
    # Default values if missing
    month = row['publication_month'] if not month_missing else 1
    day = row['publication_day'] if not day_missing else 1
    # Create formatted date string
    date_str = f"{int(year):04d}-{int(month):02d}-{int(day):02d}"
    # Tag as estimate if a default was used for month or day
    estimate = month_missing or day_missing
    return pd.Series([date_str, estimate])

# Create two new columns: publication_date and publication_date_estimate
df[['publication_date', 'publication_date_estimate']] = df.apply(create_pub_date_and_estimate, axis=1)
df.head()

,title_without_series,title,work_id,book_id,publication_year,num_pages,ratings_count,kindle_asin,publisher,authors,format,country_code,series,average_rating,similar_books,image_url,isbn13,is_ebook,text_reviews_count,language_code,description,link,url,asin,popular_shelves,edition_information,isbn,publication_day,publication_month,publication_date,publication_date_estimate
0,"Assassin's Apprentice (Farseer Trilogy, #1)","Assassin's Apprentice (Farseer Trilogy, #1)",171715,12479382,2011,464.0,2037,NaN,Harper Voyager,"{'role': '', 'author_id': '25307'}",NaN,US,"[146510, 607115, 212862, 576243]",4.14,"[618196, 74275, 558681, 12527544, 104089, 91981, 96278, 590349, 61886, 618177, 811161, 589979, 3...",https://images.gr-assets.com/books/1406623170m/12479382.jpg,NaN,True,112,en-GB,"Young Fitz is the bastard son of the noble Prince Chivalry, raised in the shadow of the royal co...",https://www.goodreads.com/book/show/12479382-assassin-s-apprentice,https://www.goodreads.com/book/show/12479382-assassin-s-apprentice,B005JE1K9M,"[{'name': 'to-read', 'count': '1934'}, {'name': 'epic-fantasy', 'count': '492'}, {'name': 'high-...",NaN,NaN,NaN,NaN,2011-01-01,True
1,Seven Eves,Seven Eves,42299347,29457915,2015,867.0,1047,NaN,Harper Collins,"{'role': '', 'author_id': '545'}",Hardcover,US,[],3.98,"[23197269, 25659450, 23533039, 23168809, 23168817, 15985402, 9424053, 20821159, 19367093, 238480...",https://images.gr-assets.com/books/1463823772m/29457915.jpg,NaN,False,146,eng,What would happen if the world were ending?\nA catastrophic event renders the earth a ticking ti...,https://www.goodreads.com/book/show/29457915-seven-eves,https://www.goodreads.com/book/show/29457915-seven-eves,NaN,"[{'name': 'to-read', 'count': '25568'}, {'name': 'science-fiction', 'count': '1975'}, {'name': '...",NaN,9780008132,NaN,NaN,2015-01-01,True
2,يا بعده,يا بعده,42464976,22894535,2014,293.0,2100,NaN,lqS@ l`rby@ - lkwyt,"{'role': '', 'author_id': '2743894'}",Paperback,US,[],3.85,"[18068554, 7156236, 5781288, 22035215, 28106811, 13454387, 6652543, 23264107, 17911031, 22067995...",https://images.gr-assets.com/books/1407760836m/22894535.jpg,NaN,False,235,ara,"'n Hbk ldrj@ tnsyny Hzny,\n'n Hbk ldrj@ tlhyny `n nZrt lHsr@ fy `ywn hly,\n'n Hbk ldrj@ tmHw fkr...",https://www.goodreads.com/book/show/22894535,https://www.goodreads.com/book/show/22894535,NaN,"[{'name': 'to-read', 'count': '4396'}, {'name': 'currently-reading', 'count': '420'}, {'name': '...",NaN,NaN,NaN,NaN,2014-01-01,True
3,"Noah (5th Street, #1)","Noah (5th Street, #1)",18573480,22913057,2012,352.0,2521,B007GEUY7W,NaN,"{'role': '', 'author_id': '499602'}",ebook,US,[348923],3.80,"[18393683, 15776233, 12807448, 14290481, 15827220, 13509846, 15724170, 15990356, 18793095, 16581...",https://images.gr-assets.com/books/1407955134m/22913057.jpg,NaN,True,205,eng,Veronica Cruz has been through hell and back. After disconnecting with the world two years ago t...,https://www.goodreads.com/book/show/22913057-noah,https://www.goodreads.com/book/show/22913057-noah,NaN,"[{'name': 'to-read', 'count': '9208'}, {'name': 'romance', 'count': '305'}, {'name': 'currently-...",NaN,NaN,NaN,NaN,2012-01-01,True
4,2016 on Goodreads,2016 on Goodreads,53943483,33232571,2016,NaN,1167,NaN,NaN,"{'role': '', 'author_id': '5481957'}",NaN,US,[996473],4.25,[],https://images.gr-assets.com/books/1480784881m/33232571.jpg,NaN,False,1225,eng,You've probably found your way to this page because you follow reviews here on goodreads. Whethe...,https://www.goodreads.com/book/show/33232571-2016-on-goodreads,https://www.goodreads.com/book/show/33232571-2016-on-goodreads,NaN,"[{'name': 'to-read', 'count': '561'}, {'name': 'year-in-review', 'count': '87'}, {'name': 'revie...",NaN,NaN,NaN,NaN,2016-01-01,True

In [246]:
dup_isbn = (
    df["publication_date_estimate"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_isbn.columns = ["publication_date_estimate", "count"]
dup_isbn = dup_isbn[dup_isbn["count"] > 1]
dup_isbn

   publication_date_estimate  count
0                      False  33100
1                       True   1658

##### **CATEGORICAL CONSISTENCY (String Attributes Values' Standardization of Synonyms)** 

Overall it seems to be pretty clean now, but let's see if there are string values that should be the same (Donald Duck and D. Duck should be the same value for instance).

##### **RapidFuzz - String Similarity Algorithm** 

RapidFuzz is built upon efficient implementations of **string similarity algorithms**, much like Levenshtein distance, which measures the minimal number of single-character edits required to transform one string into another. 

The algorithm computes a **similarity score by quantifying the cost of character substitutions, insertions, and deletions**, then **normalises this value into a ratio between 0 and 100**, where a <ins>higher score indicates greater similarity</ins>. 

This approach not only ensures speed and scalability when comparing large numbers of strings but also maintains the accuracy of approximate matching, making RapidFuzz particularly effective for tasks like deduplication, clustering, and standardising text data.

However, as you can see in the output ahead it has issues when the synonyms have different character lengths, especially when the difference comes to number of words/abbreviations. Some nuance understanding might be needed here.

Types of ratios:

- The **simple token ratio** measures the similarity between two strings by <ins>comparing the total number of matching characters against the total characters in both strings</ins>. It provides a percentage score indicating how closely the two strings match overall, even if minor differences like extra spaces exist.
  `fuzz.ratio()`

- The **partial token ratio**, on the other hand, **looks at substrings**. It finds the <ins>best-matching substring within the longer string compared to the shorter one</ins>. This is <ins>particularly useful when one string is embedded within another, as it can recognise a perfect match even if additional words or details are present</ins>. `fuzz.partial_ratio()`

- The **token sort ratio** first <ins>splits the strings into individual words (tokens), sorts these tokens alphabetically, and then compares the sorted versions</ins>. This method neutralises the effect of different word orders, ensuring that strings containing the same words in a different sequence are still recognised as identical. `fuzz.token_sort_ratio()`

In [247]:
def get_standardized_groups(df, column, threshold=90, scorer=fuzz.ratio):
    """
    Groups similar strings from a DataFrame column based on a similarity threshold.
    
    Parameters:
        df (pd.DataFrame): The input DataFrame.
        column (str): The column name containing the strings.
        threshold (int): Similarity threshold (0-100) for fuzzy matching. Default is 98.
        scorer (function): Scoring function from rapidfuzz (default: fuzz.ratio).
        
    Returns:
        List[Set[str]]: A list of sets, where each set contains similar strings.
    """
    unique_values = list(df[column].dropna().unique())
    
    similar_groups = {}
    for item in unique_values:
        matches = process.extract(item, unique_values, scorer=scorer)
        # Keep only matches with a score >= threshold.
        similar = sorted({match for match, score, _ in matches if score >= threshold})
        similar_groups[item] = similar

    def merge_groups(groups):
        merged = []
        for group in groups.values():
            group_set = set(group)
            added = False
            for i, m in enumerate(merged):
                if group_set & m:  # If there's any overlap, merge the groups.
                    merged[i] = m | group_set
                    added = True
                    break
            if not added:
                merged.append(group_set)
        return merged

    merged_groups = merge_groups(similar_groups)
    return merged_groups

##### - **"publisher" Column**

Some entries are also in a foreign encryption type not UTF-8, but we are mostly working with USA in this project so it might not be the biggest issue.

The matching isn't perfect but it seemed to be the best with the simple token ratio.

Some publisher seems to have strange irregularities suggesting that encoding or extraction issues are more likely at play (ie:'n llnshr wltwzy`, lrwq llnshr w ltwzy).

In [249]:
unique_publishers = list(df['publisher'].dropna().unique())

merged_groups = get_standardized_groups(df, 'publisher', threshold=90, scorer=fuzz.ratio)
print("Potential standardized groups:")
for group in merged_groups[:50]:
    print(group)

Potential standardized groups:
{'HarperVogager', 'Harper/Voyager', 'Harper Voyager', 'HarperVoyager'}
{'HaperCollins', 'Harpercollins', 'HarperCollins', 'Harper Collins'}
{'lqS@ l`rby@ - lkwyt'}
{'mdrk'}
{'Fireweed Publishing', 'Fireweed Publishing Ltd'}
{'Can Yayinlari'}
{'Jennifer Estep'}
{'RosettaBooks', 'Rosetta Books'}
{'dr `Syr lktb llnshr wltwzy`', '`Syr lktb llnshr wltwzy`'}
{'J.C. Isabella, via kindle'}
{"mw'ss@ lslm lywm"}
{'Lyons Publishing Limited', 'Lyons Publishing Ltd'}
{'Bantam Books'}
{'mktb@ jryr'}
{'Weinstein Books'}
{'Meredith Wild LLC'}
{'Grand Central Publishing'}
{'Headline Publishing Group'}
{'Bestseller Publishing'}
{"lmw'ss@ l`rby@ lldrst w lnshr", "lmw'ss@ l`rby@ lldrst wlnshr"}
{'lslm lywm'}
{'Disney-Hyperion Books', 'Disney/Hyperion Book', 'Disney Hyperion Books', 'Disney - Hyperion Books'}
{'ldr lmSry@ llbnny@'}
{'ldr l`rby@ ll`lwm-nshrwn', 'ldr l`rby@ ll`lwm nshrwn'}
{'Algonquin Books'}
{'The Great Courses'}
{'mnshwrt mdwn@ nynr'}
{'Faber and Faber Crime'}
{'Orbit'}
{'dr lmn~'}
{'DreamBuilders'}
{'S.L. Jennings'}
{'dr lshrwq'}
{"Scholastic Children's Books"}
{"mktb@ l`bykn , hyy'@ 'bwZby llthqf@ wltrth"}
{'ntshrt rh mn'}
{'headline'}
{'Wattpad'}
{'Swoon Romance'}
{'Grove'}
{"dr 'thr"}
{'n llnshr wltwzy`', 'lrwq llnshr w ltwzy`', 'drk llnshr wltwzy`', 'dr nsn llnshr w ltwzy`', "dr 'ktb llnshr w ltwzy`", 'dr ktb llnshr wltwzy`', 'dr jdwl llnshr w ltwzy`', "dr 'thr llnshr w ltwzy`", 'dr dwWin llnshr wltwzy`', 'dr klmt llnshr w ltwzy`', 'mdrk llnshr wltwzy`', 'bysn llnshr wltwzy`', 'kyn llnshr wltwzy`', 'nwn llnshr wltwzy`', 'dr klmt llnshr wltwzy`', "dr 'ktb llnshr wltwzy`", 'dr twy llnshr wltwzy`', 'dr ljndy llnshr wltwzy`', 'lrwq llnshr wltwzy`', 'dr nsn llnshr wltwzy`', 'dr ktb llnshr w ltwzy`', 'dr rwq llnshr wltwzy`', 'dr nwn llnshr wltwzy`', 'dr dwn llnshr w ltwzy`', 'dr n llnshr wltwzy`'}
{'dr lfkr'}
{'Riverhead'}
{'VIVA PSICOM'}
{"'Tls llnshr wl'ntj l'`lm~ - mSr"}
{'Simon Pulse', 'SimonPulse', 'Simon Pluse'}
{'Chanda Hahan', 'Chanda Hahn'}
{'mHmwd frjmy'}
{'Gagas Media', 'GagasMedia'}

**To make this task more efficient, we need to use the most recurring/ frequent name has the canonical one.**

In [252]:
# frequency for each publisher
freq = df['publisher'].value_counts().to_dict()

# mapping dictionary
mapping = {}
for group in merged_groups:
    # Choose the publisher with the highest frequency in this group
    canonical = max(group, key=lambda x: freq.get(x, 0))
    for pub in group:
        mapping[pub] = canonical

# If it alone, it keeps its name obvi
for pub in unique_publishers:
    if pub not in mapping:
        mapping[pub] = pub

# standardized publisher column in the DataFrame using the mapping, add not removing 
df['publisher_standard'] = df['publisher'].map(lambda x: mapping.get(x, x))

print("\nStandardized publisher names added to DataFrame:")
df[['publisher', 'publisher_standard']].head(10)

Standardized publisher names added to DataFrame:

             publisher   publisher_standard
0       Harper Voyager       Harper Voyager
1       Harper Collins        HarperCollins
2  lqS@ l`rby@ - lkwyt  lqS@ l`rby@ - lkwyt
3                  NaN                  NaN
4                  NaN                  NaN
5                 mdrk                 mdrk
6  Fireweed Publishing  Fireweed Publishing
7        Can Yayinlari        Can Yayinlari
8       Jennifer Estep       Jennifer Estep
9                  NaN                  NaN

##### **"title_without_series" and "title"** not good candidates

As we can see in the output, this method is not recommended because even small changes—such as replacing a '1' with a '2'—can lead to significant differences in titles. For instance, a minor alteration might indicate that one title is a sequel while the others belong to entirely different books. Consider this example:

- {'Fantasy of Flight (The Tainted Accords, #2)', 'Fantasy of Frost (The Tainted Accords, #1)', 'Fantasy of Fire (The Tainted Accords, #3)'}

- higher threshold would produce individual groups.

In [15]:
#unique_publishers = list(df['title_without_series'].dropna().unique())

#merged_groups = get_standardized_groups(df, 'title_without_series', threshold=90)
#print("Potential standardized groups:")
#for group in merged_groups:
    #print(group)

# DO NOT RUN OUTPUT IS REAL LARGE AND MESSES WITH THE NOTEBOOK UI

##### **"country_code"** 

All from the US, as expected. It's using the most commonly used standard is the ISO 3166-1 alpha-2 code, which uses two-letter abbreviations (e.g., US, GB, FR).

In [253]:
unique_country_codes = df['country_code'].dropna().unique()
print(unique_country_codes)

['US']

##### **"language_code"** 

Seems to be clean but let's further check. They are not in ISO 639-1 like our prior dataset.

In [17]:
unique_language_code = df['language_code'].dropna().unique()
print(unique_language_code)

['en-GB' 'eng' 'ara' 'tur' 'fil' 'rum' 'en-US' 'per' 'ind' 'tam' 'kor'
 'hun' 'en' 'vie' 'spa' 'en-CA' 'fre' 'ger' 'rus' 'cze' 'slo' 'pol' 'por'
 'ita' 'nl' 'swe' 'fin' 'bul' 'gre' 'urd' 'heb' 'msa' 'kat' 'lit' 'isl'
 'jpn' 'mal' 'nor' 'lav' 'mar' 'dan' 'ben' 'es-MX' 'cat' 'nob' 'afr' 'tgl'
 'frs' 'zho']

confirming if they are valid:

In [254]:
import pycountry

# Get unique language codes from the DataFrame (drop null values)
unique_language_codes = df['language_code'].dropna().unique()
print("Unique language codes from data:", unique_language_codes)

# Check each code to see if it is a valid ISO 3166-1 alpha-2 language code.
valid_codes = []
invalid_codes = []

for code in unique_language_codes:
    # Attempt to retrieve language information using alpha-2 code
    language = pycountry.languages.get(alpha_2=code)
    if language is None:
        # If not found using alpha-2, try with alpha_3 as a fallback (if you expect 3-letter codes)
        language = pycountry.languages.get(alpha_3=code)
    if language:
        valid_codes.append(code)
    else:
        invalid_codes.append(code)

print("Valid ISO language codes:", valid_codes)
print("Invalid ISO language codes:", invalid_codes)

Unique language codes from data: ['en-GB' 'eng' 'ara' 'tur' 'fil' 'rum' 'en-US' 'per' 'ind' 'tam' 'kor'
 'hun' 'en' 'vie' 'spa' 'en-CA' 'fre' 'ger' 'rus' 'cze' 'slo' 'pol' 'por'
 'ita' 'nl' 'swe' 'fin' 'bul' 'gre' 'urd' 'heb' 'msa' 'kat' 'lit' 'isl'
 'jpn' 'mal' 'nor' 'lav' 'mar' 'dan' 'ben' 'es-MX' 'cat' 'nob' 'afr' 'tgl'
 'frs' 'zho']
Valid ISO language codes: ['eng', 'ara', 'tur', 'fil', 'ind', 'tam', 'kor', 'hun', 'en', 'vie', 'spa', 'rus', 'pol', 'por', 'ita', 'nl', 'swe', 'fin', 'bul', 'urd', 'heb', 'msa', 'kat', 'lit', 'isl', 'jpn', 'mal', 'nor', 'lav', 'mar', 'dan', 'ben', 'cat', 'nob', 'afr', 'tgl', 'frs', 'zho']
Invalid ISO language codes: ['en-GB', 'rum', 'en-US', 'per', 'en-CA', 'fre', 'ger', 'cze', 'slo', 'gre', 'es-MX']

In [255]:
import pandas as pd
import pycountry

# Assume df is already loaded and contains a column "language_code"
# Rename "language_code" to "language_raw" to preserve the original values
df.rename(columns={'language_code': 'language_raw'}, inplace=True)

# Define a mapping for problematic codes to their ISO 639-1 equivalents
corrections = {
    'en-GB': 'en',
    'en-US': 'en',
    'en-CA': 'en',
    'rum': 'ro',   # Romanian
    'per': 'fa',   # Persian/Farsi
    'fre': 'fr',   # French
    'ger': 'de',   # German
    'cze': 'cs',   # Czech
    'slo': 'sk',   # Slovak
    'gre': 'el',   # Greek
    'es-MX': 'es'  # Mexican Spanish → generic Spanish
}

def correct_language_code(code):
    if not isinstance(code, str):
        return None
    # If the code contains a hyphen, use only the base language part
    if '-' in code:
        code = code.split('-')[0]
    # Apply corrections if the code is in our mapping
    return corrections.get(code, code)

# Create a new column "language_iso" with the corrected ISO codes
df['language_iso'] = df['language_raw'].apply(correct_language_code)

# Optionally, validate the new codes using pycountry
def validate_iso(code):
    if not code:
        return False
    language = pycountry.languages.get(alpha_2=code)
    if language is None:
        language = pycountry.languages.get(alpha_3=code)
    return language is not None

invalid_iso = df.loc[~df['language_iso'].apply(validate_iso), 'language_iso'].unique()
print("Invalid ISO language codes after correction:", invalid_iso)

# Display the original and corrected language columns
df[['language_raw', 'language_iso']].head()

Invalid ISO language codes after correction: [None]

  language_raw language_iso
0        en-GB           en
1          eng          eng
2          ara          ara
3          eng          eng
4          eng          eng

##### **"format"**

In [258]:
# Duplicate counts for 'format'
dup_isbn = (
    df["format"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_isbn.columns = ["format", "count"]
dup_isbn = dup_isbn[dup_isbn["count"] > 1]
dup_isbn

                   format  count
0               Hardcover  10588
1               Paperback   9616
2          Kindle Edition   6138
3                   ebook   3918
4                     NaN   2932
5   Mass Market Paperback   1094
6                Audio CD    165
7               Audiobook     68
8         Trade Paperback     41
9                   Audio     36
10          Audible Audio     32
11                   Nook     21
12        Library Binding     10
13              komitsuku      9
14          Leather Bound      9
15         Online Fiction      8
16        Unknown Binding      7
17             Board Book      5
18                  Comic      5
19             Comic Book      4
20                 MP3 CD      4
21        Klappenbroschur      4
22                 Broche      3
23                  Poche      3
24               Gebunden      3
25               Hardback      2
26             Board book      2
27       Free Online Read      2
28       Free Read Online      2
29       Free online read      2
30                Wattpad      2

It seems the **"category"** categorical values are not standardised and in multiple languages are included:

In [259]:
# Mapping dictionary for standard formats
format_mapping = {
    # Hardcover category
    "Hardcover": "Hardcover",
    "Hardback": "Hardcover",
    "Leather Bound": "Hardcover",
    "gebunden": "Hardcover",        # hardcover in german
    "Gebunden": "Hardcover",
    "Library Binding": "Hardcover",
    "Unknown Binding": "Hardcover",
    
    # Paperback category
    "Paperback": "Paperback",
    "Mass Market Paperback": "Paperback",
    "Trade Paperback": "Paperback",
    "Board Book": "Paperback",
    "Board book": "Paperback",
    "Comic": "Paperback",
    "Comic Book": "Paperback",
    "Klappenbroschur": "Paperback",     # paperback in german
    "Broche": "Paperback",              # Livre broché = paperback in french
    "Poche": "Paperback",               # paperback in italian
    
    # Ebook category
    "Kindle Edition": "Ebook",
    "ebook": "Ebook",
    "Nook": "Ebook",
    "Online Fiction": "Ebook",
    "Free Online Read": "Ebook",
    "Free Read Online": "Ebook",
    "Free online read": "Ebook",
    "Wattpad": "Ebook",
    
    # Audio category
    "Audio CD": "Audio",
    "Audiobook": "Audio",
    "Audio": "Audio",
    "Audible Audio": "Audio",
    "MP3 CD": "Audio"
}

# Create a new column 'standard_format' by mapping the values in the 'format' column
df['standard_format'] = df['format'].map(format_mapping)

In [260]:
# Duplicate counts for 'standard_format'
dup_isbn = (
    df["standard_format"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_isbn.columns = ["standard_format", "count"]
dup_isbn = dup_isbn[dup_isbn["count"] > 1]
dup_isbn

  standard_format  count
0       Paperback  10777
1       Hardcover  10619
2           Ebook  10093
3             NaN   2964
4           Audio    305

**"is_ebook"** can fix up some NaN values in **"standard_format"** by just matching them:

In [261]:
df.loc[df['is_ebook'] == True, 'standard_format'] = "Ebook"

In [264]:
# Duplicate counts for 'standard_format'
dup_isbn = (
    df["standard_format"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_isbn.columns = ["standard_format", "count"]
dup_isbn = dup_isbn[dup_isbn["count"] > 1]
dup_isbn

  standard_format  count
0           Ebook  11863
1       Paperback  10777
2       Hardcover  10619
3             NaN   1194
4           Audio    305

In [265]:
df.head(2)

,title_without_series,title,work_id,book_id,publication_year,num_pages,ratings_count,kindle_asin,publisher,authors,format,country_code,series,average_rating,similar_books,image_url,isbn13,is_ebook,text_reviews_count,language_raw,description,link,url,asin,popular_shelves,edition_information,isbn,publication_day,publication_month,publication_date,publication_date_estimate,publisher_standard,language_iso,standard_format
0,"Assassin's Apprentice (Farseer Trilogy, #1)","Assassin's Apprentice (Farseer Trilogy, #1)",171715,12479382,2011,464.0,2037,NaN,Harper Voyager,"{'role': '', 'author_id': '25307'}",NaN,US,"[146510, 607115, 212862, 576243]",4.14,"[618196, 74275, 558681, 12527544, 104089, 91981, 96278, 590349, 61886, 618177, 811161, 589979, 3...",https://images.gr-assets.com/books/1406623170m/12479382.jpg,NaN,True,112,en-GB,"Young Fitz is the bastard son of the noble Prince Chivalry, raised in the shadow of the royal co...",https://www.goodreads.com/book/show/12479382-assassin-s-apprentice,https://www.goodreads.com/book/show/12479382-assassin-s-apprentice,B005JE1K9M,"[{'name': 'to-read', 'count': '1934'}, {'name': 'epic-fantasy', 'count': '492'}, {'name': 'high-...",NaN,NaN,NaN,NaN,2011-01-01,True,Harper Voyager,en,Ebook
1,Seven Eves,Seven Eves,42299347,29457915,2015,867.0,1047,NaN,Harper Collins,"{'role': '', 'author_id': '545'}",Hardcover,US,[],3.98,"[23197269, 25659450, 23533039, 23168809, 23168817, 15985402, 9424053, 20821159, 19367093, 238480...",https://images.gr-assets.com/books/1463823772m/29457915.jpg,NaN,False,146,eng,What would happen if the world were ending?\nA catastrophic event renders the earth a ticking ti...,https://www.goodreads.com/book/show/29457915-seven-eves,https://www.goodreads.com/book/show/29457915-seven-eves,NaN,"[{'name': 'to-read', 'count': '25568'}, {'name': 'science-fiction', 'count': '1975'}, {'name': '...",NaN,9780008132,NaN,NaN,2015-01-01,True,HarperCollins,eng,Hardcover

In [266]:
df.columns

Index(['title_without_series', 'title', 'work_id', 'book_id',
       'publication_year', 'num_pages', 'ratings_count', 'kindle_asin',
       'publisher', 'authors', 'format', 'country_code', 'series',
       'average_rating', 'similar_books', 'image_url', 'isbn13', 'is_ebook',
       'text_reviews_count', 'language_raw', 'description', 'link', 'url',
       'asin', 'popular_shelves', 'edition_information', 'isbn',
       'publication_day', 'publication_month', 'publication_date',
       'publication_date_estimate', 'publisher_standard', 'language_iso',
       'standard_format'],
      dtype='object')

In [267]:
rename_mapping = {
    'title_without_series': 'title_without_series',
    'title': 'title',
    'work_id': 'work_id',
    'book_id': 'book_id',
    'publication_year': 'publication_year',
    'num_pages': 'num_pages',
    'ratings_count': 'ratings_count',
    'kindle_asin': 'kindle_asin',
    'publisher': 'publisher_raw',
    'authors': 'authors',
    'format': 'format_raw',
    'country_code': 'country_code',
    'series': 'series',
    'average_rating': 'avg_rating',
    'similar_books': 'similar_books',
    'image_url': 'image_url',
    'isbn13': 'isbn_13',
    'is_ebook': 'is_ebook',
    'text_reviews_count': 'text_reviews_count',
    'language_raw': 'language_raw',
    'description': 'description',
    'link': 'link',
    'url': 'url',
    'asin': 'child_asin',
    'popular_shelves': 'popular_shelves',
    'edition_information': 'edition',
    'isbn': 'isbn_10',
    'publication_day': 'publication_day',
    'publication_month': 'publication_month',
    'publication_date': 'publication_date',
    'publication_date_estimate': 'publication_estimate',
    'publisher_standard': 'publisher',
    'language_iso': 'lang_iso',
    'standard_format': 'standard_format'
}

# Apply the renaming mapping
df.rename(columns=rename_mapping, inplace=True)

# Check the new standardized column names
print(df.columns.tolist())

['title_without_series', 'title', 'work_id', 'book_id', 'publication_year', 'num_pages', 'ratings_count', 'kindle_asin', 'publisher_raw', 'authors', 'format_raw', 'country_code_raw', 'series', 'avg_rating', 'similar_books', 'image_url', 'isbn_13', 'is_ebook', 'text_reviews_count', 'language_raw', 'description', 'link', 'url', 'child_asin', 'popular_shelves', 'edition', 'isbn_10', 'publication_day', 'publication_month', 'publication_date', 'publication_estimate', 'publisher', 'lang_iso', 'standard_format']

In [268]:
# Save the standardized DataFrame to a CSV file
df.to_csv('./Datasets/2_3_goodreads/goodreads_meta_books_clean.csv', index=False)

#### b) ii) Books Reviews

In [269]:
file_path = "./Datasets/2_3_goodreads/goodreads_reviews_filtered.json" 

df = pd.read_json(file_path, lines = True)

In [270]:
df.head(3)

,review_id,book_id,rating,review_sentences,has_spoiler,timestamp,user_id
0,b8f615d0cfe10cd485217472dca7de9b,929783,3,"[{'text': 'A near-future dystopia, Jack London's The Iron Heel (1908) tells of the transition fr...",False,2008-06-19,bd828f0c290ce2375b452d43052169d9
1,444b4bf21d4cb4099dcd025b0d803150,61898,4,"[{'text': 'I've always liked Bujold, and this one is no exception.', 'flag': '0'}, {'text': 'Her...",False,2009-03-12,59309b297bc476ce712ded8dd14f7d98
2,c853a5a3a34158c2c688ad6ee93abcb6,295649,4,"[{'text': 'I'm not a super fan of pirate fiction, but this was a fun romp (and, given the descri...",False,2009-07-16,f88674738523f5acd4e2e61a7960ede8

##### **Cardinalities**

**Number of Rows**

In [271]:
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 262061

**String Length**

In [273]:
string_stats = {col: string_length_stats(df[col]) for col in df.columns}
print("\nString length statistics per column:")
for col, stats in string_stats.items():
    print(f"{col}: {stats}")

String length statistics per column:
review_id: {'min_length': 32, 'max_length': 32, 'mean_length': 32.0, 'median_length': 32.0}
book_id: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
rating: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
review_sentences: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
has_spoiler: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
timestamp: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
user_id: {'min_length': 32, 'max_length': 32, 'mean_length': 32.0, 'median_length': 32.0}

**Null values per column**

In [275]:
print("\nNull values per column:")
df.isna().mean() * 100

Null values per column:

review_id           0.0
book_id             0.0
rating              0.0
review_sentences    0.0
has_spoiler         0.0
timestamp           0.0
user_id             0.0
dtype: float64

**Distinct values per column**

In [277]:
distinct_values = {col: safe_nunique(df[col]) for col in df.columns}
print("\nDistinct values per column:")
print(distinct_values)

Distinct values per column:
{'review_id': 262061, 'book_id': 12291, 'rating': 6, 'review_sentences': 259969, 'has_spoiler': 2, 'timestamp': 2905, 'user_id': 16864}

**Uniqueness ratio**

(distinct values / total rows) * 100*

In [278]:
uniqueness = {col: (safe_nunique(df[col]) / num_rows) * 100 for col in df.columns}
print("\nUniqueness ratio (in %):")
uniqueness

Uniqueness ratio (in %):

{'review_id': 100.0,
 'book_id': 4.690129397354051,
 'rating': 0.0022895432742758366,
 'review_sentences': 99.20171257836915,
 'has_spoiler': 0.0007631810914252788,
 'timestamp': 1.1085205352952174,
 'user_id': 6.435142962897951}

##### **Info**

Seems data types are already standardised. All timestamp dates are in the same format using **ISO Standard (YYYY-MM-DD)** as we formatted the metadata dataset.

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262061 entries, 0 to 262060
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   review_id         262061 non-null  object
 1   book_id           262061 non-null  int64
 2   rating            262061 non-null  int64
 3   review_sentences  262061 non-null  object
 4   has_spoiler       262061 non-null  bool
 5   timestamp         262061 non-null  datetime64[ns]
 6   user_id           262061 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(2), object(3)
memory usage: 12.2+ MB

**Check for duplicates in this dataset**

Reviews are clean - review_id's are completely unique.

In [279]:
# Duplicate counts for 'review_id'
dup_isbn = (
    df["review_id"]
    .value_counts(dropna=False)
    .reset_index()
)
dup_isbn.columns = ["review_id", "count"]
dup_isbn = dup_isbn[dup_isbn["count"] > 1]
dup_isbn

Empty DataFrame
Columns: [review_id, count]
Index: []

In [280]:
# Assuming df is your DataFrame
mask = df.isin(['', ' ', 0])

# Check if any cell in the DataFrame is either an empty string or 0
if mask.any().any():
    print("There are empty strings or 0 values in the DataFrame.")
else:
    print("There are no empty strings or 0 values in the DataFrame.")

# To see which columns contain these values:
print(mask.any())

There are empty strings or 0 values in the DataFrame.
review_id           False
book_id             False
rating               True
review_sentences    False
has_spoiler          True
timestamp           False
user_id             False
dtype: bool

No empty strings and 0s on relevant columns. On rating and has_spoiler, it was to be expected, so there isn't an issue.

The rest of the columns would be expected to have some level of duplication (the same user posting multiple reviews, books having multiple reviews, reviews being published on the same date, etc...).

In [281]:
def count_value_repeats(df, column):
    """
    Counts how many times each unique value appears in the specified column of a DataFrame.
    
    Parameters:
        df (pd.DataFrame): The input DataFrame.
        column (str): The name of the column to analyze.
    
    Returns:
        pd.DataFrame: A new DataFrame with two columns: the unique values and their repeat counts.
    """
    counts = df[column].value_counts().reset_index()
    counts.columns = [column, "repeat_count"]
    return counts

In [282]:
count_value_repeats(df, "has_spoiler")

   has_spoiler  repeat_count
0        False        244316
1         True         17745

#### b) iii) Book Authors

Quering out authors that did not exist in the meta_books.
before- 829 529 authors
now - 16 570 authors

In [283]:
file_path = "./Datasets/2_3_goodreads/goodreads_book_authors.json" 

df = pd.read_json(file_path, lines = True, encoding="UTF-8")

##### **Cardinalities**

In [284]:
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 16570

**String Length**

In [285]:
string_stats = {col: string_length_stats(df[col]) for col in df.columns}
print("\nString length statistics per column:")
for col, stats in string_stats.items():
    print(f"{col}: {stats}")

String length statistics per column:
ratings_count: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
name: {'min_length': 3, 'max_length': 47, 'mean_length': 13.352866626433313, 'median_length': 13.0}
text_reviews_count: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
author_id: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
average_rating: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}

**Null values per column**

In [286]:
print("\nNull values per column:")
df.isna().mean() * 100

Null values per column:

ratings_count         0.0
name                  0.0
text_reviews_count    0.0
author_id             0.0
average_rating        0.0
dtype: float64

**Distinct values per column**

In [287]:
distinct_values = {col: safe_nunique(df[col]) for col in df.columns}
print("\nDistinct values per column:")
print(distinct_values)

Distinct values per column:
{'ratings_count': 12379, 'name': 16563, 'text_reviews_count': 5691, 'author_id': 16570, 'average_rating': 205}

**Uniqueness ratio**

(distinct values / total rows) * 100*

In [288]:
uniqueness = {col: (safe_nunique(df[col]) / num_rows) * 100 for col in df.columns}
print("\nUniqueness ratio (in %):")
uniqueness

Uniqueness ratio (in %):

{'ratings_count': 74.70730235365117,
 'name': 99.95775497887749,
 'text_reviews_count': 34.345202172601084,
 'author_id': 100.0,
 'average_rating': 1.2371756185878093}

##### **NaN values**
Apparently no NaN values in the dataset.

In [290]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16570 entries, 0 to 16569
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ratings_count       16570 non-null  int64
 1   name                16570 non-null  object
 2   text_reviews_count  16570 non-null  int64
 3   author_id           16570 non-null  int64
 4   average_rating      16570 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 647.4+ KB

In [291]:
df.head()

,ratings_count,name,text_reviews_count,author_id,average_rating
0,0,Vesna Velkovrh Bukilica,0,17287029,0.00
1,0,smyr Hydry,0,17209412,0.00
2,0,tynrjby khmsy,0,16066657,0.00
3,7174,Mariam T. Tennoe,12,13975984,4.33
4,7174,Susan F. Henssonow,12,13975985,4.33

Author names seems to be already standardised and not repeating - its clean.

##### Checking for duplicates - no duplicates were found

In [292]:

duplicate_rows = df[df.duplicated()]
print("Number of duplicate rows:", duplicate_rows.shape[0])
print(duplicate_rows)

# Alternatively, to get a boolean Series indicating duplicates:
duplicates_bool = df.duplicated()
print(duplicates_bool.sum(), "rows are duplicates.")

Number of duplicate rows: 0
Empty DataFrame
Columns: [ratings_count, name, text_reviews_count, author_id, average_rating]
Index: []
0 rows are duplicates.

### c) Goodreads - 2019-2020

**goodreads_2019_2020.csv (~1.5MB)** 

There is an issue with the file's formating. <ins>Instead of only 12 fields some entries have 13. We have to look more closely to fix this issue</ins>.

In [294]:
file_path = "./Datasets/2_3_goodreads/goodreads_2019_2020.csv"

df = pd.read_csv(file_path)

ParserError: Error tokenizing data. C error: Expected 12 fields in line 3350, saw 13

##### Fixing unmatching column number

In [295]:
expected_num_columns = 12
bad_entries = []

with open(file_path, 'r', encoding='utf-8') as f:
    for line_num, line in enumerate(f, start=1):
        # Split the line on commas
        fields = line.strip().split(',')
        if len(fields) != expected_num_columns:
            bad_entries.append((line_num, len(fields), fields))

# Print out the bad entries
for entry in bad_entries:
    line_num, field_count, fields = entry
    print(f"Line {line_num} has {field_count} fields: {fields}")

Line 3350 has 13 fields: ['12224', 'Streetcar Suburbs: The Process of Growth in Boston  1870-1900', 'Sam Bass Warner', ' Jr./Sam B. Warner', '3.58', '0674842111', '9780674842113', 'en-US', '236', '61', '6', '4/20/2004', 'Harvard University Press']
Line 4704 has 13 fields: ['16914', "The Tolkien Fan's Medieval Reader", 'David E. Smith (Turgon of TheOneRing.net', ' one of the founding members of this Tolkien website)/Verlyn Flieger/Turgon (=David E. Smith)', '3.58', '1593600119', '9781593600112', 'eng', '400', '26', '4', '4/6/2004', 'Cold Spring Press']
Line 5879 has 13 fields: ['22128', 'Patriots (The Coming Collapse)', 'James Wesley', ' Rawles', '3.63', '156384155X', '9781563841552', 'eng', '342', '38', '4', '1/15/1999', 'Huntington House Publishers']
Line 8981 has 13 fields: ['34889', "Brown's Star Atlas: Showing All The Bright Stars With Full Instructions How To Find And Use Them For Navigational Purposes And Department Of Trade Examinations.", 'Brown', ' Son & Ferguson', '0.00', '0851742718', '9780851742717', 'eng', '49', '0', '0', '5/1/1977', 'Brown Son & Ferguson Ltd.']

Open the file and check a specific problematic line

In [296]:
with open(file_path, 'r', encoding='utf-8') as f:
    for i, line in enumerate(f, start=1):
        # Check a few rows for demonstration
        if i == 3350:  # Based on the error message (line 3350)
            fields = line.strip().split(',')
            print(f"Line {i} has {len(fields)} fields:")
            for idx, field in enumerate(fields, start=1):
                print(f"Field {idx}: {field}")
            break

Line 3350 has 13 fields:
Field 1: 12224
Field 2: Streetcar Suburbs: The Process of Growth in Boston  1870-1900
Field 3: Sam Bass Warner
Field 4:  Jr./Sam B. Warner
Field 5: 3.58
Field 6: 0674842111
Field 7: 9780674842113
Field 8: en-US
Field 9: 236
Field 10: 61
Field 11: 6
Field 12: 4/20/2004
Field 13: Harvard University Press

**The issue seems to arises because the author's name contains a comma** — "Sam Bass Warner, Jr./Sam B. Warner" — **but it isn’t enclosed in quotes**, <ins>so the CSV parser incorrectly splits it into two separate fields</ins>.

This results in an extra column being detected (13 fields instead of the expected 12) because the comma in the name is interpreted as a field delimiter rather than as part of the data.

**Fixing the Issue**

Making new file to not redo this each run.

In [297]:
input_file = "./Datasets/2_3_goodreads/goodreads_2019_2020.csv"
output_file = "./Datasets/2_3_goodreads/goodreads_2019_2020_fixed.csv"

expected_num_columns = 12  # the expected number of fields per row
fixed_count = 0

with open(input_file, 'r', encoding='utf-8', newline='') as infile, \
     open(output_file, 'w', encoding='utf-8', newline='') as outfile:
    
    reader = csv.reader(infile)
    writer = csv.writer(outfile)
    
    for row in reader:
        if len(row) == expected_num_columns + 1:
            # Increment the counter for bad rows
            fixed_count += 1
            # Merge the third and fourth fields (index 2 and 3)
            merged_field = row[2].strip() + ", " + row[3].strip()
            fixed_row = row[:2] + [merged_field] + row[4:]
            writer.writerow(fixed_row)
        else:
            writer.writerow(row)

print("Number of fixed rows:", fixed_count)

Number of fixed rows: 4

#### !!!! Open fixed File - "goodreads_2019_2020_fixed.csv" !!!!

In [364]:
fixed_file = "./Datasets/2_3_goodreads/goodreads_2019_2020_fixed.csv"

df = pd.read_csv(fixed_file)
df.head(2)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry Potter #6),J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Harry Potter #5),J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.

##### **Cardinalities**

**Row Number**

In [365]:
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 11127

**String Length**

In [366]:
string_stats = {col: string_length_stats(df[col]) for col in df.columns}
print("\nString length statistics per column:")
for col, stats in string_stats.items():
    print(f"{col}: {stats}")

String length statistics per column:
bookID: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
title: {'min_length': 2, 'max_length': 254, 'mean_length': 35.74916868877505, 'median_length': 31.0}
authors: {'min_length': 3, 'max_length': 750, 'mean_length': 24.724364159252268, 'median_length': 17.0}
average_rating: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
isbn: {'min_length': 9, 'max_length': 10, 'mean_length': 9.999910128516222, 'median_length': 10.0}
isbn13: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
language_code: {'min_length': 2, 'max_length': 5, 'mean_length': 3.2928911656331445, 'median_length': 3.0}
  num_pages: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
ratings_count: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
text_reviews_count: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
publication_date: {'min_length': 8, 'max_length': 10, 'mean_length': 8.723914801833379, 'median_length': 9.0}
publisher: {'min_length': 2, 'max_length': 67, 'mean_length': 15.180192324975286, 'median_length': 14.0}

**Null values per column**

In [367]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

print("\nNull values per column (as percentage):")
print(df.isna().mean() * 100)

Null values per column (as percentage):
bookID                0.0
title                 0.0
authors               0.0
average_rating        0.0
isbn                  0.0
isbn13                0.0
language_code         0.0
  num_pages           0.0
ratings_count         0.0
text_reviews_count    0.0
publication_date      0.0
publisher             0.0
dtype: float64

**Distinct values per column**

In [368]:
distinct_values = {col: safe_nunique(df[col]) for col in df.columns}
print("\nDistinct values per column:")
print(distinct_values)

Distinct values per column:
{'bookID': 11127, 'title': 10352, 'authors': 6643, 'average_rating': 209, 'isbn': 11127, 'isbn13': 11127, 'language_code': 27, '  num_pages': 997, 'ratings_count': 5294, 'text_reviews_count': 1822, 'publication_date': 3679, 'publisher': 2292}

**Uniqueness ratio**

(distinct values / total rows) * 100*

In [369]:
uniqueness = {col: (safe_nunique(df[col]) / num_rows) * 100 for col in df.columns}
print("\nUniqueness ratio (in %):")
uniqueness

Uniqueness ratio (in %):

{'bookID': 100.0,
 'title': 93.03496000718971,
 'authors': 59.70162667385639,
 'average_rating': 1.878314010964321,
 'isbn': 100.0,
 'isbn13': 100.0,
 'language_code': 0.24265300620113237,
 '  num_pages': 8.960186932686259,
 'ratings_count': 47.57796351217758,
 'text_reviews_count': 16.37458434438753,
 'publication_date': 33.063718881998746,
 'publisher': 20.598544081962793}

**Apparently no NaN**

In [370]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  int64
 6   language_code       11127 non-null  object
 7     num_pages         11127 non-null  int64
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11127 non-null  object
 11  publisher           11127 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.0+ MB

##### **Examining sample of the 'date' column to see its raw values**

In [371]:
# Example function to identify the date format using regex patterns
def identify_date_format(date_str):
    # Define common patterns with their labels
    patterns = {
        'M/D/YYYY': r'^\d{1,2}/\d{1,2}/\d{4}$',
        'YYYY-MM-DD': r'^\d{4}-\d{2}-\d{2}$'
        # You can add more patterns here if you suspect other formats
    }
    for fmt, regex in patterns.items():
        if re.match(regex, date_str):
            return fmt
    return "Unknown"

# Assume df is your DataFrame
# Ensure the date column is treated as string
df['publication_date'] = df['publication_date'].astype(str)

# Apply the identification function to the 'publication_date' column
df['date_format'] = df['publication_date'].apply(identify_date_format)

# Count the occurrences of each date format
format_counts = df['date_format'].value_counts().reset_index()
format_counts.columns = ['Date Format', 'Count']

format_counts

  Date Format  Count
0    M/D/YYYY  11127

**Seeing if Dates are Valid**

Checking the format of dates does not guarantee that the dates themselves are valid. A date may follow the M/D/YYYY format but still be nonsensical. For example, "31/2/2002" is invalid because there is no month 31, and "2/31/2002" is invalid because February does not have 31 days.

In [372]:
# Convert publication_date to datetime objects, converting invalid dates to NaT.
df['date_parsed'] = pd.to_datetime(df['publication_date'], errors='coerce')

# Create a new column that indicates if a date is valid (True if valid, False if not)
df['is_valid'] = df['date_parsed'].notnull()

# Create and display a summary table of valid vs. invalid dates
valid_counts = df['is_valid'].value_counts().reset_index()
valid_counts.columns = ['Is Valid Date', 'Count']
print("\nSummary of Date Validity:")
valid_counts

Summary of Date Validity:

   Is Valid Date  Count
0           True  11125
1          False      2

**Fixing the two bad entries:**
- 11/31/2000: November only has 30 days, so November 31st is not a valid date.
- 6/31/1982: June has only 30 days, making June 31st invalid.

In [373]:
df[df['date_parsed'].isnull()]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,date_format,date_parsed,is_valid
8180,31373,In Pursuit of the Proper Sinner (Inspector Lynley #10),Elizabeth George,4.10,0553575104,9780553575101,eng,718,10608,295,11/31/2000,Bantam Books,M/D/YYYY,NaT,False
11098,45531,Montaillou village occitan de 1294 à 1324,Emmanuel Le Roy Ladurie/Emmanuel Le Roy-Ladurie,3.96,2070323285,9782070323289,fre,640,15,2,6/31/1982,Folio histoire,M/D/YYYY,NaT,False

Because it was only two entries, we opted to fix them manually by searching their isbn:

In [374]:
df[df["publication_date"] == "11/31/2000"] # Octorber 31, 2000

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,date_format,date_parsed,is_valid
8180,31373,In Pursuit of the Proper Sinner (Inspector Lynley #10),Elizabeth George,4.1,0553575104,9780553575101,eng,718,10608,295,11/31/2000,Bantam Books,M/D/YYYY,NaT,False

In [375]:
df[df["publication_date"] == "6/31/1982"] # June 1, 2000

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,date_format,date_parsed,is_valid
11098,45531,Montaillou village occitan de 1294 à 1324,Emmanuel Le Roy Ladurie/Emmanuel Le Roy-Ladurie,3.96,2070323285,9782070323289,fre,640,15,2,6/31/1982,Folio histoire,M/D/YYYY,NaT,False

Making a new column "date_parsed_iso" in **ISO 8601 format**.

ISO 8601 is an international standard for **representing dates and times in a clear, consistent, and unambiguous way**. 

- It uses a numeric format like `YYYY-MM-DD` for dates and extends to times by separating the date and time with a "T" (e.g., `YYYY-MM-DDTHH:MM:SS`).

This format is widely adopted because it sorts naturally and minimizes confusion across different regions and systems.

In [376]:
# Convert publication_date to datetime objects; invalid dates become NaT.
df['date_parsed'] = pd.to_datetime(df['publication_date'], errors='coerce')

# Correct the invalid dates in the date_parsed column:
df.loc[df["publication_date"] == "11/31/2000", "date_parsed"] = pd.to_datetime("10/31/2000")
df.loc[df["publication_date"] == "6/31/1982", "date_parsed"] = pd.to_datetime("6/1/2000")

# Create a new column with the ISO format (YYYY-MM-DD) of the valid dates
df['date_parsed_iso'] = df['date_parsed'].dt.strftime('%Y-%m-%d')

# Instead of filtering using strings, convert the list of dates to datetime objects:
dates_to_check = pd.to_datetime(["10/31/2000", "6/1/2000"])

# Filter rows where date_parsed matches one of these dates
filtered_df = df[df["date_parsed"].isin(dates_to_check)]

In [377]:
df = df.drop(columns=['date_parsed', 'date_format', 'is_valid' ])

df[df["bookID"].isin([45531, 31373])]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,date_parsed_iso
8180,31373,In Pursuit of the Proper Sinner (Inspector Lynley #10),Elizabeth George,4.10,0553575104,9780553575101,eng,718,10608,295,11/31/2000,Bantam Books,2000-10-31
11098,45531,Montaillou village occitan de 1294 à 1324,Emmanuel Le Roy Ladurie/Emmanuel Le Roy-Ladurie,3.96,2070323285,9782070323289,fre,640,15,2,6/31/1982,Folio histoire,2000-06-01

In [378]:
df[['date_parsed_iso']].head(10)

  date_parsed_iso
0      2006-09-16
1      2004-09-01
2      2003-11-01
3      2004-05-01
4      2004-09-13
5      2005-04-26
6      2005-09-12
7      2005-11-01
8      2002-04-30
9      2004-08-03

##### **"authors"**
Entries seem to be able to have multiple authors let's see if we can fix that.

Some entries seem to have multiple authors split by "/". Let's fix that making "authors" have as values lists of author names.

**Splitting "authors" column values**

In [379]:
def split_authors(author_str):
    # Split by '/' and remove extra spaces around each author
    return [a.strip() for a in author_str.split('/')]

# Apply the function to the 'author' column
df['authors'] = df['authors'].apply(split_authors)

df.head(4)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,date_parsed_iso
0,1,Harry Potter and the Half-Blood Prince (Harry Potter #6),"[J.K. Rowling, Mary GrandPré]",4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,2006-09-16
1,2,Harry Potter and the Order of the Phoenix (Harry Potter #5),"[J.K. Rowling, Mary GrandPré]",4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,2004-09-01
2,4,Harry Potter and the Chamber of Secrets (Harry Potter #2),[J.K. Rowling],4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic,2003-11-01
3,5,Harry Potter and the Prisoner of Azkaban (Harry Potter #3),"[J.K. Rowling, Mary GrandPré]",4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,2004-05-01

In [380]:
# Create a new column that joins the list of authors into a single string (if not already a string)
df['authors_joined'] = df['authors'].apply(lambda x: "/".join(x) if isinstance(x, list) else x)

# Create a column with the length of the joined authors string
df['authors_length'] = df['authors_joined'].apply(lambda x: len(x) if isinstance(x, str) else 0)

# Sort the DataFrame by authors_length in descending order and display the top rows
highest_length_authors = df.sort_values('authors_length', ascending=False)[['authors_joined', 'authors_length']]
highest_length_authors.head()

,authors_joined,authors_length
9870,Garrison Keillor/Charles Bukowski/Robert Burns/Hayden Carruth/Raymond Carver/Billy Collins/Noël ...,750
8139,Nicholas Dawidoff/Ernest Lawrence Thayer/Jacques Barzun/Robert Frost/John Updike/Leroy Satchel P...,571
2566,Plato/John M. Cooper/Benjamin Jowett/Dorothea Frede/Alexander Nehamas/Paul Woodruff/Anthony Kenn...,540
8736,James Patterson/Ted Bell/Raelynn Hillhouse/Gregg Hurwitz/Alex Kava/J.A. Konrath/John Lescroart/D...,461
9998,Orson Scott Card/Isaac Asimov/William Gibson/Michael Swanwick/Theodore Sturgeon/Larry Niven/Robe...,441

Some books are colections of texts/ poetry from many different authors.

In [381]:
# Sort the DataFrame by authors_length in descending order and select the top rows
highest_length_authors = df.sort_values('authors_length', ascending=False).head(10)

# Display the title, joined authors, and the authors_length for these entries
highest_length_authors[['title','isbn', 'isbn13', 'authors_joined', 'authors_length']]

,title,isbn,isbn13,authors_joined,authors_length
9870,Good Poems for Hard Times,0143037676,9780143037675,Garrison Keillor/Charles Bukowski/Robert Burns/Hayden Carruth/Raymond Carver/Billy Collins/Noël ...,750
8139,Baseball: a Literary Anthology,193108209X,9781931082099,Nicholas Dawidoff/Ernest Lawrence Thayer/Jacques Barzun/Robert Frost/John Updike/Leroy Satchel P...,571
2566,Plato: Complete Works,0872203492,9780872203495,Plato/John M. Cooper/Benjamin Jowett/Dorothea Frede/Alexander Nehamas/Paul Woodruff/Anthony Kenn...,540
8736,Thriller: Stories To Keep You Up All Night,0778322998,9780778322993,James Patterson/Ted Bell/Raelynn Hillhouse/Gregg Hurwitz/Alex Kava/J.A. Konrath/John Lescroart/D...,461
9998,Masterpieces: The Best Science Fiction of the Twentieth Century,0441011330,9780441011339,Orson Scott Card/Isaac Asimov/William Gibson/Michael Swanwick/Theodore Sturgeon/Larry Niven/Robe...,441
10689,The Best American Comics 2006,0618718745,9780618718740,Harvey Pekar/Anne Elizabeth Moore/Esther Pearl Watson/Lilli Carré/Robert Crumb/Chris Ware/Kim De...,428
10158,Modern Classics of Science Fiction,0312088477,9780312088477,Gardner Dozois/Damon Knight/R.A. Lafferty/Samuel R. Delany/Brian W. Aldiss/Gene Wolfe/Joanna Rus...,396
8921,The Flying Sorcerers: More Comic Tales of Fantasy,1857237250,9781857237252,Peter Haining/Roald Dahl/Terry Pratchett/Angela Carter/Arthur C. Clarke/Kurt Vonnegut Jr./C.S. L...,384
2101,A Portrait of the Artist As a Young Man,0393926796,9780393926798,James Joyce/Walter Hettche/Hans Walter Gabler/John Paul Riquelme/John Mitchel/Michael Davitt/Can...,372
2022,Key Topics in Conservation Biology,1405122498,9781405122498,David W. Macdonald/Alonzo C. Addison/Sandra Baker/Mark S. Boyce/David Brown/Stephen Cobb/N. Mark...,361

Make new column "author", with the first of the author on the "authors" column (seems that the first is always the main one, other are sometimes artists, voice actors, etc. STILL keeping "authors" column

In [382]:
# Create a new column "author" that takes the first author from the "authors" column
df['author'] = df['authors'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else np.nan)

# Display the first few rows to verify the new column
print(df[['authors', 'author']].head())

                         authors        author
0  [J.K. Rowling, Mary GrandPré]  J.K. Rowling
1  [J.K. Rowling, Mary GrandPré]  J.K. Rowling
2                 [J.K. Rowling]  J.K. Rowling
3  [J.K. Rowling, Mary GrandPré]  J.K. Rowling
4  [J.K. Rowling, Mary GrandPré]  J.K. Rowling

**Standardize Author**

Seems to have fixed some little issues.

In [383]:
merged_groups = get_standardized_groups(df, 'author', threshold=92, scorer=fuzz.ratio)
print("Potential standardized groups:")
for group in merged_groups[:10]:
    print(group)

Potential standardized groups:
{'J.K. Rowling'}
{'W. Frederick Zimmerman'}
{'Douglas Adams'}
{'Bill Bryson', 'Bill  Bryson'}
{'J.R.R. Tolkien'}
{'Chris   Smith'}
{'Jude Fisher'}
{'Dave Thomas'}
{'Gary Paulsen'}
{'Donna Ickes'}

In [384]:
freq = df['author'].value_counts().to_dict()

# mapping dictionary
mapping = {}
for group in merged_groups:
    canonical = max(group, key=lambda x: freq.get(x, 0))
    for pub in group:
        mapping[pub] = canonical

for pub in unique_publishers:
    if pub not in mapping:
        mapping[pub] = pub


df['author_standard'] = df['author'].map(lambda x: mapping.get(x, x))

print("\nStandardized author names added to DataFrame:")
df[['author', 'author_standard']].head(10)

Standardized author names added to DataFrame:

                   author         author_standard
0            J.K. Rowling            J.K. Rowling
1            J.K. Rowling            J.K. Rowling
2            J.K. Rowling            J.K. Rowling
3            J.K. Rowling            J.K. Rowling
4            J.K. Rowling            J.K. Rowling
5  W. Frederick Zimmerman  W. Frederick Zimmerman
6            J.K. Rowling            J.K. Rowling
7           Douglas Adams           Douglas Adams
8           Douglas Adams           Douglas Adams
9           Douglas Adams           Douglas Adams

##### **"language_code"**

Seems to be all right and similar to the prior Goodreads 2017 format.

In [385]:
import pycountry

# Get unique language codes from the DataFrame (drop null values)
unique_language_codes = df['language_code'].dropna().unique()
print("Unique language codes from data:", unique_language_codes)

# Check each code to see if it is a valid ISO 3166-1 alpha-2 language code.
valid_codes = []
invalid_codes = []

for code in unique_language_codes:
    # Attempt to retrieve language information using alpha-2 code
    language = pycountry.languages.get(alpha_2=code)
    if language is None:
        # If not found using alpha-2, try with alpha_3 as a fallback (if you expect 3-letter codes)
        language = pycountry.languages.get(alpha_3=code)
    if language:
        valid_codes.append(code)
    else:
        invalid_codes.append(code)

print("Valid ISO language codes:", valid_codes)
print("Invalid ISO language codes:", invalid_codes)

Unique language codes from data: ['eng' 'en-US' 'fre' 'spa' 'en-GB' 'mul' 'grc' 'enm' 'en-CA' 'ger' 'jpn'
 'ara' 'nl' 'zho' 'lat' 'por' 'srp' 'ita' 'rus' 'msa' 'glg' 'wel' 'swe'
 'nor' 'tur' 'gla' 'ale']
Valid ISO language codes: ['eng', 'spa', 'mul', 'grc', 'enm', 'jpn', 'ara', 'nl', 'zho', 'lat', 'por', 'srp', 'ita', 'rus', 'msa', 'glg', 'swe', 'nor', 'tur', 'gla', 'ale']
Invalid ISO language codes: ['en-US', 'fre', 'en-GB', 'en-CA', 'ger', 'wel']

In [387]:
df.rename(columns={'language_code': 'language_raw'}, inplace=True)

# Define a mapping for problematic codes to their ISO 639-1 equivalents
corrections = {
    'en-GB': 'en',
    'en-US': 'en',
    'en-CA': 'en',
    'rum': 'ro',   # Romanian
    'per': 'fa',   # Persian/Farsi
    'fre': 'fr',   # French
    'ger': 'de',   # German
    'cze': 'cs',   # Czech
    'slo': 'sk',   # Slovak
    'gre': 'el',   # Greek
    'es-MX': 'es',  # Mexican Spanish → generic Spanish
    'wel': 'cy'     # Welsh (ISO 639-1: "cy")
}

def correct_language_code(code):
    if not isinstance(code, str):
        return None
    # If the code contains a hyphen, use only the base language part
    if '-' in code:
        code = code.split('-')[0]
    # Apply corrections if the code is in our mapping
    return corrections.get(code, code)

# Create a new column "language_iso" with the corrected ISO codes
df['lang_iso'] = df['language_raw'].apply(correct_language_code)

# Optionally, validate the new codes using pycountry
def validate_iso(code):
    if not code:
        return False
    language = pycountry.languages.get(alpha_2=code)
    if language is None:
        language = pycountry.languages.get(alpha_3=code)
    return language is not None

invalid_iso = df.loc[~df['lang_iso'].apply(validate_iso), 'lang_iso'].unique()
print("Invalid ISO language codes after correction:", invalid_iso)

# Display the original and corrected language columns
print(df[['language_raw', 'lang_iso']].head())

Invalid ISO language codes after correction: []
  language_raw lang_iso
0          eng      eng
1          eng      eng
2          eng      eng
3          eng      eng
4          eng      eng

##### **Standardise/ Harmonise "publisher" categorical values with Rapidfuzz**

In [388]:
merged_groups = get_standardized_groups(df, 'publisher', threshold=90, scorer=fuzz.ratio)
print("Potential standardized groups:")
for group in merged_groups[:10]:
    print(group)

Potential standardized groups:
{'Scholastic  Inc.', 'Scholastic Inc', 'Scholastic Inc.'}
{'Scholastic'}
{'Nimble Books'}
{'Gramercy Books'}
{'Del Rey Books'}
{'Crown'}
{'Random House Audio'}
{'Wings Books'}
{'Broadway Books'}
{'William Morrow Paperbacks'}

In [389]:
freq = df['publisher'].value_counts().to_dict()

# mapping dictionary
mapping = {}
for group in merged_groups:
    canonical = max(group, key=lambda x: freq.get(x, 0))
    for pub in group:
        mapping[pub] = canonical

for pub in unique_publishers:
    if pub not in mapping:
        mapping[pub] = pub


df['publisher_standard'] = df['publisher'].map(lambda x: mapping.get(x, x))

print("\nStandardized publisher names added to DataFrame:")
df[['publisher', 'publisher_standard']].head(10)

Standardized publisher names added to DataFrame:

         publisher publisher_standard
0  Scholastic Inc.    Scholastic Inc.
1  Scholastic Inc.    Scholastic Inc.
2       Scholastic         Scholastic
3  Scholastic Inc.    Scholastic Inc.
4       Scholastic         Scholastic
5     Nimble Books       Nimble Books
6       Scholastic         Scholastic
7   Gramercy Books     Gramercy Books
8    Del Rey Books      Del Rey Books
9            Crown              Crown

In [390]:
df.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_raw', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher', 'date_parsed_iso', 'authors_joined',
       'authors_length', 'author', 'author_standard', 'lang_iso',
       'publisher_standard'],
      dtype='object')

In [391]:
df.drop(columns=['authors_joined', 'authors_length', 'author'], inplace=True)

In [392]:
rename_mapping = {
    'bookID': 'incremented_id',
    'title': 'title',
    'authors': 'authors',
    'average_rating': 'avg_rating',
    'isbn': 'isbn_10',
    'isbn13': 'isbn_13',
    'language_raw': 'language_raw',
    '  num_pages': 'num_pages',  # Remove extra spaces
    'ratings_count': 'ratings_count',
    'text_reviews_count': 'text_reviews_count',
    'publication_date': 'publication_date_raw',
    'publisher': 'publisher_raw',
    'author_standard': 'author_standard',
    'lang_iso': 'lang_iso',
    'publisher_standard': 'publisher'
}

In [393]:
df.to_csv('./Datasets/2_3_goodreads/goodreads_2019_2020_fixed_clean.csv', index=False)

### d)  Book‑Crossing Community

#### d) i) BookCrossing Books

In [394]:
file_path = "./Datasets/4_bookcrossing/book_crossing_Books.csv"

df = pd.read_csv(file_path)

/var/folders/dd/q59hq4f165zf1s43dyw9y7d80000gn/T/ipykernel_57802/43527700.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

**Check what is really causing this issue!**

Seems that some date are being taken as NUMERIC and others as STR. Later well convert them to unix time though. We played around with the acceptable range of valid years to see the issue.

- 4621 entries/ rows have **0** has their 'Year-Of-Publication'.
- 12 entries/ rows with **years ahead of 2025** have their 'Year-Of-Publication', which is implausible since this dataset was published in 2024.
- 3 entries/ rows have an issue with their structuring - The titles contain extra escaped quotes (\") and semicolons (;) that appear to be artefacts from the export process. This induced the titles to not be properly parsed during data extraction with pandas, the supposed 'Book-Author' values to be fused with "Book-Title" values, and consequently the other values to be moved to the incorrect column.

In [414]:
file_path = "./Datasets/4_bookcrossing/book_crossing_Books.csv"
df = pd.read_csv(file_path, low_memory=False)

In [415]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

##### **Cardinalities**

**Row Number**

In [400]:
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 271360

**String Length**

By these we can tell there are a few ibsn_13 but the majority is isbn_10 (10 digits).

In [401]:
string_stats = {col: string_length_stats(df[col]) for col in df.columns}
print("\nString length statistics per column:")
for col, stats in string_stats.items():
    print(f"{col}: {stats}")

String length statistics per column:
ISBN: {'min_length': 10, 'max_length': 13, 'mean_length': 10.000036851415095, 'median_length': 10.0}
Book-Title: {'min_length': 1, 'max_length': 256, 'mean_length': 37.83116892688679, 'median_length': 32.0}
Book-Author: {'min_length': 1, 'max_length': 143, 'mean_length': 13.950920923650676, 'median_length': 13.0}
Year-Of-Publication: {'min_length': 1, 'max_length': 17, 'mean_length': 3.9490602889150943, 'median_length': 4.0}
Publisher: {'min_length': 1, 'max_length': 134, 'mean_length': 15.903223785552665, 'median_length': 14.0}
Image-URL-S: {'min_length': 60, 'max_length': 60, 'mean_length': 60.0, 'median_length': 60.0}
Image-URL-M: {'min_length': 60, 'max_length': 60, 'mean_length': 60.0, 'median_length': 60.0}
Image-URL-L: {'min_length': 60, 'max_length': 60, 'mean_length': 60.0, 'median_length': 60.0}

**Null values per column**

In [402]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

print("\nNull values per column (as percentage):")
print(df.isna().mean() * 100)

Null values per column (as percentage):
ISBN                   0.000000
Book-Title             0.000000
Book-Author            0.000737
Year-Of-Publication    0.000000
Publisher              0.000737
Image-URL-S            0.000000
Image-URL-M            0.000000
Image-URL-L            0.001106
dtype: float64

**Distinct values per column**

In [403]:
distinct_values = {col: safe_nunique(df[col]) for col in df.columns}
print("\nDistinct values per column:")
print(distinct_values)

Distinct values per column:
{'ISBN': 271360, 'Book-Title': 242135, 'Book-Author': 102022, 'Year-Of-Publication': 118, 'Publisher': 16807, 'Image-URL-S': 271044, 'Image-URL-M': 271044, 'Image-URL-L': 271041}

**Uniqueness ratio**

(distinct values / total rows) * 100*

In [404]:
uniqueness = {col: (safe_nunique(df[col]) / num_rows) * 100 for col in df.columns}
print("\nUniqueness ratio (in %):")
uniqueness

Uniqueness ratio (in %):

{'ISBN': 100.0,
 'Book-Title': 89.23017393867924,
 'Book-Author': 37.59655070754717,
 'Year-Of-Publication': 0.04348466981132076,
 'Publisher': 6.193617334905661,
 'Image-URL-S': 99.88354952830188,
 'Image-URL-M': 99.88354952830188,
 'Image-URL-L': 99.88244398584905}

In [405]:
df.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg

In [423]:
df['Year-Of-Publication_clean'] = df['Year-Of-Publication'].astype(str).str.strip()
df['Year_numeric'] = pd.to_numeric(df['Year-Of-Publication'], errors='coerce')

# Define a plausible range for valid years. Adjust min_year as needed. (some of this dates feel wrong)
min_year = 1
max_year = 3000

invalid_years = df[
    (df['Year_numeric'].isna()) |
    (df['Year_numeric'] < min_year) |
    (df['Year_numeric'] > max_year)
]

print("Entries with invalid Year-Of-Publication:")
invalid_years[['Year-Of-Publication', 'Year-Of-Publication_clean', 'Year_numeric']]

Entries with invalid Year-Of-Publication:

       Year-Of-Publication Year-Of-Publication_clean  Year_numeric
176                      0                         0             0
188                      0                         0             0
288                      0                         0             0
351                      0                         0             0
542                      0                         0             0
...                    ...                       ...           ...
270794                   0                         0             0
270913                   0                         0             0
271094                   0                         0             0
271182                   0                         0             0
271196                   0                         0             0

[4618 rows x 3 columns]

Turn them to null

In [424]:
# Mark invalid year entries (e.g., year 0) as NaN
df.loc[df['Year_numeric'] < min_year, 'Year_numeric'] = np.nan

In [417]:
df['Year-Of-Publication_clean'] = df['Year-Of-Publication'].astype(str).str.strip()
df['Year_numeric'] = pd.to_numeric(df['Year-Of-Publication_clean'], errors='coerce')

# Define a plausible range for valid years. Adjust min_year as needed. (some of this dates feel wrong)
min_year = 0
max_year = 2024 # this dataset was published in 2024

invalid_years = df[
    (df['Year_numeric'].isna()) |
    (df['Year_numeric'] < min_year) |
    (df['Year_numeric'] > max_year)
]

print("Entries with invalid Year-Of-Publication:")
invalid_years[['Year-Of-Publication', 'Year-Of-Publication_clean', 'Year_numeric']]

Entries with invalid Year-Of-Publication:

       Year-Of-Publication Year-Of-Publication_clean  Year_numeric
37487                 2030                      2030        2030.0
55676                 2030                      2030        2030.0
78168                 2030                      2030        2030.0
80264                 2050                      2050        2050.0
97826                 2050                      2050        2050.0
116053                2038                      2038        2038.0
118294                2026                      2026        2026.0
192993                2030                      2030        2030.0
209538   DK Publishing Inc         DK Publishing Inc           NaN
220731           Gallimard                 Gallimard           NaN
221678   DK Publishing Inc         DK Publishing Inc           NaN
228173                2030                      2030        2030.0
240169                2030                      2030        2030.0
255409                2037                      2037        2037.0
260974                2030                      2030        2030.0

In [418]:
selected_titles = df.loc[[209538, 220731, 221678], 'Book-Title']
for idx, title in selected_titles.items():
    print(f"Index {idx}:")
    print(title)
    print()

df.loc[[209538, 220731, 221678]]

Index 209538:
DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\";Michael Teitelbaum"

Index 220731:
Peuple du ciel, suivi de 'Les Bergers\";Jean-Marie Gustave Le ClÃ?Â©zio"

Index 221678:
DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\";James Buckley"

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Year-Of-Publication_clean,Year_numeric
209538,078946697X,"DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\"";Michael Teitelb...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg,NaN,DK Publishing Inc,NaN
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-Marie Gustave Le ClÃ?Â©zio""",2003,Gallimard,http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg,NaN,Gallimard,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\"";Jam...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg,NaN,DK Publishing Inc,NaN

#####  Define a function to fix the fused Book-Title field.

It expects **the problematic pattern '";'** (an escaped quote followed by a semicolon)

In [419]:
import pandas as pd
import numpy as np

if "Book-Author" not in df.columns:
    df.insert(2, "Book-Author", np.nan)

def fix_title_and_author(fused_value):
    if '";' in fused_value:
        # Split on the problematic pattern
        parts = fused_value.split('";')
        # Remove extra quotes and whitespace from both parts
        title = parts[0].replace('"', '').strip()
        author = parts[1].replace('"', '').strip() if len(parts) > 1 else ''
        return pd.Series([title, author])
    else:
        return pd.Series([fused_value, None])

# Define the ISBNs of the rows to fix
problematic_isbns = ["078946697X", "2070426769", "0789466953"]

# Create a mask for the problematic rows
mask = df['ISBN'].isin(problematic_isbns)

for idx in df.loc[mask].index:
    row = df.loc[idx].copy()
    
    # Apply the fix function
    fixed_title, fixed_author = fix_title_and_author(row['Book-Title'])
    lost_year = row['Book-Author']
    
    # Shift the remaining columns one position to the right:
    df.at[idx, 'Year-Of-Publication'] = lost_year
    df.at[idx, 'Publisher'] = row['Year-Of-Publication']
    df.at[idx, 'Image-URL-S'] = row['Publisher']
    df.at[idx, 'Image-URL-M'] = row['Image-URL-S']
    df.at[idx, 'Image-URL-L'] = row['Image-URL-M']
    df.at[idx, 'Year-Of-Publication_clean'] = row['Image-URL-L']
    # Convert the value to numeric (non-numeric values will become NaN)
    df.at[idx, 'Year_numeric'] = pd.to_numeric(row['Year-Of-Publication_clean'], errors='coerce')

    # Update
    df.at[idx, 'Book-Title'] = fixed_title
    df.at[idx, 'Book-Author'] = fixed_author

In [ ]:
# Now, when you print the problematic rows, the values remain in their proper columns.
df.drop(columns=['Year-Of-Publication_clean', 'Year_numeric'], inplace=True)

In [425]:
df.loc[mask]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Year-Of-Publication_clean,Year_numeric
209538,078946697X,"DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\",Michael Teitelbaum,2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg,2000,2000.0
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\",Jean-Marie Gustave Le ClÃ?Â©zio,2003,Gallimard,http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg,2003,2003.0
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\",James Buckley,2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg,2000,2000.0

##### **Check for NaN**

In [426]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ISBN                       271360 non-null  object
 1   Book-Title                 271360 non-null  object
 2   Book-Author                271358 non-null  object
 3   Year-Of-Publication        271360 non-null  object
 4   Publisher                  271358 non-null  object
 5   Image-URL-S                271360 non-null  object
 6   Image-URL-M                271360 non-null  object
 7   Image-URL-L                271360 non-null  object
 8   Year-Of-Publication_clean  271360 non-null  object
 9   Year_numeric               266742 non-null  float64
dtypes: float64(1), object(9)
memory usage: 20.7+ MB

In [427]:
missing_values_count = df.isnull().sum()

missing_values_count

ISBN                            0
Book-Title                      0
Book-Author                     2
Year-Of-Publication             0
Publisher                       2
Image-URL-S                     0
Image-URL-M                     0
Image-URL-L                     0
Year-Of-Publication_clean       0
Year_numeric                 4618
dtype: int64

In [428]:
df[df["Book-Author"].isnull()]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Year-Of-Publication_clean,Year_numeric
118033,0751352497,A+ Quiz Masters:01 Earth,NaN,1999,Dorling Kindersley,http://images.amazon.com/images/P/0751352497.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0751352497.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0751352497.01.LZZZZZZZ.jpg,1999,1999.0
187689,9627982032,The Credit Suisse Guide to Managing Your Personal Wealth,NaN,1995,Edinburgh Financial Publishing,http://images.amazon.com/images/P/9627982032.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/9627982032.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/9627982032.01.LZZZZZZZ.jpg,1995,1995.0

In [429]:
df[df["Publisher"].isnull()]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Year-Of-Publication_clean,Year_numeric
128890,193169656X,Tyrant Moon,Elaine Corvidae,2002,NaN,http://images.amazon.com/images/P/193169656X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/193169656X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/193169656X.01.LZZZZZZZ.jpg,2002,2002.0
129037,1931696993,Finders Keepers,Linnea Sinclair,2001,NaN,http://images.amazon.com/images/P/1931696993.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/1931696993.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/1931696993.01.LZZZZZZZ.jpg,2001,2001.0

- NovelBooks, Inc.
- CreateSpace Independent Publishing Platform.

In [430]:
publisher_corrections = {
    "193169656X": "NovelBooks, Inc.",
    "1931696993": "CreateSpace Independent Publishing Platform."
}

# Update the Publisher column for the specified ISBNs
for isbn, new_publisher in publisher_corrections.items():
    df.loc[df['ISBN'] == isbn, 'Publisher'] = new_publisher

# Verify the update by displaying the fixed entries
fixed_entries = df.loc[df['ISBN'].isin(publisher_corrections.keys()), 
                       ['ISBN', 'Book-Title', 'Book-Author', 'Publisher']]

In [431]:
fixed_entries

,ISBN,Book-Title,Book-Author,Publisher
128890,193169656X,Tyrant Moon,Elaine Corvidae,"NovelBooks, Inc."
129037,1931696993,Finders Keepers,Linnea Sinclair,CreateSpace Independent Publishing Platform.

##### **RapidFuzz to Harmonise categoricals - String Similarity Algorithm**  

**"Publisher" column**

Seems to be alright

In [432]:
merged_groups = get_standardized_groups(df, 'Publisher', threshold=90, scorer=fuzz.ratio)
print("Potential standardized groups:")
for group in merged_groups[:10]:
    print(group)

Potential standardized groups:
{'Oxford University Press'}
{'HarperFlamingo Canada'}
{'Harper Perennial', 'Harperperennial', 'HarperPerennial'}
{'Farrar, Straus, Giroux', 'Farrar, Straus Giroux', 'Farrar, Straus and Giroux', 'Farrar Straus Giroux'}
{'W. W. Norton &amp; Company', 'W.W. Norton &amp; Company Ltd', 'W.W. Norton &amp; Company'}
{'Putnam Pub Group'}
{'Berkley Publishing Group', 'The Berkley Publishing Group', 'Berkeley Publishing Group'}
{'Audioworks'}
{'Randon House', 'Random House'}
{'Scribner', 'Scribners', "Scribner's"}

In [433]:
# frequency for each publisher
freq = df['Publisher'].value_counts().to_dict()

# mapping dictionary
mapping = {}
for group in merged_groups:
    # Choose the publisher with the highest frequency in this group
    canonical = max(group, key=lambda x: freq.get(x, 0))
    for pub in group:
        mapping[pub] = canonical

# If it alone, it keeps its name obvi
for pub in unique_publishers:
    if pub not in mapping:
        mapping[pub] = pub

# standardized publisher column in the DataFrame using the mapping, add not removing 
df['publisher_standard'] = df['Publisher'].map(lambda x: mapping.get(x, x))

print("\nStandardized publisher names added to DataFrame:")
df.head(2)

Standardized publisher names added to DataFrame:

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Year-Of-Publication_clean,Year_numeric,publisher_standard
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg,2002,2002.0,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg,2001,2001.0,HarperFlamingo Canada

**"Book_Author"** column

In [434]:
# Get the counts for each author
author_counts = df['Book-Author'].value_counts()

# Filter for authors that appear more than once
duplicates = author_counts[author_counts > 1]
duplicates

Book-Author
Agatha Christie        632
William Shakespeare    567
Stephen King           524
Ann M. Martin          423
Carolyn Keene          373
                      ...
Peter H. Irons           2
Don G. Campbell          2
Karin Goodwin            2
John Rigby Hale          2
Bob Harris               2
Name: count, Length: 33629, dtype: int64

In [435]:
df.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Year-Of-Publication_clean,Year_numeric,publisher_standard
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg,2002,2002.0,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg,2001,2001.0,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg,1991,1991.0,HarperPerennial

##### **ISBN Column**

Splicing isbn into two new columns, "isbn_10" and "isbn_13", by checking the length of the values in the existing isbn column. Only string values with exactly 10 or 13 characters are kept in their respective columns; others are set to NaN.

In [438]:
df['ISBN'] = df['ISBN'].astype(str).str.strip()

df['isbn_10'] = df['ISBN'].apply(lambda x: x if len(x) == 10 else np.nan)
df['isbn_13'] = df['ISBN'].apply(lambda x: x if len(x) == 13 else np.nan)

df[['ISBN', 'isbn_10', 'isbn_13']].head()

         ISBN     isbn_10 isbn_13
0  0195153448  0195153448     NaN
1  0002005018  0002005018     NaN
2  0060973129  0060973129     NaN
3  0374157065  0374157065     NaN
4  0393045218  0393045218     NaN

In [439]:
df.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L',
       'Year-Of-Publication_clean', 'Year_numeric', 'publisher_standard',
       'isbn_10', 'isbn_13'],
      dtype='object')

In [440]:

rename_mapping = {
    'ISBN': 'isbn',
    'Book-Title': 'book_title',
    'Book-Author': 'book_author',
    'Year-Of-Publication': 'year_of_publication',
    'Publisher': 'publisher_raw',
    'Image-URL-S': 'image_url_s',
    'Image-URL-M': 'image_url_m',
    'Image-URL-L': 'image_url_l',
    'Year-Of-Publication_clean': 'publication_year',
    'Year_numeric': 'year_numeric',
    'publisher_standard': 'publisher',
    'isbn_10': 'isbn_10',
    'isbn_13': 'isbn_13'
}

# Apply the renaming mapping to the DataFrame
df.rename(columns=rename_mapping, inplace=True)

# Display the new standardized column names
df.columns.tolist()

['isbn', 'book_title', 'book_author', 'year_of_publication', 'publisher_raw', 'image_url_s', 'image_url_m', 'image_url_l', 'publication_year', 'year_numeric', 'publisher', 'isbn_10', 'isbn_13']

In [441]:
df.to_csv('./Datasets/4_bookcrossing/book_crossing_Books_clean.csv', index=False)

#### d) ii) BookCrossing Ratings

In [452]:
df = pd.read_csv("./Datasets/4_bookcrossing/book_crossing_Ratings.csv")

df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

##### **Cardinalities**

**Row Number**
There are wrong ISBNs neither 10 nor 13 digits.

In [455]:
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 1149780

**String Length**

By these we can tell there are a few ibsn_13 but the majority is isbn_10 (10 digits).

In [456]:
string_stats = {col: string_length_stats(df[col]) for col in df.columns}
print("\nString length statistics per column:")
for col, stats in string_stats.items():
    print(f"{col}: {stats}")

String length statistics per column:
User-ID: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
ISBN: {'min_length': 8, 'max_length': 14, 'mean_length': 10.002014298387518, 'median_length': 10.0}
Book-Rating: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}

**Null values per column**

In [457]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

print("\nNull values per column (as percentage):")
print(df.isna().mean() * 100)

Null values per column (as percentage):
User-ID        0.0
ISBN           0.0
Book-Rating    0.0
dtype: float64

**Distinct values per column**

In [458]:
distinct_values = {col: safe_nunique(df[col]) for col in df.columns}
print("\nDistinct values per column:")
print(distinct_values)

Distinct values per column:
{'User-ID': 105283, 'ISBN': 340556, 'Book-Rating': 11}

**Uniqueness ratio**

(distinct values / total rows) * 100*

In [459]:
uniqueness = {col: (safe_nunique(df[col]) / num_rows) * 100 for col in df.columns}
print("\nUniqueness ratio (in %):")
uniqueness

Uniqueness ratio (in %):

{'User-ID': 9.156795212997269,
 'ISBN': 29.619231505157508,
 'Book-Rating': 0.000956704760910783}

**No NaN/ nule entries**

In [460]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

**No duplicates**

In [461]:
# Check how many duplicate rows exist
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

# If you want to view all duplicate rows (including all occurrences), use:
duplicate_rows = df[df.duplicated(keep=False)]
print(duplicate_rows)

Number of duplicate rows: 0
Empty DataFrame
Columns: [User-ID, ISBN, Book-Rating]
Index: []

##### **Bad ISBNs** not 13 nor 10 digits

8677 bad rows.

In [464]:
# Filter rows where the ISBN length is not equal to 10 or 13
invalid_isbn_entries = df[~df['ISBN'].apply(lambda x: len(x) in [10, 13])]

print("Entries with ISBN not 10 or 13 characters:")
invalid_isbn_entries[['ISBN']]

Entries with ISBN not 10 or 13 characters:

                ISBN
9          342310538
40         342662429
55       N3453124715
247         20103389
291        344242529
...              ...
1149238    033031582
1149358  00969754916
1149428  15655122046
1149439     55305663
1149779  05162443314

[8677 rows x 1 columns]

#### d) iii) BookCrossing Ratings

In [483]:
df = pd.read_csv("./Datasets/4_bookcrossing/book_crossing_Users.csv")

df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

##### **Age == 0 ? (should not be a thing)**

It is odd how **416 users are 0 years old**, but we'll keep it this way (wouldnt be exactly data cleaning). Might be interesting in data exploration.

In [484]:
df[df["Age"] == 0].head()

      User-ID                                       Location  Age
219       220                       bogota, bogota, colombia  0.0
469       470                     indianapolis, indiana, usa  0.0
561       562  adfdaf, australian capital territory, albania  0.0
1460     1461                         kolding, none, denmark  0.0
1909     1910                           vigo, galicia, spain  0.0

In [485]:
df.rename(columns={"Age": "age_raw"}, inplace=True)
df["age"] = df["age_raw"].replace(0, np.nan)
df[df["age"].isnull()].head()

   User-ID                            Location  age_raw  age
0        1                  nyc, new york, usa      NaN  NaN
2        3     moscow, yukon territory, russia      NaN  NaN
4        5  farnborough, hants, united kingdom      NaN  NaN
6        7                 washington, dc, usa      NaN  NaN
7        8            timmins, ontario, canada      NaN  NaN

In [488]:
df.head(20)

    User-ID                                Location  age_raw   age
0         1                      nyc, new york, usa      NaN   NaN
1         2               stockton, california, usa     18.0  18.0
2         3         moscow, yukon territory, russia      NaN   NaN
3         4               porto, v.n.gaia, portugal     17.0  17.0
4         5      farnborough, hants, united kingdom      NaN   NaN
5         6           santa monica, california, usa     61.0  61.0
6         7                     washington, dc, usa      NaN   NaN
7         8                timmins, ontario, canada      NaN   NaN
8         9              germantown, tennessee, usa      NaN   NaN
9        10              albacete, wisconsin, spain     26.0  26.0
10       11          melbourne, victoria, australia     14.0  14.0
11       12             fort bragg, california, usa      NaN   NaN
12       13             barcelona, barcelona, spain     26.0  26.0
13       14                   mediapolis, iowa, usa      NaN   NaN
14       15                calgary, alberta, canada      NaN   NaN
15       16            albuquerque, new mexico, usa      NaN   NaN
16       17               chesapeake, virginia, usa      NaN   NaN
17       18  rio de janeiro, rio de janeiro, brazil     25.0  25.0
18       19                               weston, ,     14.0  14.0
19       20            langhorne, pennsylvania, usa     19.0  19.0

##### **Cardinalities**

**Row Number**

In [519]:
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 278858

**String Length**

In [520]:
string_stats = {col: string_length_stats(df[col]) for col in df.columns}
print("\nString length statistics per column:")
for col, stats in string_stats.items():
    print(f"{col}: {stats}")

String length statistics per column:
User-ID: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
age_raw: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
age: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
City: {'min_length': 0, 'max_length': 64, 'mean_length': 8.494828909337368, 'median_length': 8.0}
State: {'min_length': 0, 'max_length': 80, 'mean_length': 8.60337377222017, 'median_length': 8.0}
Country: {'min_length': 0, 'max_length': 64, 'mean_length': 5.372392919643113, 'median_length': 3.0}
LocationQuery: {'min_length': 4, 'max_length': 105, 'mean_length': 26.470504701317516, 'median_length': 25.0}
city_standard: {'min_length': 0, 'max_length': 64, 'mean_length': 8.499476436035545, 'median_length': 8.0}
state_standard: {'min_length': 0, 'max_length': 80, 'mean_length': 8.603940370871092, 'median_length': 8.0}
country_standard: {'min_length': 0, 'max_length': 64, 'mean_length': 5.371603981983533, 'median_length': 3.0}

**Null values per column**

In [521]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

print("\nNull values per column (as percentage):")
print(df.isna().mean() * 100)

Null values per column (as percentage):
User-ID              0.000000
age_raw             39.719857
age                 39.869037
City                 0.043750
State                1.388520
Country              1.636317
LocationQuery        0.000000
city_standard        0.043750
state_standard       1.388520
country_standard     1.636317
dtype: float64

**Distinct values per column**

In [522]:
distinct_values = {col: safe_nunique(df[col]) for col in df.columns}
print("\nDistinct values per column:")
print(distinct_values)

Distinct values per column:
{'User-ID': 278858, 'age_raw': 165, 'age': 164, 'City': 32758, 'State': 6256, 'Country': 1258, 'LocationQuery': 57327, 'city_standard': 30566, 'state_standard': 5777, 'country_standard': 1175}

**Uniqueness ratio**

(distinct values / total rows) * 100*

In [524]:
uniqueness = {col: (safe_nunique(df[col]) / num_rows) * 100 for col in df.columns}
print("\nUniqueness ratio (in %):")
uniqueness

Uniqueness ratio (in %):

{'User-ID': 100.0,
 'age_raw': 0.05916990009252021,
 'age': 0.05881129463741402,
 'City': 11.747197498368344,
 'State': 2.2434357271442815,
 'Country': 0.45112566252357833,
 'LocationQuery': 20.557774924872156,
 'city_standard': 10.96113434077559,
 'state_standard': 2.0716637141484195,
 'country_standard': 0.42136140974976516}

**Row Number**

In [538]:
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 1070

**String Length**

In [539]:
string_stats = {col: string_length_stats(df[col]) for col in df.columns}
print("\nString length statistics per column:")
for col, stats in string_stats.items():
    print(f"{col}: {stats}")

String length statistics per column:
index: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
Publishing Year: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
Book Name: {'min_length': 4, 'max_length': 124, 'mean_length': 22.134670487106018, 'median_length': 18.0}
Author: {'min_length': 7, 'max_length': 257, 'mean_length': 18.828971962616823, 'median_length': 15.0}
language_code: {'min_length': 2, 'max_length': 5, 'mean_length': 3.5319567354965584, 'median_length': 3.0}
Author_Rating: {'min_length': 6, 'max_length': 12, 'mean_length': 10.519626168224299, 'median_length': 12.0}
Book_average_rating: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
Book_ratings_count: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
genre: {'min_length': 7, 'max_length': 13, 'mean_length': 12.102803738317757, 'median_length': 13.0}
gross sales: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
publisher revenue: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
sale price: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
sales rank: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
Publisher : {'min_length': 9, 'max_length': 36, 'mean_length': 26.148598130841123, 'median_length': 30.0}
units sold: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}

**Null values per column**

In [540]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

print("\nNull values per column (as percentage):")
print(df.isna().mean() * 100)

Null values per column (as percentage):
index                  0.000000
Publishing Year        0.093458
Book Name              2.149533
Author                 0.000000
language_code          4.953271
Author_Rating          0.000000
Book_average_rating    0.000000
Book_ratings_count     0.000000
genre                  0.000000
gross sales            0.000000
publisher revenue      0.000000
sale price             0.000000
sales rank             0.000000
Publisher              0.000000
units sold             0.000000
dtype: float64

**Distinct values per column**

In [522]:
distinct_values = {col: safe_nunique(df[col]) for col in df.columns}
print("\nDistinct values per column:")
print(distinct_values)

Distinct values per column:
{'User-ID': 278858, 'age_raw': 165, 'age': 164, 'City': 32758, 'State': 6256, 'Country': 1258, 'LocationQuery': 57327, 'city_standard': 30566, 'state_standard': 5777, 'country_standard': 1175}

**Uniqueness ratio**

(distinct values / total rows) * 100*

In [524]:
uniqueness = {col: (safe_nunique(df[col]) / num_rows) * 100 for col in df.columns}
print("\nUniqueness ratio (in %):")
uniqueness

Uniqueness ratio (in %):

{'User-ID': 100.0,
 'age_raw': 0.05916990009252021,
 'age': 0.05881129463741402,
 'City': 11.747197498368344,
 'State': 2.2434357271442815,
 'Country': 0.45112566252357833,
 'LocationQuery': 20.557774924872156,
 'city_standard': 10.96113434077559,
 'state_standard': 2.0716637141484195,
 'country_standard': 0.42136140974976516}

##### **NaN values**

All entries have **"User-ID"** (it's just an incrementation with no real meaning outside connecting information to the review table) and **"Location"**.

Only *60.3%* of the dataset has a value in **"Age"** (the rest is NaN "110 762 entries").

In [494]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   age_raw   168096 non-null  float64
 3   age       167680 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.5+ MB

##### Parse Location Data

Location data is currently messy. We will split it in 3 columns ('City', 'State', 'Country') so it is more understandable.

In [499]:
# Check if the 'Location' column exists before attempting to split it
if 'Location' in df.columns:
    # Split the 'Location' column into 'City', 'State', and 'Country'
    df[['City', 'State', 'Country']] = df['Location'].str.split(',', n=2, expand=True)
    
    # Remove any leading/trailing whitespace from the new columns
    df['City'] = df['City'].str.strip()
    df['State'] = df['State'].str.strip()
    df['Country'] = df['Country'].str.strip()
    
    # Optionally, drop the original 'Location' column if it's no longer needed
    df.drop(columns=['Location'], inplace=True)
else:
    print("Column 'Location' not found in the DataFrame.")

# Verify the new structure by printing a sample
df.head()

Column 'Location' not found in the DataFrame.

   User-ID  age_raw   age         City            State         Country
0        1      NaN   NaN          nyc         new york             usa
1        2     18.0  18.0     stockton       california             usa
2        3      NaN   NaN       moscow  yukon territory          russia
3        4     17.0  17.0        porto         v.n.gaia        portugal
4        5      NaN   NaN  farnborough            hants  united kingdom

**THERE ARE MISSSPEALINGS THAT SHOULD BE STANDARDIZED!**

##### **Harmonize Categoricals "City"**

Played with the threshold to try to improve grouping without introducing errors in the matching of different Cities.

In [507]:
merged_groups = get_standardized_groups(df, 'City', threshold=93, scorer=fuzz.ratio)
print("Potential standardized groups:")
for group in merged_groups[:20]:
    print(group)

Potential standardized groups:
{'nyc'}
{'stockton'}
{'moscow'}
{'porto'}
{'farnborough'}
{'santa monica'}
{'wahington', 'washinton', 'washngton', 'ashington', 'washington', 'wasington'}
{'timmins'}
{'germantown', 'germanton'}
{'albacete'}
{'melbourn', 'melboourne', 'melbouurne', 'melbour', 'melboure', 'melbourne', 'melborne'}
{'fort bragg'}
{'barcelna', 'barcelona', 'brcelona', 'barcelona.', 'bercelona', 'barcelone', 'bracelona', 'barceona', 'barcelon', 'bacelona'}
{'mediapolis'}
{'calgary', 'calagary'}
{'albuerque', 'albuqueruqe', 'albuquqerque', 'albuquerque', 'albuqueque', 'albquerque', 'albuqeurque', 'aluqueruqe', 'albuqerque', 'albuqureque', 'albuqurque', 'al;buquerque', 'alburquerque', 'albuquerqe', 'albququerque'}
{'chesapeake', 'chesapeke', 'cheapeake'}
{'rio de janeiro'}
{'weston'}
{'langhorne'}

**adding it has a new column to not lose info, cuz matching might be incorrect**

In [508]:
freq = df['City'].value_counts().to_dict()

# mapping dictionary
mapping = {}
for group in merged_groups:
    canonical = max(group, key=lambda x: freq.get(x, 0))
    for pub in group:
        mapping[pub] = canonical

for pub in unique_publishers:
    if pub not in mapping:
        mapping[pub] = pub
        
df['city_standard'] = df['City'].map(lambda x: mapping.get(x, x))

print("\nStandardized City names added to DataFrame:")
df.head()

Standardized City names added to DataFrame:

,User-ID,age_raw,age,City,State,Country,LocationQuery,city_standard
0,1,NaN,NaN,nyc,new york,usa,"nyc, new york, usa",nyc
1,2,18.0,18.0,stockton,california,usa,"stockton, california, usa",stockton
2,3,NaN,NaN,moscow,yukon territory,russia,"moscow, yukon territory, russia",moscow
3,4,17.0,17.0,porto,v.n.gaia,portugal,"porto, v.n.gaia, portugal",porto
4,5,NaN,NaN,farnborough,hants,united kingdom,"farnborough, hants, united kingdom",farnborough

##### **Harmonize Categoricals "State"**

In [509]:
merged_groups = get_standardized_groups(df, 'State', threshold=94, scorer=fuzz.ratio)
print("Potential standardized groups:")
for group in merged_groups[:15]:
    print(group)

Potential standardized groups:
{'news york', 'new  york', 'new york'}
{'califorrnia', 'california', 'califonia'}
{'yukon territory'}
{'v.n.gaia', 'v.n. gaia'}
{'hants'}
{'dc'}
{'ontario'}
{'tennessee', 'tenessee'}
{'wisconsin'}
{'victoria'}
{'barcelona.', 'barcelona'}
{'iowa'}
{'alberta'}
{'new mexico'}
{'virguinia', 'virginia'}

In [510]:
freq = df['State'].value_counts().to_dict()

# mapping dictionary
mapping = {}
for group in merged_groups:
    canonical = max(group, key=lambda x: freq.get(x, 0))
    for pub in group:
        mapping[pub] = canonical

for pub in unique_publishers:
    if pub not in mapping:
        mapping[pub] = pub
        
df['state_standard'] = df['State'].map(lambda x: mapping.get(x, x))

print("\nStandardized State names added to DataFrame:")
df.head()

Standardized State names added to DataFrame:

,User-ID,age_raw,age,City,State,Country,LocationQuery,city_standard,state_standard
0,1,NaN,NaN,nyc,new york,usa,"nyc, new york, usa",nyc,new york
1,2,18.0,18.0,stockton,california,usa,"stockton, california, usa",stockton,california
2,3,NaN,NaN,moscow,yukon territory,russia,"moscow, yukon territory, russia",moscow,yukon territory
3,4,17.0,17.0,porto,v.n.gaia,portugal,"porto, v.n.gaia, portugal",porto,v.n.gaia
4,5,NaN,NaN,farnborough,hants,united kingdom,"farnborough, hants, united kingdom",farnborough,hants

##### **Harmonize Categoricals "Country"**

In [511]:
merged_groups = get_standardized_groups(df, 'Country', threshold=94, scorer=fuzz.ratio)
print("Potential standardized groups:")
for group in merged_groups[:15]:
    print(group)

Potential standardized groups:
{'usa'}
{'russia'}
{'portugal"', 'portugal'}
{'united kingdom.', 'united kingdom', 'united kindgdom', 'united kingdom"'}
{'canada'}
{'spain'}
{'autralia', 'australia"', 'australia'}
{'brazil'}
{''}
{'germany'}
{'mexico'}
{'china'}
{'italy'}
{'distrito federal'}
{'france'}

In [512]:
freq = df['Country'].value_counts().to_dict()

# mapping dictionary
mapping = {}
for group in merged_groups:
    canonical = max(group, key=lambda x: freq.get(x, 0))
    for pub in group:
        mapping[pub] = canonical

for pub in unique_publishers:
    if pub not in mapping:
        mapping[pub] = pub
        
df['country_standard'] = df['Country'].map(lambda x: mapping.get(x, x))

print("\nStandardized Country names added to DataFrame:")
df.head()

Standardized Country names added to DataFrame:

,User-ID,age_raw,age,City,State,Country,LocationQuery,city_standard,state_standard,country_standard
0,1,NaN,NaN,nyc,new york,usa,"nyc, new york, usa",nyc,new york,usa
1,2,18.0,18.0,stockton,california,usa,"stockton, california, usa",stockton,california,usa
2,3,NaN,NaN,moscow,yukon territory,russia,"moscow, yukon territory, russia",moscow,yukon territory,russia
3,4,17.0,17.0,porto,v.n.gaia,portugal,"porto, v.n.gaia, portugal",porto,v.n.gaia,portugal
4,5,NaN,NaN,farnborough,hants,united kingdom,"farnborough, hants, united kingdom",farnborough,hants,united kingdom

##### Parse Location Data

In [12]:
# Save the DataFrame to a CSV file (without writing the index)
df.to_csv("./Datasets/4_bookcrossing/book_crossing_Users_Loc.csv", index=False)

In [6]:
df = pd.read_csv("./Datasets/4_bookcrossing/book_crossing_Users_Loc.csv")

In [7]:
df

,User-ID,Location,Age,city_standard,state_standard,country_standard
0,1,"nyc, new york, usa",NaN,Nyc,New York,Usa
1,2,"stockton, california, usa",18.0,Stockton,California,Usa
2,3,"moscow, yukon territory, russia",NaN,Moscow,Yukon Territory,Russia
3,4,"porto, v.n.gaia, portugal",17.0,Porto,V.N.Gaia,Portugal
4,5,"farnborough, hants, united kingdom",NaN,Farnborough,Hants,United Kingdom
...,...,...,...,...,...,...
278853,278854,"portland, oregon, usa",NaN,Portland,Oregon,Usa
278854,278855,"tacoma, washington, united kingdom",50.0,Tacoma,Washington,United Kingdom
278855,278856,"brampton, ontario, canada",NaN,Brampton,Ontario,Canada
278856,278857,"knoxville, tennessee, usa",NaN,Knoxville,Tennessee,Usa
278857,278858,"dublin, n/a, ireland",NaN,Dublin,NaN,Ireland

In [517]:
df[["state_standard", "country_standard"]].drop_duplicates()

             state_standard country_standard
0                  new york              usa
1                california              usa
2           yukon territory           russia
3                  v.n.gaia         portugal
4                     hants   united kingdom
...                     ...              ...
278668                   fl         hernando
278684               milano        argentina
278685                    .             iran
278810                 ±±¾©            china
278840  denbighshire county   united kingdom

[10385 rows x 2 columns]

##### **Google Maps API**

(key not here cuz money can cost me)

This code uses the Google Maps Geocoding API to validate and standardise country names that have already been processed through fuzzy matching (to have fewer unique values and therefore fewer API calls). 

The code defines a function that takes a country name and sends a query to the API. It then parses the returned address components to extract the officially recognised country name, which is considered more reliable. By caching these results for each unique country from the dataset, the code avoids redundant API calls and makes the process more efficient. 

Finally, it checks for any discrepancies between the original standardised country names and the API-validated ones, enabling further review and correction. This is important because it helps ensure that the country data in the dataset is as accurate with no misspellings and we can treat them as categoricals.

In [525]:
import googlemaps
import pandas as pd
import time


gmaps = googlemaps.Client(key="PutYoursNotMine") 

def validate_country(country):
    """
    Validate the standardized country using the Google Maps Geocoding API.
    Returns the country (long_name) as provided by the API.
    """
    if not isinstance(country, str) or not country.strip():
        return None
    query = country.strip()
    try:
        # Call the API.
        geocode_result = gmaps.geocode(query)
        # Pause briefly to avoid rate limits.
        time.sleep(0.1)
        if geocode_result:
            components = geocode_result[0]['address_components']
            for comp in components:
                if "country" in comp.get("types", []):
                    return comp.get("long_name")
    except Exception as e:
        print(f"Error validating country '{query}': {e}")
    return None

# Extract the unique countries from the 'country_standard' column.
unique_countries = df['country_standard'].dropna().unique()
print(f"Found {len(unique_countries)} unique countries.")

# Cache the API results to avoid duplicate calls.
validation_cache = {}
for country in unique_countries:
    validated = validate_country(country)
    validation_cache[country] = validated

# Check for mismatches between the original and the validated country names.
mismatches = []
for orig, validated in validation_cache.items():
    if validated and validated.lower() != orig.lower():
        mismatches.append((orig, validated))
        print(f"Mismatch: Original '{orig}' corrected to '{validated}'")

# Optionally, create a DataFrame for further inspection.
validation_df = pd.DataFrame(list(validation_cache.items()), columns=['country_standard', 'validated_country'])
validation_df.head()

Found 1175 unique countries.
Mismatch: Original 'usa' corrected to 'United States'
Mismatch: Original 'distrito federal' corrected to 'Brazil'
Mismatch: Original 'u.a.e' corrected to 'United Arab Emirates'
Mismatch: Original 'turkey' corrected to 'Türkiye'
Mismatch: Original 'quit' corrected to 'Australia'
Mismatch: Original 'denmark"' corrected to 'Denmark'
Mismatch: Original 'españa' corrected to 'Spain'
Mismatch: Original 'london' corrected to 'United Kingdom'
Mismatch: Original 'victoria, australia' corrected to 'Australia'
Mismatch: Original 'british columbia, canada' corrected to 'Canada'
Mismatch: Original 'missouri, usa' corrected to 'United States'
Mismatch: Original 'metropolitana, chile' corrected to 'Chile'
Mismatch: Original 'clackamas' corrected to 'United States'
Mismatch: Original 'spain"' corrected to 'Spain'
Mismatch: Original 'mansoura, egypt' corrected to 'Egypt'
Mismatch: Original 'dc, usa' corrected to 'United States'
Mismatch: Original 'basque country' corrected to 'Spain'
Mismatch: Original 'england, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'israel"' corrected to 'Israel'
Mismatch: Original 'connecticut, usa' corrected to 'United States'
Mismatch: Original 'gambia, the' corrected to 'The Gambia'
Mismatch: Original 'iran"' corrected to 'Iran'
Mismatch: Original 'calabria' corrected to 'Italy'
Mismatch: Original 'alderney' corrected to 'Guernsey'
Mismatch: Original 'spain, spain' corrected to 'Spain'
Mismatch: Original 'nigeria"' corrected to 'Nigeria'
Mismatch: Original 'germany"' corrected to 'Germany'
Mismatch: Original 'cape verde' corrected to 'Cabo Verde'
Mismatch: Original 'scotland' corrected to 'United Kingdom'
Mismatch: Original 'bayern, austria' corrected to 'Austria'
Mismatch: Original 'hawaii, usa' corrected to 'United States'
Mismatch: Original 'la argentina' corrected to 'Argentina'
Mismatch: Original 'sind, pakistan' corrected to 'Pakistan'
Mismatch: Original 'heard of it? :o), india' corrected to 'India'
Mismatch: Original 'turkey"' corrected to 'Türkiye'
Mismatch: Original 'texas, usa' corrected to 'United States'
Mismatch: Original 'morogoro,' corrected to 'Tanzania'
Mismatch: Original 'monterrey' corrected to 'Mexico'
Mismatch: Original 'jalisco, mexico, mexico' corrected to 'Mexico'
Mismatch: Original 'urugua' corrected to 'Uruguay'
Mismatch: Original 'puerto rico, usa' corrected to 'Puerto Rico'
Mismatch: Original ', costa rica' corrected to 'Costa Rica'
Mismatch: Original 'voivodina, yugoslavia' corrected to 'Serbia'
Mismatch: Original 'l`italia' corrected to 'United States'
Mismatch: Original 'finland"' corrected to 'Finland'
Mismatch: Original 'francisco morazán, honduras' corrected to 'Honduras'
Mismatch: Original 'netherlands, netherlands' corrected to 'Netherlands'
Mismatch: Original 'india"' corrected to 'India'
Mismatch: Original 'france"' corrected to 'France'
Mismatch: Original 'washington, usa' corrected to 'United States'
Mismatch: Original 'central otago, new zealand' corrected to 'New Zealand'
Mismatch: Original 'czech republic' corrected to 'Czechia'
Mismatch: Original 'romania"' corrected to 'Romania'
Mismatch: Original 'mexico, city, mexico' corrected to 'Mexico'
Mismatch: Original 'alabama, usa' corrected to 'United States'
Mismatch: Original 'west yorkshire, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'norway"' corrected to 'Norway'
Mismatch: Original 'you listed stroud!), united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'alsace, bas rhin, france' corrected to 'France'
Mismatch: Original 'the philippines' corrected to 'Philippines'
Mismatch: Original 'maine, usa' corrected to 'United States'
Mismatch: Original 'la france' corrected to 'France'
Mismatch: Original 'bahamas' corrected to 'The Bahamas'
Mismatch: Original 'canberra, australia' corrected to 'Australia'
Mismatch: Original 'granada, spain' corrected to 'Spain'
Mismatch: Original 'mississippi, usa' corrected to 'United States'
Mismatch: Original 'maroc' corrected to 'Morocco'
Mismatch: Original 'isreal' corrected to 'Israel'
Mismatch: Original 'ontario, canada' corrected to 'Canada'
Mismatch: Original 'oklahoma, usa' corrected to 'United States'
Mismatch: Original 'fernando de la mora' corrected to 'Paraguay'
Mismatch: Original 'macedonia' corrected to 'North Macedonia'
Mismatch: Original 'arizona, usa' corrected to 'United States'
Mismatch: Original 'lombardia, italy' corrected to 'Italy'
Mismatch: Original 'brasil' corrected to 'Brazil'
Mismatch: Original '19104' corrected to 'United States'
Mismatch: Original 'minnesota, usa' corrected to 'United States'
Mismatch: Original 'baden-wuerttemberg, germany' corrected to 'Germany'
Mismatch: Original 'colorado,' corrected to 'United States'
Mismatch: Original 'new york, usa' corrected to 'United States'
Mismatch: Original 'trinidad' corrected to 'Trinidad and Tobago'
Mismatch: Original 'england' corrected to 'United Kingdom'
Mismatch: Original 'deutschland' corrected to 'Germany'
Mismatch: Original 'austria"' corrected to 'Austria'
Mismatch: Original 'republic of panama, panama' corrected to 'Panama'
Mismatch: Original 'sweden"' corrected to 'Sweden'
Mismatch: Original 'minnehaha' corrected to 'United States'
Mismatch: Original 'michigan, usa' corrected to 'United States'
Mismatch: Original 'piemonte, italy' corrected to 'Italy'
Mismatch: Original 'galiza' corrected to 'Spain'
Mismatch: Original 'catalunya, spain' corrected to 'Spain'
Mismatch: Original 'karnataka, india' corrected to 'India'
Mismatch: Original 'guandong province, china' corrected to 'China'
Mismatch: Original 'pennsylvania, usa' corrected to 'United States'
Mismatch: Original 'v9v 1h4, british columbia, canada' corrected to 'Canada'
Mismatch: Original '&#32654;&#22269;' corrected to 'United States'
Mismatch: Original 'cape, south africa' corrected to 'South Africa'
Mismatch: Original 'españa, spain' corrected to 'Spain'
Mismatch: Original 'distrito federal, mexico' corrected to 'Mexico'
Mismatch: Original 'texas, afghanistan' corrected to 'Afghanistan'
Mismatch: Original 'canterbury, new zealand' corrected to 'New Zealand'
Mismatch: Original 'n/a, mexico' corrected to 'Mexico'
Mismatch: Original 'u.s. of a.' corrected to 'United States'
Mismatch: Original 'arkansas, usa' corrected to 'United States'
Mismatch: Original 'afganstand holla !!' corrected to 'Afghanistan'
Mismatch: Original 'islas canarias, spain' corrected to 'Spain'
Mismatch: Original 'catalunya' corrected to 'Spain'
Mismatch: Original 'serbia & montenegro' corrected to 'Serbia'
Mismatch: Original 'maine, malaysia' corrected to 'Malaysia'
Mismatch: Original 'saskatchewan, canada' corrected to 'Canada'
Mismatch: Original 'trinidad & tobago' corrected to 'Trinidad and Tobago'
Mismatch: Original 'ondo state, nigeria' corrected to 'Nigeria'
Mismatch: Original 'n/a, eritrea' corrected to 'Eritrea'
Mismatch: Original 'n/a, greece' corrected to 'Greece'
Mismatch: Original 'maryland, usa' corrected to 'United States'
Mismatch: Original 'iowa, usa' corrected to 'United States'
Mismatch: Original 'lk ammerland, deutschland' corrected to 'Germany'
Mismatch: Original 'burma' corrected to 'Myanmar (Burma)'
Mismatch: Original 'wisconsin, usa' corrected to 'United States'
Mismatch: Original 'uk' corrected to 'United Kingdom'
Mismatch: Original 'df, mexico' corrected to 'Mexico'
Mismatch: Original 'alberta, canada' corrected to 'Canada'
Mismatch: Original 'selangor d.e., malaysia' corrected to 'Malaysia'
Mismatch: Original 'n/a, philippines' corrected to 'Philippines'
Mismatch: Original 'ghana"' corrected to 'Ghana'
Mismatch: Original 'turkei' corrected to 'Türkiye'
Mismatch: Original 'ksa' corrected to 'Saudi Arabia'
Mismatch: Original 'pakistan, sindh, pakistan' corrected to 'Pakistan'
Mismatch: Original 'new south wales, australia' corrected to 'Australia'
Mismatch: Original 'manitoba, canada' corrected to 'Canada'
Mismatch: Original 'maharashtra, india, india' corrected to 'India'
Mismatch: Original 'iceland, iceland' corrected to 'Iceland'
Mismatch: Original 'ca., usa' corrected to 'United States'
Mismatch: Original 'sri lanka\"n/a\""' corrected to 'Sri Lanka'
Mismatch: Original 'valtesse' corrected to 'Italy'
Mismatch: Original 'washington, pakistan' corrected to 'United States'
Mismatch: Original 'cote d`ivoire' corrected to 'Côte d'Ivoire'
Mismatch: Original 'catalunya(catalonia)' corrected to 'Spain'
Mismatch: Original 'mã?â©xico' corrected to 'Mexico'
Mismatch: Original 'us virgin islands, caribbean sea' corrected to 'U.S. Virgin Islands'
Mismatch: Original 'peru"' corrected to 'Peru'
Mismatch: Original 'n/a, south africa' corrected to 'South Africa'
Mismatch: Original 'queensland, australia' corrected to 'Australia'
Mismatch: Original 'lleida' corrected to 'Spain'
Mismatch: Original 'nottinghamshire, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'florida, usa' corrected to 'United States'
Mismatch: Original 'n/a, india' corrected to 'India'
Mismatch: Original 'utah, usa' corrected to 'United States'
Mismatch: Original 'itlay' corrected to 'Italy'
Mismatch: Original 'u.s.a.' corrected to 'United States'
Mismatch: Original 'germany, germany' corrected to 'Germany'
Mismatch: Original 'belgique' corrected to 'Belgium'
Mismatch: Original 'brazil, brazil' corrected to 'Brazil'
Mismatch: Original 'south wales., united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'st. vincent and the grenadines' corrected to 'Saint Vincent and the Grenadines'
Mismatch: Original 'hessen, germany' corrected to 'Germany'
Mismatch: Original 'colorado, usa' corrected to 'United States'
Mismatch: Original 'álava, spain' corrected to 'Spain'
Mismatch: Original 'catalonia' corrected to 'Spain'
Mismatch: Original 'collin' corrected to 'United States'
Mismatch: Original 'south dakota, usa' corrected to 'United States'
Mismatch: Original 'zhengjiang' corrected to 'China'
Mismatch: Original 'kansas, usa' corrected to 'United States'
Mismatch: Original 'california, usa' corrected to 'United States'
Mismatch: Original 'maharastra, india' corrected to 'India'
Mismatch: Original 'oregon, usa' corrected to 'United States'
Mismatch: Original 'scotland, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'rhode island, usa' corrected to 'United States'
Mismatch: Original 'wales' corrected to 'United Kingdom'
Mismatch: Original 'south carolina, usa' corrected to 'United States'
Mismatch: Original 'new zealand, new zealand' corrected to 'New Zealand'
Mismatch: Original 'uk, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'hennipen' corrected to 'United States'
Mismatch: Original 'north carolina, usa' corrected to 'United States'
Mismatch: Original 'new mexico, usa' corrected to 'United States'
Mismatch: Original 'equatorial geuinea' corrected to 'Equatorial Guinea'
Mismatch: Original 'italy"' corrected to 'Italy'
Mismatch: Original 'n/a, portugal' corrected to 'Portugal'
Mismatch: Original 'virginia, usa' corrected to 'United States'
Mismatch: Original 'italia' corrected to 'Italy'
Mismatch: Original 'n/a, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'indiana, usa' corrected to 'United States'
Mismatch: Original 'good old usa !' corrected to 'United States'
Mismatch: Original 'polska' corrected to 'Poland'
Mismatch: Original 'goteborg' corrected to 'Sweden'
Mismatch: Original 'chandigarh, india' corrected to 'India'
Mismatch: Original 'california, united states' corrected to 'United States'
Mismatch: Original 'south australia, australia' corrected to 'Australia'
Mismatch: Original ', pakistan' corrected to 'Pakistan'
Mismatch: Original 'baltimore' corrected to 'United States'
Mismatch: Original 'hampden' corrected to 'New Zealand'
Mismatch: Original 'cambridgeshire, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'ust' corrected to 'Philippines'
Mismatch: Original 'polk' corrected to 'United States'
Mismatch: Original 'vermont, usa' corrected to 'United States'
Mismatch: Original 'benguet, philippines' corrected to 'Philippines'
Mismatch: Original 'malaysia, malaysia' corrected to 'Malaysia'
Mismatch: Original 'norfolk, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'wales, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'bernalillo' corrected to 'United States'
Mismatch: Original 'effingham' corrected to 'United States'
Mismatch: Original 'almería, spain' corrected to 'Spain'
Mismatch: Original 'veneto, italy' corrected to 'Italy'
Mismatch: Original 'italia, italy' corrected to 'Italy'
Mismatch: Original 'na, usa' corrected to 'United States'
Mismatch: Original 'nova scotia, canada' corrected to 'Canada'
Mismatch: Original 'turkey,' corrected to 'Türkiye'
Mismatch: Original 'windham' corrected to 'United States'
Mismatch: Original 'etelä-suomi, finland' corrected to 'Finland'
Mismatch: Original 'belgium"' corrected to 'Belgium'
Mismatch: Original 'pa, usa' corrected to 'United States'
Mismatch: Original 'ile de france, france' corrected to 'France'
Mismatch: Original 'new hampshire, usa' corrected to 'United States'
Mismatch: Original 'aragón, spain' corrected to 'Spain'
Mismatch: Original 'veracruz, mexico' corrected to 'Mexico'
Mismatch: Original 'n/a, malaysia' corrected to 'Malaysia'
Mismatch: Original 'sinaloa, mexico' corrected to 'Mexico'
Mismatch: Original 'brazil"' corrected to 'Brazil'
Mismatch: Original 'new jersey, usa' corrected to 'United States'
Mismatch: Original 'auckland' corrected to 'New Zealand'
Mismatch: Original 'holland, netherlands' corrected to 'Netherlands'
Mismatch: Original 'kentucky, usa' corrected to 'United States'
Mismatch: Original 'illinois, usa' corrected to 'United States'
Mismatch: Original 'switzerland, switzerland' corrected to 'Switzerland'
Mismatch: Original 'channel islands, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'cote d`or, burgundy, france' corrected to 'France'
Mismatch: Original 'pasco' corrected to 'United States'
Mismatch: Original 'perlis, malaysia' corrected to 'Malaysia'
Mismatch: Original 'united states of america' corrected to 'United States'
Mismatch: Original 'ferrara' corrected to 'Italy'
Mismatch: Original 'milano' corrected to 'Italy'
Mismatch: Original 'n/a, japan' corrected to 'Japan'
Mismatch: Original 'slo' corrected to 'United States'
Mismatch: Original 'sichuan/china, china' corrected to 'China'
Mismatch: Original 'beijing, china' corrected to 'China'
Mismatch: Original 'marrion' corrected to 'United States'
Mismatch: Original 'gulf view, n/a, trinidad and tobago' corrected to 'Trinidad and Tobago'
Mismatch: Original 'commonwealth of northern mariana islands' corrected to 'Northern Mariana Islands'
Mismatch: Original 'china, china' corrected to 'China'
Mismatch: Original 'india, india' corrected to 'India'
Mismatch: Original 'nigeria, nigeria' corrected to 'Nigeria'
Mismatch: Original 'cnina' corrected to 'China'
Mismatch: Original 'hb, ka, germany' corrected to 'Germany'
Mismatch: Original 'holy see' corrected to 'Vatican City'
Mismatch: Original 'são paulo, brazil' corrected to 'Brazil'
Mismatch: Original 'noord-brabant, netherlands' corrected to 'Netherlands'
Mismatch: Original 'región metropolitana, chile' corrected to 'Chile'
Mismatch: Original 'alava, spain' corrected to 'Spain'
Mismatch: Original 'oeiras, portugal' corrected to 'Portugal'
Mismatch: Original 'ohio, usa' corrected to 'United States'
Mismatch: Original 'holland' corrected to 'Netherlands'
Mismatch: Original 'trentino alto adige, italy' corrected to 'Italy'
Mismatch: Original 'nottingham, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'espaã?â±a' corrected to 'Uruguay'
Mismatch: Original 'noord holland, netherlands' corrected to 'Netherlands'
Mismatch: Original 'lazio' corrected to 'Italy'
Mismatch: Original 'lazio, italy' corrected to 'Italy'
Mismatch: Original 'dekalb' corrected to 'United States'
Mismatch: Original 'massachusetts, usa' corrected to 'United States'
Mismatch: Original 'la belgique' corrected to 'Belgium'
Mismatch: Original 'berlin, germany' corrected to 'Germany'
Mismatch: Original 'v region, chile' corrected to 'Chile'
Mismatch: Original 'el general carlos ibañes del campo., chile' corrected to 'Chile'
Mismatch: Original 'chesterfield south carolina, usa' corrected to 'United States'
Mismatch: Original 'maricopa' corrected to 'United States'
Mismatch: Original 'tamil nadu, india' corrected to 'India'
Mismatch: Original 'paris, france' corrected to 'France'
Mismatch: Original 'uk, wales, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'berkshire, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'attica, greece' corrected to 'Greece'
Mismatch: Original 'utrecht, netherlands' corrected to 'Netherlands'
Mismatch: Original 'chile"' corrected to 'Chile'
Mismatch: Original 'algérie' corrected to 'Algeria'
Mismatch: Original 'north yorkshire, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'nrw' corrected to 'Germany'
Mismatch: Original 'tasmania, australia' corrected to 'Australia'
Mismatch: Original 'nyhamnsläge' corrected to 'Sweden'
Mismatch: Original 'national capital region, philippines' corrected to 'Philippines'
Mismatch: Original 'gh,accra, ghana' corrected to 'Ghana'
Mismatch: Original 'egypt"' corrected to 'Egypt'
Mismatch: Original 'block-o,r.k.puram,sector-13,new delhi , india, india' corrected to 'India'
Mismatch: Original 'richmond country' corrected to 'United States'
Mismatch: Original 'camberley, berkshire, united kingdom' corrected to 'United Kingdom'
Mismatch: Original ', portugal' corrected to 'Portugal'
Mismatch: Original 'republic of korea' corrected to 'South Korea'
Mismatch: Original 'san luis potosí, mexico' corrected to 'Mexico'
Mismatch: Original 'california,' corrected to 'United States'
Mismatch: Original 'saint loius' corrected to 'United States'
Mismatch: Original 'quebec, canada' corrected to 'Canada'
Mismatch: Original 'croatia"' corrected to 'Croatia'
Mismatch: Original 'greece, greece"' corrected to 'Greece'
Mismatch: Original 'central java/jawa tengah, indonesia' corrected to 'Indonesia'
Mismatch: Original 'england, england' corrected to 'United Kingdom'
Mismatch: Original 'framingham' corrected to 'United States'
Mismatch: Original ', usa' corrected to 'United States'
Mismatch: Original 'kyklades, greece' corrected to 'Greece'
Mismatch: Original 'tx, florida, usa' corrected to 'United States'
Mismatch: Original 'bedfordshire, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'trapani, sicilia, italy' corrected to 'Italy'
Mismatch: Original 'kykladon, n/a, greece' corrected to 'Greece'
Mismatch: Original 'san bernardino' corrected to 'United States'
Mismatch: Original 'nyc' corrected to 'United States'
Mismatch: Original 'montana, usa' corrected to 'United States'
Mismatch: Original 'united kindgonm' corrected to 'United Kingdom'
Mismatch: Original 'bvi, caribbean sea' corrected to 'British Virgin Islands'
Mismatch: Original 'cumbria, united kingdom' corrected to 'United Kingdom'
Mismatch: Original 'd.f., mexico' corrected to 'Mexico'
Mismatch: Original 'pennsylvania, philippines' corrected to 'Philippines'
Mismatch: Original 'ee.uu' corrected to 'United States'
Mismatch: Original 'maekel,asmera, eritrea' corrected to 'Eritrea'
Mismatch: Original 'new brunswick, canada' corrected to 'Canada'
Mismatch: Original 'wielkopolska, poland' corrected to 'Poland'
Mismatch: Original 'negeri sembilan, malaysia' corrected to 'Malaysia'
Mismatch: Original 'andalucía, spain' corrected to 'Spain'
Mismatch: Original 'guernsey, channel islands' corrected to 'Guernsey'
Mismatch: Original 'south island, new zealand' corrected to 'New Zealand'
Mismatch: Original 'espaã±a' corrected to 'Uruguay'
Mismatch: Original ', turkey' corrected to 'Türkiye'
Mismatch: Original 'acoruña,galicia, spain' corrected to 'Spain'
Mismatch: Original 'washtenaw' corrected to 'United States'

  country_standard validated_country
0              usa     United States
1           russia            Russia
2         portugal          Portugal
3   united kingdom    United Kingdom
4           canada            Canada

In [529]:
validation_df

     country_standard validated_country
0                 usa     United States
1              russia            Russia
2            portugal          Portugal
3      united kingdom    United Kingdom
4              canada            Canada
...               ...               ...
1170     hubei, china             China
1171         victoria         Australia
1172              bkk          Thailand
1173      la svizzera       Switzerland
1174         hernando     United States

[1175 rows x 2 columns]

In [532]:
import pycountry

def get_country_code(country_name):
    """
    Given a validated country name (e.g., "United States"),
    return the corresponding ISO 3166-1 alpha-2 code (e.g., "US").
    If the country is not found, return None.
    """
    if not isinstance(country_name, str) or not country_name.strip():
        return None
    
    # Manual corrections for known edge cases
    corrections = {
        "russia": "Russian Federation",
        # Add other corrections as needed
    }
    
    # Normalize the input for comparison
    normalized = country_name.strip()
    # Apply correction if it exists (comparison is case-insensitive)
    if normalized.lower() in corrections:
        normalized = corrections[normalized.lower()]
    
    try:
        country = pycountry.countries.lookup(normalized)
        return country.alpha_2  # or country.alpha_3 for three-letter codes
    except LookupError:
        return None

# Now, applying the function to the DataFrame's validated_country column:
df['country_code'] = df['validated_country'].apply(get_country_code)

df[['validated_country', 'country_code']].head()

  validated_country country_code
0     United States           US
1     United States           US
2            Russia           RU
3          Portugal           PT
4    United Kingdom           GB

### e) Book Sales and Ratings

In [564]:
df = pd.read_csv("./Datasets/5_sales_N_ratings/Books_Data_Clean.csv")

df.head(3)

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lewis, Dennis O'Neil",eng,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500

"index" column has no value, probably was left by the person that built this data set as an artifact.

Dropping it.

In [565]:
 df = df.drop(columns=["index"])

##### **Cardinalities**

**Row Number**

In [566]:
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 1070

**String Length**

In [567]:
string_stats = {col: string_length_stats(df[col]) for col in df.columns}
print("\nString length statistics per column:")
for col, stats in string_stats.items():
    print(f"{col}: {stats}")

String length statistics per column:
Publishing Year: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
Book Name: {'min_length': 4, 'max_length': 124, 'mean_length': 22.134670487106018, 'median_length': 18.0}
Author: {'min_length': 7, 'max_length': 257, 'mean_length': 18.828971962616823, 'median_length': 15.0}
language_code: {'min_length': 2, 'max_length': 5, 'mean_length': 3.5319567354965584, 'median_length': 3.0}
Author_Rating: {'min_length': 6, 'max_length': 12, 'mean_length': 10.519626168224299, 'median_length': 12.0}
Book_average_rating: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
Book_ratings_count: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
genre: {'min_length': 7, 'max_length': 13, 'mean_length': 12.102803738317757, 'median_length': 13.0}
gross sales: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
publisher revenue: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
sale price: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
sales rank: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
Publisher : {'min_length': 9, 'max_length': 36, 'mean_length': 26.148598130841123, 'median_length': 30.0}
units sold: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}

**Null values per column**

In [568]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

print("\nNull values per column (as percentage):")
print(df.isna().mean() * 100)

Null values per column (as percentage):
Publishing Year        0.093458
Book Name              2.149533
Author                 0.000000
language_code          4.953271
Author_Rating          0.000000
Book_average_rating    0.000000
Book_ratings_count     0.000000
genre                  0.000000
gross sales            0.000000
publisher revenue      0.000000
sale price             0.000000
sales rank             0.000000
Publisher              0.000000
units sold             0.000000
dtype: float64

**Distinct values per column**

In [569]:
distinct_values = {col: safe_nunique(df[col]) for col in df.columns}
print("\nDistinct values per column:")
print(distinct_values)

Distinct values per column:
{'Publishing Year': 150, 'Book Name': 1045, 'Author': 735, 'language_code': 8, 'Author_Rating': 4, 'Book_average_rating': 134, 'Book_ratings_count': 1064, 'genre': 4, 'gross sales': 831, 'publisher revenue': 610, 'sale price': 149, 'sales rank': 865, 'Publisher ': 9, 'units sold': 491}

**Uniqueness ratio**

(distinct values / total rows) * 100*

In [570]:
uniqueness = {col: (safe_nunique(df[col]) / num_rows) * 100 for col in df.columns}
print("\nUniqueness ratio (in %):")
uniqueness

Uniqueness ratio (in %):

{'Publishing Year': 14.018691588785046,
 'Book Name': 97.66355140186917,
 'Author': 68.69158878504673,
 'language_code': 0.7476635514018692,
 'Author_Rating': 0.3738317757009346,
 'Book_average_rating': 12.52336448598131,
 'Book_ratings_count': 99.4392523364486,
 'genre': 0.3738317757009346,
 'gross sales': 77.66355140186916,
 'publisher revenue': 57.009345794392516,
 'sale price': 13.925233644859814,
 'sales rank': 80.8411214953271,
 'Publisher ': 0.8411214953271028,
 'units sold': 45.887850467289724}

In [571]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Publishing Year      1069 non-null   float64
 1   Book Name            1047 non-null   object
 2   Author               1070 non-null   object
 3   language_code        1017 non-null   object
 4   Author_Rating        1070 non-null   object
 5   Book_average_rating  1070 non-null   float64
 6   Book_ratings_count   1070 non-null   int64
 7   genre                1070 non-null   object
 8   gross sales          1070 non-null   float64
 9   publisher revenue    1070 non-null   float64
 10  sale price           1070 non-null   float64
 11  sales rank           1070 non-null   int64
 12  Publisher            1070 non-null   object
 13  units sold           1070 non-null   int64
dtypes: float64(5), int64(3), object(6)
memory usage: 117.2+ KB

In [574]:
df.columns

Index(['Publishing Year', 'Book Name', 'Author', 'language_code',
       'Author_Rating', 'Book_average_rating', 'Book_ratings_count', 'genre',
       'gross sales', 'publisher revenue', 'sale price', 'sales rank',
       'Publisher ', 'units sold'],
      dtype='object')

##### **"genre" column**

Drop genre name from "genre" column, its adds no value.

In [572]:
df['genre'] = df['genre'].str.replace(r'\bgenre\b', '', case=False, regex=True).str.strip()

Very broad genre categories

In [560]:
df['genre'].value_counts()

genre
fiction       884
nonfiction    171
children       15
Name: count, dtype: int64

##### **"Publisher " column**

In [575]:
df['Publisher '].value_counts()

Publisher
Amazon Digital Services,  Inc.          600
Random House LLC                        120
Penguin Group (USA) LLC                 108
HarperCollins Publishers                 71
Hachette Book Group                      66
Simon and Schuster Digital Sales Inc     56
Macmillan                                41
HarperCollins Publishing                  4
HarperCollins Christian Publishing        4
Name: count, dtype: int64

In [576]:
def standardize_column_name(col):
    # Remove leading/trailing whitespace, convert to lower-case, replace spaces with underscores
    col = col.strip()
    col = col.lower()
    col = re.sub(r'\s+', '_', col)
    return col

# Standardize all column names
df.columns = [standardize_column_name(c) for c in df.columns]

# Optionally, print the new column names to verify
print(df.columns.tolist())

['publishing_year', 'book_name', 'author', 'language_code', 'author_rating', 'book_average_rating', 'book_ratings_count', 'genre', 'gross_sales', 'publisher_revenue', 'sale_price', 'sales_rank', 'publisher', 'units_sold']

In [578]:
df.to_csv('./Datasets/5_sales_N_ratings/Books_Data_Clean_Clean.csv', index=False)

### f) Amazon Kindle Books’23

In [586]:
df = pd.read_csv("./Datasets/6_kindle/kindle_data.csv")

##### **Cardinalities**

**Row Number**

In [580]:
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 133102

**String Length**

In [581]:
string_stats = {col: string_length_stats(df[col]) for col in df.columns}
print("\nString length statistics per column:")
for col, stats in string_stats.items():
    print(f"{col}: {stats}")

String length statistics per column:
asin: {'min_length': 10, 'max_length': 10, 'mean_length': 10.0, 'median_length': 10.0}
title: {'min_length': 2, 'max_length': 211, 'mean_length': 66.46685248906853, 'median_length': 61.0}
author: {'min_length': 1, 'max_length': 158, 'mean_length': 13.843710665752164, 'median_length': 13.0}
soldBy: {'min_length': 5, 'max_length': 39, 'mean_length': 22.954282346672695, 'median_length': 23.0}
imgUrl: {'min_length': 14, 'max_length': 62, 'mean_length': 61.99891812294331, 'median_length': 62.0}
productURL: {'min_length': 36, 'max_length': 36, 'mean_length': 36.0, 'median_length': 36.0}
stars: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
reviews: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
price: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
isKindleUnlimited: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
category_id: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
isBestSeller: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
isEditorsPick: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
isGoodReadsChoice: {'min_length': None, 'max_length': None, 'mean_length': None, 'median_length': None}
publishedDate: {'min_length': 10, 'max_length': 10, 'mean_length': 10.0, 'median_length': 10.0}
category_name: {'min_length': 3, 'max_length': 28, 'mean_length': 18.086136947604093, 'median_length': 20.0}

**Null values per column**

In [582]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

print("\nNull values per column (as percentage):")
print(df.isna().mean() * 100)

Null values per column (as percentage):
asin                  0.000000
title                 0.000000
author                0.319304
soldBy                6.936785
imgUrl                0.000000
productURL            0.000000
stars                 0.000000
reviews               0.000000
price                 0.000000
isKindleUnlimited     0.000000
category_id           0.000000
isBestSeller          0.000000
isEditorsPick         0.000000
isGoodReadsChoice     0.000000
publishedDate        36.825893
category_name         0.000000
dtype: float64

**Distinct values per column**

In [583]:
distinct_values = {col: safe_nunique(df[col]) for col in df.columns}
print("\nDistinct values per column:")
print(distinct_values)

Distinct values per column:
{'asin': 133102, 'title': 131913, 'author': 72805, 'soldBy': 49, 'imgUrl': 132909, 'productURL': 133102, 'stars': 38, 'reviews': 8441, 'price': 4795, 'isKindleUnlimited': 2, 'category_id': 31, 'isBestSeller': 2, 'isEditorsPick': 2, 'isGoodReadsChoice': 2, 'publishedDate': 7157, 'category_name': 31}

**Uniqueness ratio**

(distinct values / total rows) * 100*

In [584]:
uniqueness = {col: (safe_nunique(df[col]) / num_rows) * 100 for col in df.columns}
print("\nUniqueness ratio (in %):")
uniqueness

Uniqueness ratio (in %):

{'asin': 100.0,
 'title': 99.10670012471638,
 'author': 54.698652161500206,
 'soldBy': 0.036813872068038045,
 'imgUrl': 99.85499842226263,
 'productURL': 100.0,
 'stars': 0.028549533440519304,
 'reviews': 6.341752941353247,
 'price': 3.6025003380865805,
 'isKindleUnlimited': 0.0015026070231852263,
 'category_id': 0.02329040885937101,
 'isBestSeller': 0.0015026070231852263,
 'isEditorsPick': 0.0015026070231852263,
 'isGoodReadsChoice': 0.0015026070231852263,
 'publishedDate': 5.377079232468333,
 'category_name': 0.02329040885937101}

In [588]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133102 entries, 0 to 133101
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   asin               133102 non-null  object
 1   title              133102 non-null  object
 2   author             132677 non-null  object
 3   soldBy             123869 non-null  object
 4   imgUrl             133102 non-null  object
 5   productURL         133102 non-null  object
 6   stars              133102 non-null  float64
 7   reviews            133102 non-null  int64
 8   price              133102 non-null  float64
 9   isKindleUnlimited  133102 non-null  bool
 10  category_id        133102 non-null  int64
 11  isBestSeller       133102 non-null  bool
 12  isEditorsPick      133102 non-null  bool
 13  isGoodReadsChoice  133102 non-null  bool
 14  publishedDate      84086 non-null   object
 15  category_name      133102 non-null  object
dtypes: bool(4), float64(2), int64(2), object(8)
memory usage: 12.7+ MB

In [585]:
df.columns

Index(['asin', 'title', 'author', 'soldBy', 'imgUrl', 'productURL', 'stars',
       'reviews', 'price', 'isKindleUnlimited', 'category_id', 'isBestSeller',
       'isEditorsPick', 'isGoodReadsChoice', 'publishedDate', 'category_name'],
      dtype='object')

In [587]:
df.head()

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
0,B00TZE87S4,"Adult Children of Emotionally Immature Parents: How to Heal from Distant, Rejecting, or Self-Inv...",Lindsay C. Gibson,Amazon.com Services LLC,https://m.media-amazon.com/images/I/713KZTsaYpL._AC_UY218_.jpg,https://www.amazon.com/dp/B00TZE87S4,4.8,0,9.99,False,6,True,False,False,2015-06-01,Parenting & Relationships
1,B08WCKY8MB,"From Strength to Strength: Finding Success, Happiness, and Deep Purpose in the Second Half of Life",Arthur C. Brooks,Penguin Group (USA) LLC,https://m.media-amazon.com/images/I/A1LZcJFs9EL._AC_UY218_.jpg,https://www.amazon.com/dp/B08WCKY8MB,4.4,0,16.99,False,6,False,False,False,2022-02-15,Parenting & Relationships
2,B09KPS84CJ,Good Inside: A Guide to Becoming the Parent You Want to Be,Becky Kennedy,HarperCollins Publishers,https://m.media-amazon.com/images/I/71RIWM0sv6L._AC_UY218_.jpg,https://www.amazon.com/dp/B09KPS84CJ,4.8,0,16.99,False,6,False,True,False,2022-09-13,Parenting & Relationships
3,B07S7QPG6J,Everything I Know About Love: A Memoir,Dolly Alderton,HarperCollins Publishers,https://m.media-amazon.com/images/I/71QdQpTiKZL._AC_UY218_.jpg,https://www.amazon.com/dp/B07S7QPG6J,4.2,0,9.95,True,6,False,True,False,2020-02-25,Parenting & Relationships
4,B00N6PEQV0,The Seven Principles for Making Marriage Work: A Practical Guide from the Country's Foremost Rel...,John Gottman,Random House LLC,https://m.media-amazon.com/images/I/813o4WOs+wL._AC_UY218_.jpg,https://www.amazon.com/dp/B00N6PEQV0,4.7,0,13.99,False,6,False,False,False,2015-05-05,Parenting & Relationships

### f) WonderBook

In [590]:
path = "./Datasets/7_wonderbk/wonderbooks.csv"
df = pd.read_csv(path)

##### **Cardinalities**

**Row Number**

In [591]:
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 103082

**String Length**

In [592]:
string_stats = {col: string_length_stats(df[col]) for col in df.columns}
print("\nString length statistics per column:")
for col, stats in string_stats.items():
    print(f"{col}: {stats}")

String length statistics per column:
Title: {'min_length': 1, 'max_length': 293, 'mean_length': 44.741875400166855, 'median_length': 39.0}
Authors: {'min_length': 2, 'max_length': 305, 'mean_length': 25.969373896509573, 'median_length': 19.0}
Description: {'min_length': 1, 'max_length': 23502, 'mean_length': 735.8172275789384, 'median_length': 578.0}
Category: {'min_length': 12, 'max_length': 99, 'mean_length': 34.31217495319326, 'median_length': 33.0}
Publisher: {'min_length': 1, 'max_length': 150, 'mean_length': 15.26375225566098, 'median_length': 14.0}
Publish Date: {'min_length': 12, 'max_length': 28, 'mean_length': 23.437059816456802, 'median_length': 23.0}
Price: {'min_length': 23, 'max_length': 27, 'mean_length': 23.107846180710503, 'median_length': 23.0}

**Null values per column**

In [593]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

print("\nNull values per column (as percentage):")
print(df.isna().mean() * 100)

Null values per column (as percentage):
Title            0.000000
Authors          0.000000
Description     31.886265
Category        25.387556
Publisher        0.007761
Publish Date     0.000000
Price            0.000000
dtype: float64

**Distinct values per column**

In [594]:
distinct_values = {col: safe_nunique(df[col]) for col in df.columns}
print("\nDistinct values per column:")
print(distinct_values)

Distinct values per column:
{'Title': 97818, 'Authors': 63580, 'Description': 68831, 'Category': 3106, 'Publisher': 13029, 'Publish Date': 956, 'Price': 1387}

**Uniqueness ratio**

(distinct values / total rows) * 100*

In [595]:
uniqueness = {col: (safe_nunique(df[col]) / num_rows) * 100 for col in df.columns}
print("\nUniqueness ratio (in %):")
uniqueness

Uniqueness ratio (in %):

{'Title': 94.89338584815971,
 'Authors': 61.67905162880037,
 'Description': 66.77305446149667,
 'Category': 3.0131351739391943,
 'Publisher': 12.63945208668827,
 'Publish Date': 0.9274170078190178,
 'Price': 1.345530742515667}

In [596]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103082 entries, 0 to 103081
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Title         103082 non-null  object
 1   Authors       103082 non-null  object
 2   Description   70213 non-null   object
 3   Category      76912 non-null   object
 4   Publisher     103074 non-null  object
 5   Publish Date  103082 non-null  object
 6   Price         103082 non-null  object
dtypes: object(7)
memory usage: 5.5+ MB

In [597]:
df.columns

Index(['Title', 'Authors', 'Description', 'Category', 'Publisher',
       'Publish Date', 'Price'],
      dtype='object')

In [598]:
df.head()

,Title,Authors,Description,Category,Publisher,Publish Date,Price
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday,"Friday, January 1, 1993",Price Starting at $8.79
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,"Sunday, March 1, 1981",Price Starting at $4.99
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,"Thursday, September 1, 1983",Price Starting at $4.99
3,When Your Corporate Umbrella Begins to Leak: A Handbook for White Collar Re-Employment,"By Davis, Paul D.",NaN,NaN,Natl Pr Books,"Monday, April 1, 1991",Price Starting at $4.99
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler,"Saturday, February 1, 1997",Price Starting at $5.32

##### **"Publish Date" column**

Parsing into ISO format YYYY-MM-DD.

In [602]:
df['publication_date'] = pd.to_datetime(df['Publish Date'], errors='coerce')

# Display a sample of the original and parsed publish dates
print(df[['Publish Date', 'publication_date']].head())

                  Publish Date publication_date
0      Friday, January 1, 1993       1993-01-01
1        Sunday, March 1, 1981       1981-03-01
2  Thursday, September 1, 1983       1983-09-01
3        Monday, April 1, 1991       1991-04-01
4   Saturday, February 1, 1997       1997-02-01

##### **"Price" column**

Parsing the numeric price.

In [604]:
has_dollar = df['Price'].str.contains(r'\$', regex=True)
print("Rows where 'Price' does not contain '$':")
print(df.loc[~has_dollar, ['Price']].head())

df['price'] = df['Price'].str.extract(r'\$(\d+\.\d+)')[0].astype(float)
df[['Price', 'price']].head()

Rows where 'Price' does not contain '$':
Empty DataFrame
Columns: [Price]
Index: []

                     Price  price
0  Price Starting at $8.79   8.79
1  Price Starting at $4.99   4.99
2  Price Starting at $4.99   4.99
3  Price Starting at $4.99   4.99
4  Price Starting at $5.32   5.32

##### **"Authors Date" column**

Removing By and putting Names in proper order: First name - Middle name - Surname

In [608]:
def clean_authors(author_str):
    if not isinstance(author_str, str):
        return author_str
    # Remove the "By " prefix if present (case-insensitive)
    author_str = author_str.strip()
    if author_str.lower().startswith("by "):
        author_str = author_str[3:].strip()
    # If a comma is present, assume the format is "Last, First" and reformat to "First Last"
    if ',' in author_str:
        parts = [part.strip() for part in author_str.split(',')]
        if len(parts) >= 2:
            first_names = " ".join(parts[1:])
            return f"{first_names} {parts[0]}"
    return author_str

# Create a new column 'authors' with the cleaned values while keeping the original 'Authors' column intact
df['authors'] = df['Authors'].apply(clean_authors)

# Display a sample to verify the transformation
df[['Title', 'Authors', 'authors']].head()

,Title,Authors,authors
0,Goat Brothers,"By Colton, Larry",Larry Colton
1,The Missing Person,"By Grumbach, Doris",Doris Grumbach
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",Joseph C. Piscatella
3,When Your Corporate Umbrella Begins to Leak: A Handbook for White Collar Re-Employment,"By Davis, Paul D.",Paul D. Davis
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",Amy Spangler

##### **"Publisher" Standardization Synonyms**

In [612]:
merged_groups = get_standardized_groups(df, 'Publisher', threshold=94, scorer=fuzz.ratio)
print("Potential standardized groups:")
for group in merged_groups[:15]:
    print(group)

Potential standardized groups:
{'Doubleday'}
{'Putnam Pub Group', 'Putnam Pub. Group'}
{'Workman Pub Co', 'Workman Pub. Co'}
{'Natl Pr Books'}
{'Amy Spangler'}
{'Excalibur Press'}
{'Health Communications, Inc.', 'Health Communications Inc'}
{'VSP Books'}
{'Random House'}
{'Oxmoor House'}
{'Workman Publishing Company'}
{'Simons & Schuster', 'Simon & Schuster'}
{'Crown'}
{'HarperPerennial', 'Harper Perennial'}
{'Vintage'}

In [614]:
freq = df['Publisher'].value_counts().to_dict()
# mapping dictionary
mapping = {}
for group in merged_groups:
    canonical = max(group, key=lambda x: freq.get(x, 0))
    for pub in group:
        mapping[pub] = canonical

for pub in unique_publishers:
    if pub not in mapping:
        mapping[pub] = pub
        
df['publisher_standard'] = df['Publisher'].map(lambda x: mapping.get(x, x))

print("\nStandardized Publisher names added to DataFrame:")
df.head()

Standardized Publisher names added to DataFrame:

,Title,Authors,Description,Category,Publisher,Publish Date,Price,parsed_publish_date,publication_date,price,authors,publisher_standard
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday,"Friday, January 1, 1993",Price Starting at $8.79,1993-01-01,1993-01-01,8.79,Larry Colton,Doubleday
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,"Sunday, March 1, 1981",Price Starting at $4.99,1981-03-01,1981-03-01,4.99,Doris Grumbach,Putnam Pub Group
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,"Thursday, September 1, 1983",Price Starting at $4.99,1983-09-01,1983-09-01,4.99,Joseph C. Piscatella,Workman Pub Co
3,When Your Corporate Umbrella Begins to Leak: A Handbook for White Collar Re-Employment,"By Davis, Paul D.",NaN,NaN,Natl Pr Books,"Monday, April 1, 1991",Price Starting at $4.99,1991-04-01,1991-04-01,4.99,Paul D. Davis,Natl Pr Books
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler,"Saturday, February 1, 1997",Price Starting at $5.32,1997-02-01,1997-02-01,5.32,Amy Spangler,Amy Spangler

In [615]:
df.columns

Index(['Title', 'Authors', 'Description', 'Category', 'Publisher',
       'Publish Date', 'Price', 'parsed_publish_date', 'publication_date',
       'price', 'authors', 'publisher_standard'],
      dtype='object')

## 4. Blocking Strategy - Three similarity metrics
To perform the blocking we will need the following packages:

In [1]:
from unidecode import unidecode
import isbnlib
import jellyfish

Note that only the tables referring to the books and their attributes were used, the dataset tables referring to ratings, users or others were not used.
### 4.1. Normalization of the datasets
#### 4.1.1. Necessary functions
First, we had to normalize the datasets in order for the metrics to be more accurate. Below are the functions that we had to create and use to normalize our data.

In [9]:
# We had to normalize the names of the columns so that we could use da similarity metrics by column
def normalize_column_names(df):
    column_map = {
        'ISBN': 'isbn13',
        'ISBN_13': 'isbn13',
        'parent_asin': 'asin',
        'ASIN': 'asin',
        'authors': 'author',
        'Authors': 'author',
        'Book-Author': 'author',
        'Author': 'author',
        'AUTHOR': 'author',
        'title_text': 'title',
        'TITLE': 'title',
        'Book-Title': 'title',
        'Book Name': 'title',
        'Title': 'title'
    }
    df = df.rename(columns={col: column_map.get(col, col) for col in df.columns})
    return df


# This funcion normalize the titles of each book
def normalize_text(text):
    if pd.isna(text):
        return ""
    text = text.lower().strip()  
    text = re.sub(r'[^\w\s]', '', text)
    text = re.sub(r'\s+', ' ', text)  
    return unidecode(text) 


# This one is to normalize da isbn of each book
def normalize_isbn(isbn):
    if not isbn or not isinstance(isbn, str) or isbn.strip() == "":  # some isbns are in varchar insted of integer in our datasets
        return None
    isbn = isbnlib.canonical(isbn)
    if isbnlib.is_isbn10(isbn):
        return isbnlib.to_isbn13(isbn)
    return isbn if isbnlib.is_isbn13(isbn) else None


# Function to normalize asin
def normalize_asin(asin):
    if pd.isna(asin):
        return ""
    return asin.strip().upper()


# Function to normalize the column author in some datasets, that only have 1 author
def normalize_author1(author):
    if pd.isna(author):
        return ""
    author = unidecode(author)              
    author = re.sub(r"[^A-Za-z0-9\s]", "", author)      
    author = re.sub(r"\s+", " ", author)     
    author = author.strip().upper()          
    return author


# Function to normalize the column authors in some datasets that separate the authors by "/")
def normalize_authors2(authors):
    if pd.isna(authors) or not isinstance(authors, str):
        return ""
    author_list = [a.strip() for a in authors.split('/')]
    normalized_authors = []
    for author in author_list:
        author = unidecode(author)
        author = re.sub(r"[^A-Za-z0-9\s]", "", author) 
        author = re.sub(r"\s+", " ", author)  
        author = author.strip().upper() 
        normalized_authors.append(author)
    return ", ".join(normalized_authors)


# Function to normalize the column author in some datasets, that only have 1 author
def normalize_authors3(authors):
    if pd.isna(authors) or not isinstance(authors, str) or authors.strip() == "":
        return ""
    author_list = [a.strip() for a in authors.split(",")]
    normalized_authors = []
    for author in author_list:
        author = unidecode(author)   
        author = re.sub(r"[^A-Za-z0-9\s]", "", author)
        author = re.sub(r"\s+", " ", author)  
        author = author.strip().upper()  
        normalized_authors.append(author)
    return ", ".join(normalized_authors)


# Function to normalize the column authors in some datasets that separate the authors by "and")
def normalize_author4(author):
    if pd.isna(author) or not isinstance(author, str): 
        return ""
   
    authors = author.split(',')
   
    normalized_authors = []
    for individual_author in authors:
        individual_author = individual_author.strip()
        individual_author = individual_author.replace("by ", "").replace("By ", "")
        individual_author = unidecode(individual_author)
        individual_author = individual_author.upper()
        normalized_authors.append(individual_author)
        return ", ".join(normalized_authors)

#### 4.1.2. Aplication of Normalization
Note that we only use the columns necessary for blocking, that is, we remove the columns that will not be necessary to perform blocking.
#### a) Amazon Reviews 2023 (metadata)
In this dataset we only had to normalize the collunms: "parent_asin" and "title".We only used the table about the metadata of the books for the blocking.

In [10]:
df1 = pd.read_csv("C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\1_amazon\\amazon_meta_books.csv")

df1['parent_asin'] = df1['parent_asin'].apply(normalize_asin)
df1['title'] = df1['title'].apply(normalize_text)
df1=normalize_column_names(df1)
df1_normalized_only = df1[['asin', 'title']]

output_path1 = "C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\1_amazon\\amazon_meta_books_normalized.csv"
n1=df1.to_csv(output_path1, index=False)

#### b) Goodreads - 2017 (metadata)
In this dataset we only had to normalize the collunms: "title", "authors" and "isbn13". We only used the table about the metadata of the books for the blocking.

In [ ]:
df2 = pd.read_csv("C:\\Users\\maria\\Downloads\\Trabalho de grupo\Datasets\Datasets\\2_3_goodreads\\goodReads_2019_2020_fixed.csv")

df2['title'] = df2['title'].apply(normalize_text)
df2['authors'] = df2['authors'].apply(normalize_authors2)
df2['isbn13'] = df2['isbn13'].apply(normalize_isbn)
df2=normalize_column_names(df2)
df2_normalized_only = df2[['title', 'author', 'isbn13']]

output_path2 = "C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\2_3_goodreads\\goodReads_2019_2020_normalized.csv"

#### c) Goodreads - 2019 & 2020
In this dataset we only had to normalize the collumns: "asin" and "isbn". This dataset is in json format so it was treated differently from the others.

In [ ]:
input_path = "C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\2_3_goodreads\\goodreads_3000RCount.json"
df = pd.read_json(input_path, lines=True)

df['asin'] = df.apply(lambda row: row.get('asin') or row.get('kindle_asin') or "", axis=1)
df['isbn'] = df.apply(lambda row: row.get('isbn13') or row.get('isbn') or "", axis=1)
df['isbn'] = df['isbn'].apply(normalize_isbn)
df_cleaned = df[['asin', 'isbn']]

output_path3 = "C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\2_3_goodreads\\goodreads_3000RCount_normalized.csv"
df_cleaned.to_csv(output_path3, index=False)

#### d) BookCrossing Community
In this dataset we only had to normalize the collumns: "ISBN", "Book-Title" and "Book-author". We only look at the books table for the blocking.

In [ ]:
df4 = pd.read_csv("C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\4_bookcrossing\\book_crossing_Books.csv")

df4['ISBN'] = df4['ISBN'].apply(normalize_isbn)
df4['Book-Title'] = df4['Book-Title'].apply(normalize_text)
df4['Book-Author'] = df4['Book-Author'].apply(normalize_author1)
df4=normalize_column_names(df4)
df4_normalized_only = df4[['isbn13', 'title', 'author']]

output_path4 = "C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\4_bookcrossing\\book_crossing_Books_normalized.csv"
n4=df4.to_csv(output_path4, index=False)

#### e) Book Sales and Ratings
In this dataset we only had to normalize the collumns: "Book Name" and "Author".

In [ ]:
df5 = pd.read_csv("C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\5_sales_N_ratings\\Books_Data_Clean.csv")

df5['Book Name'] = df5['Book Name'].apply(normalize_text)
df5['Author'] = df5['Author'].apply(normalize_authors3)
df5=normalize_column_names(df5)
df5_normalized_only = df5[['title', 'author']]

output_path5 = "C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\5_sales_N_ratings\\Books_Data_Clean_Normalized.csv"
n5=df5.to_csv(output_path5, index=False)

#### f) Book Sales and Rantings
In this dataset we only had to normalize the collumns: "ASIN" and "AUTHOR".

In [ ]:
df6 = pd.read_csv("C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\6_ranks_print_kindle\\amazon_com_extras.csv", encoding="latin1", on_bad_lines="skip", quotechar='"')

df6['ASIN'] = df6['ASIN'].apply(normalize_asin)
df6['AUTHOR'] = df6['AUTHOR'].apply(normalize_author1)
df6=normalize_column_names(df6)
df6_normalized_only = df6[['asin','title', 'author']]

output_path6 = "C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\6_ranks_print_kindle\\amazon_com_extras_normalized.csv"
n6=df6.to_csv(output_path6, index=False)

#### g) Amazon Kindle Books Dataset 2023
In this dataset we only had to normalize the collumns: "asin", "title" and "author".

In [ ]:
df7 = pd.read_csv("C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\7_kindle\\kindle_data-v2.csv")

df7['asin'] = df7['asin'].apply(normalize_asin)
df7['title'] = df7['title'].apply(normalize_text)
df7['author'] = df7['author'].apply(normalize_author1)
df7=normalize_column_names(df7)
df7_normalized_only = df7[['asin','title', 'author']]

output_path7 = "C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\7_kindle\\kindle_data-v2_normalized.csv"
n7=df7.to_csv(output_path7, index=False)

#### h) WonderBook
In this dataset we only had to normzalize the collumns: "Title" and "Authors".

In [ ]:
df8 = pd.read_csv("C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\8_wonderbk\BooksDataset.csv")

df8['Title'] = df8['Title'].apply(normalize_text)
df8['Authors'] = df8['Authors'].apply(normalize_author4)
df8=normalize_column_names(df8)
df8_normalized_only = df8[['title', 'author']]

output_path8 = "C:\\Users\\maria\\Downloads\\Trabalho de grupo\\Datasets\\Datasets\\8_wonderbk\BooksDataset_Normalized.csv"
n8=df8.to_csv(output_path8, index=False)

### 4.2. Blocking aplication
For the keys we use the following strategy:
- First prioritize "isbn", comparing by exact match;
- Then prioritize "asin", comparing by exact match;
- Finally by "title" and "author" of the book, using the Jaccard (titles) and Jaro-Winkler (authors) similarity metrics.

Note: The auxiliary function serves only to help create the Jaccard method.

For each group of matches found:
- Join the data from all the datasets where the book appeared.
- Indicate which datasets it came from (datasets_match).

Finally, the code exports everything to a CSV where each line is a book found in common, bringing the columns from all the datasets.

In [ ]:
# Creation of the keys
def gerar_chaves_por_dataset(df, nome_dataset):
    chaves = {}
    for idx, row in df.iterrows():
        isbn = str(row.get("isbn13") or row.get("isbn") or "").strip()
        asin = str(row.get("asin") or "").strip()
        titulo = str(row.get("title") or row.get("titulo") or "").strip()
        autor = str(row.get("author") or row.get("autor") or "").strip()

        if isbn:
            chave = "isbn_" + isbn
        elif asin:
            chave = "asin_" + asin
        else:
            chave = "titulo_autor_" + titulo + "_" + autor
        chaves[chave] = (idx, nome_dataset)  
    return chaves

# Auxiliary function for the Jaccard similarity metric
def jaccard_sim(str1, str2):
    set1 = set(str1.split())
    set2 = set(str2.split())
    intersecao = set1.intersection(set2)
    uniao = set1.union(set2)
    return len(intersecao) / len(uniao) if uniao else 0

def encontrar_comuns(datasets, nomes_datasets, limiar_autor=0.9, limiar_titulo=0.8, minimo_datasets=2):
    chaves_por_dataset = []
    for i, df in enumerate(datasets):
        chaves_por_dataset.append(gerar_chaves_por_dataset(df, nomes_datasets[i]))

    matches = []
    total_datasets = len(datasets)

    # Create a list to store the matches and the datasets where the match occurred
    for chave_base in chaves_por_dataset[0]:
        idxs = [None] * total_datasets
        presencas = 1
        datasets_com_match = [nomes_datasets[0]] 

        idxs[0] = chaves_por_dataset[0][chave_base][0]
        
        tipo = ""

        if chave_base.startswith("isbn_"):
            tipo = "isbn"
            for i in range(1, total_datasets):
                if chave_base in chaves_por_dataset[i]:
                    idxs[i] = chaves_por_dataset[i][chave_base][0]
                    presencas += 1
                    datasets_com_match.append(nomes_datasets[i])

        elif chave_base.startswith("asin_"):
            tipo = "asin"
            for i in range(1, total_datasets):
                if chave_base in chaves_por_dataset[i]:
                    idxs[i] = chaves_por_dataset[i][chave_base][0]
                    presencas += 1
                    datasets_com_match.append(nomes_datasets[i])

        elif chave_base.startswith("titulo_autor_"):
            tipo = "fuzzy"
            titulo_base = datasets[0].loc[chaves_por_dataset[0][chave_base][0]]["title"]
            autor_base = datasets[0].loc[chaves_por_dataset[0][chave_base][0]]["author"]

            for i in range(1, total_datasets):
                for chave_cand, (idx_cand, _) in chaves_por_dataset[i].items():
                    if chave_cand.startswith("titulo_autor_"):
                        row_cand = datasets[i].loc[idx_cand]
                        sim_autor = jellyfish.jaro_winkler_similarity(autor_base, row_cand["author"])
                        sim_titulo = jaccard_sim(titulo_base, row_cand["title"])
                        if sim_autor >= limiar_autor and sim_titulo >= limiar_titulo:
                            idxs[i] = idx_cand
                            presencas += 1
                            datasets_com_match.append(nomes_datasets[i])
                            break

        # If the book is found in at least 2 datasets, we add it to the result
        if presencas >= minimo_datasets:
            grupo = []
            for i, idx in enumerate(idxs):
                if idx is not None:
                    grupo.append(datasets[i].loc[idx])

            # Add information about which dataset contains the match
            grupo.append({"datasets_match": ", ".join(datasets_com_match)})
            matches.append(grupo)

    return matches

# Dataset paths
if __name__ == "__main__":
    caminhos_datasets = [
        "C:\\Users\\diogo\\Desktop\\Mestrado\\IPAI\\Datasets\\Datasets\\1_amazon\\amazon_meta_books_normalized.csv", 
        "C:\\Users\\diogo\\Desktop\\Mestrado\\IPAI\\Datasets\\Datasets\\2_3_goodreads\\goodreads_2019_2020_normalized.csv", 
        "C:\\Users\\diogo\\Desktop\\Mestrado\\IPAI\\Datasets\\Datasets\\2_3_goodreads\\goodreads_3000RCount_normalized.csv", 
        "C:\\Users\\diogo\\Desktop\\Mestrado\\IPAI\\Datasets\\Datasets\\4_bookcrossing\\book_crossing_Books_normalized.csv", 
        "C:\\Users\\diogo\\Desktop\\Mestrado\\IPAI\\Datasets\\Datasets\\5_sales_N_ratings\\Books_Data_Clean_normalized.csv",
        "C:\\Users\\diogo\\Desktop\\Mestrado\\IPAI\\Datasets\\Datasets\\6_ranks_print_kindle\\amazon_com_extras_normalized.csv",
        "C:\\Users\\diogo\\Desktop\\Mestrado\\IPAI\\Datasets\\Datasets\\7_kindle\\kindle_data-v2_normalized.csv",
        "C:\\Users\\diogo\\Desktop\\Mestrado\\IPAI\\Datasets\\Datasets\\8_wonderbk\\BooksDataset_normalized.csv"
    ]
    nomes_datasets = ["1_amazon", "2_goodreads", "3_goodreads", "4_bookcrossing", "5_sales_N_ratings", "6_ranks_print_kindle", "7_kindle", "8_wonderbk" ]

    datasets = [pd.read_csv(caminho) for caminho in caminhos_datasets]

    matches = encontrar_comuns(datasets, nomes_datasets, minimo_datasets=2)

# Export results to a CSV with the datasets_match column
    def exportar_csv(matches, nome_ficheiro):
        linhas = []
        for grupo in matches:
            registo_comum = {}
            for i, livro in enumerate(grupo[:-1]): 
                for chave, valor in livro.items():
                    registo_comum[f"{chave}_dataset{i+1}"] = valor

            registo_comum["datasets_match"] = grupo[-1]["datasets_match"]
            linhas.append(registo_comum)

        df_resultado = pd.DataFrame(linhas)
        df_resultado.to_csv(nome_ficheiro, index=False)

    exportar_csv(matches, "C:\\Users\\diogo\\Desktop\\Mestrado\\IPAI\\pasta\\matches_resultado.csv")